payment-form{

  .content-wrapper{
    border: 1px solid rgba(0, 0, 0, 0.03);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
    margin-left: auto;
    margin-right: auto;
  }
  .content-wrapper .alt{
    background-color: rgb(224, 224, 224);
  }
  .content-wrapper mat-card.mat-card{
    box-shadow: 0 6px 8px 3px rgba(0,0,0,.2), 0 8px 2px 0 rgba(0,0,0,.14), 0 1px 82px 0 rgba(0,0,0,.12);
  }
  .content-wrapper .payment-card .mat-card:hover{
    box-shadow: 6px 13px 3px 2px rgba(0, 0, 0, 0.2), 6px 13px 3px 2px rgba(0, 0, 0, 0.14), 0px 1px 82px 0px rgba(0, 0, 0, 0.12);
  }

  .rate-title{
    font-size: 20px;
  }

  .help-button{
    position: fixed;
    bottom: 10px;
    right: 10px;
  }

  @media (min-width:1200px){
    .content-wrapper{
      width: auto;
      max-width: 1200px;
      text-align: center;
    }
    .contact-rate{
      width: 23%;
      display: inline-block;
      margin: 5px;
    }
    .review{
      width: 47%;
      display: inline-block;
      margin: 5px;
    }
    .benefit{
      width: 47%;
      display: inline-block;
      margin: 8px;
    }
    .benefit mat-card{
      min-height: 160px;
    }
    .benefit .last-benefit{
      top: -4px;
    }
    .benefit-subtitle span{
      font-size: 16px;
    }
    @-moz-document url-prefix() {
      .benefit-checked-offers .benefit-subtitle span{
        font-size: 15px;
      }
    }
  }

  @media (max-width:1199px){
    .content-wrapper{
      width: auto;
      max-width: 1199px;
      text-align: center;
    }
    .contact-rate{
      width: 26%;
      display: inline-block;
      margin: 7px;
    }
    .review{
      width: 47%;
      display: inline-block;
      margin: 5px;
    }
    .benefit{
      width: 47%;
      display: inline-block;
      margin: 8px;
    }
    .benefit mat-card{
      min-height: 192px;
    }
    .benefit .last-benefit{
      top: -4px;
    }
  }

  @media (max-width:1060px){
    .content-wrapper{
      width: auto;
      max-width: 1060px;
      text-align: center;
    }
    .contact-rate{
      width: 33%;
      display: inline-block;
      margin: 8px;
    }
    .review{
      width: 47%;
      display: inline-block;
      margin: 5px;
    }
    .benefit{
      width: 47%;
      display: inline-block;
      margin: 8px;
    }
    .benefit mat-card{
      min-height: 192px;
    }
    .benefit .last-benefit{
      top: -4px;
    }
  }

  @media (max-width:799px){
    .content-wrapper{
      width: auto;
      max-width: 799px;
      text-align: center;
    }
    .contact-rate{
      width: 100%;
      display: inline-block;
      margin-top: 8px;
      margin-left: auto;
      margin-right: auto;
    }
    .review{
      width: 100%;
      display: inline-block;
      margin-top: 8px;
      margin-left: auto;
      margin-right: auto;
    }
    .benefit{
      width: 100%;
      display: inline-block;
      margin-top: 8px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .rate-title span{
    font-size: 76px;
    color: mat-color($candy-app-accent);
  }
  .rate-title span.margin-right{
    margin-right: 7px;
  }
  .rate-title sup{
    font-size: 20px;
  }
  .rate-subtitle mat-icon{
    vertical-align: top;
    color: #43A047;
    margin-right: 5px;
  }
  .rate-title.guarantee-rate svg{
    margin-left: 8px;
  }
  .rate-title.guarantee-rate .sup{
    margin-left: -23px;
  }
  .rate-subtitle span{
    vertical-align: top;
    color: rgba(0, 0, 0, 0.87);
    font-size: 18px;
  }
  .rate-content span{
    font-size: 55px;
  }
  .rate-content sup{
    font-size: 29px;
    top: 0px;
  }
  .rate-actions{
    margin-bottom: 20px!important;
  }
  .rate-actions button{
    background-color: mat-color($candy-app-accent);
    width: 142px;
    height: 59px;
    color: white;
    font-size: 19px;
    border-radius: 34px;
  }

  .guarantee-subtitle .mat-icon{
    height: 12px;
    width: 12px;
  }

  .guarantee-subtitle svg{
    width: 16px;
    height: 16px;
    vertical-align: bottom;
    margin-left: -4px;
  }

  #days-rates-title{
    margin-top: 10px;
  }

  .review-header-image{
    background-size: cover;
    height: 120px;
    width: 120px;
  }

  .review-header{
    text-align: left;
  }
  .review-header a{
    text-decoration: none;
  }
  .review-header mat-icon.social{
    vertical-align: middle;
  }
  .review-header mat-icon.launch {
    font-size: 15px;
    vertical-align: sub;
  }
  .review-header mat-icon.star-rate {
    font-size: 22px;
    vertical-align: sub;
    color: gold;
  }
  .reviews-title{
    font-size: 32px;
  }

  .benefit-header-icon mat-icon{
    font-size: 75px;
    color: #43A047;
  }
  .benefit-header-icon mat-icon.guarantee-icon svg{
    width: 67px;
    height: 67px;
    color: #43A047;
  }
  .benefit-title{
    margin-left: 39px;
    text-align: left;
  }
  .benefit-title span{
    font-size: 17px;
  }
  .benefit-subtitle{
    margin-left: 39px;
    text-align: left;
  }
  .benefit-header mat-icon.guarantee-rate{
    vertical-align: bottom;
  }
}