﻿
<script id="payment-confirmations-template" type="text/kendo-tmpl">
  
  # for(var i = 0; i < PaymentConfirmations.length; i++) { #
  # var confirmation = PaymentConfirmations[i]; #
  <ul>
    <li>NotificationType - #: confirmation.NotificationType #</li>
    <li>OperationId - #: confirmation.OperationId #</li>
    <li>Amount - #: confirmation.Amount #</li>
    <li>WithdrawAmount - #: confirmation.WithdrawAmount #</li>
    <li>Currency - #: confirmation.Currency #</li>
    <li>DateTime - #: confirmation.DateTime #</li>
    <li>Sender - #: confirmation.Sender #</li>
    <li>CodePro - #: confirmation.CodePro #</li>
    <li>Label - #: confirmation.Label #</li>
    <li>Sha1Hash - #: confirmation.Sha1Hash #</li>
    <li>TestNotification - #: confirmation.TestNotification #</li>
    <li>Unaccepted - #: confirmation.Unaccepted #</li>
    <li>LastName - #: confirmation.LastName #</li>
    <li>FirstName - #: confirmation.FirstName #</li>
    <li>FathersName - #: confirmation.FathersName #</li>
    <li>Email - #: confirmation.Email #</li>
    <li>Phone - #: confirmation.Phone #</li>
    <li>City - #: confirmation.City #</li>
    <li>Street - #: confirmation.Street #</li>
    <li>Building - #: confirmation.Building #</li>
    <li>Suite - #: confirmation.Suite #</li>
    <li>Flat - #: confirmation.Flat #</li>
    <li>Zip - #: confirmation.Zip #</li>
    <li>AccessDateBefore - #: confirmation.AccessDateBefore #</li>
    <li>AccessDateAfter - #: confirmation.AccessDateAfter #</li>
  </ul>
  # } #

</script>
