﻿@using System.Linq.Expressions
@using Kendo.Mvc.UI
@using WebParser.Controllers.Mappers
@using WebParser.Controllers.ViewModels.User
@model WebParser.Controllers.ViewModels.User.PublisherItemViewModel

<script type="text/x-kendo-template" id="js-publisher-template">
  <div class="row-fluid">
    <div class="box span12">
      <div class="box-header" data-original-title>
        <h2>
          <i class="halflings-icon edit"></i><span class="break"></span>{{= text }} Publisher
        </h2>
      </div>
      <div class="box-content">
        
        <form class="form-horizontal js-user-form js-validateble-form" action="{{= action }}" method="post">
          @Html.ValidationSummary()

          @Html.HiddenFor(x => x.Id, new {@Value = "{{= id }}"})

          <fieldset>

            <div class="control-group">
              @Html.LabelFor(x => x.Email, new
              {
                @class = "control-label"
              })
              <div class="controls">
                {{ if(showAsEdit){ }}
                  @Html.TextBoxFor(x => x.Email, new {@Value = "{{= email }}", @readonly = "readonly"}) 
                {{ } else { }}
                  @Html.TextBoxFor(x => x.Email)
                  @Html.ValidationMessageFor(x => x.Email)
                {{ } }}
              </div>
            </div>

            <div class="control-group">
              @Html.LabelFor(x => x.AccessDateTime, new
              {
                @class = "control-label"
              })
              <div class="controls">
                @(Html.Kendo()
                    .DateTimePickerFor(x => x.AccessDateTime)
                    .HtmlAttributes(new { @Value = "{{= accessDateTime }}" })
                    .Format(ViewModelMapper.DateTimeFormat)
                    .ToClientTemplate())
                @Html.ValidationMessageFor(x => x.AccessDateTime)
              </div>
            </div>
            
            <div class="control-group">
              @Html.LabelFor(x => x.SiteId, new
               {
                 @class = "control-label"
               })
              <div class="controls">
                @(Html.Kendo().DropDownListFor(x => x.SiteId)
                  .HtmlAttributes(new { @Value = "{{= siteId }}" })
                  .BindTo(Model.Sites)
                  .DataTextField("Name")
                  .DataValueField("Id")
                  .ToClientTemplate())
                @Html.ValidationMessageFor(x => x.SiteId)
              </div>
            </div>

            <div class="control-group">
              @Html.LabelFor(x => x.ArticlesGroupId, new
              {
                @class = "control-label"
              })
              <div class="controls">
                @(Html.Kendo().DropDownListFor(x => x.ArticlesGroupId)
                    .HtmlAttributes(new { @Value = "{{= articlesGroupId }}" })
                    .DataTextField("Name")
                    .DataValueField("Id")
                    .DataSource(
                      x => 
                        x.Read(y => y
                                  .Action("GetArticleGroupItemsBySite", "ArticlesGroup")
                                  .Type(HttpVerbs.Post)
                                  .Data("application.additionalDataHandlers.getHandler('onGetArticleGroupItemsBySite')")))
                    .ToClientTemplate())
                @Html.ValidationMessageFor(x => x.ArticlesGroupId)
              </div>
            </div>

            <div class="form-actions">
              <button type="button" class="btn btn-primary {{= submitButtonClass }} js-submit-button">{{= text }} </button>
              <button type="reset" class="btn js-cancel-button">Cancel</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</script>