﻿@using System.Linq.Expressions
@using Kendo.Mvc.UI
@using WebParser.Controllers.Mappers
@using WebParser.Controllers.ViewModels.User
@model WebParser.Controllers.ViewModels.User.UserItemViewModel

<script type="text/x-kendo-template" id="js-user-template">
  <div class="row-fluid">
    <div class="box span12">
      <div class="box-header" data-original-title>
        <h2>
          <i class="halflings-icon edit"></i><span class="break"></span>{{= text }} User
        </h2>
      </div>
      <div class="box-content">
        
        <form class="form-horizontal js-user-form js-validateble-form" action="{{= action }}" method="post">
          @Html.ValidationSummary()

          @Html.HiddenFor(x => x.Id, new {@Value = "{{= id }}"})
          
          <fieldset>  

            <div class="control-group">
              @Html.LabelFor(x => x.Email, new
              {
                @class = "control-label"
              })
              <div class="controls">
                {{ if(showAsEdit){ }}
                  @Html.TextBoxFor(x => x.Email, new {@Value = "{{= email }}", @readonly = "readonly"}) 
                {{ } else { }}
                  @Html.TextBoxFor(x => x.Email)
                  @Html.ValidationMessageFor(x => x.Email)
                {{ } }}
              </div>
            </div>
               
            {{ if(showUserFields){ }}
            <div class="control-group">
              @Html.LabelFor(x => x.MaxSiteCount, new
              {
                @class = "control-label"
              })
              <div class="controls">
                @(Html.Kendo()
                    .NumericTextBoxFor(x => x.MaxSiteCount)
                    .HtmlAttributes(new { @Value = "{{= maxSiteCount }}" })
                    .Step(1)
                    .Format("#")
                    .Min(0)
                    .Max(100)
                    .Value(1)
                    .ToClientTemplate()) 
                @Html.ValidationMessageFor(x => x.MaxSiteCount)
              </div>
            </div>
            
            <div class="control-group">
              @Html.LabelFor(x => x.NameForViewers, new
              {
                @class = "control-label"
              })
              <div class="controls">
                @Html.TextBoxFor(x => x.NameForViewers, new {@Value = "{{= nameForViewers }}"})
                @Html.ValidationMessageFor(x => x.NameForViewers)
              </div>
            </div>

            <div class="control-group">
              @Html.LabelFor(x => x.CityId, new
              {
                @class = "control-label"
              })
              <div class="controls">
                @(Html.Kendo().DropDownListFor(x => x.CityId)
                   .OptionLabel("Select City")
                   .DataValueField("value")
                   .DataTextField("text")
                   .ToClientTemplate())
                @Html.ValidationMessageFor(x => x.CityId)
              </div>
            </div>
            {{ } }}

            <div class="control-group">
              @Html.LabelFor(x => x.AccessDateTime, new
              {
                @class = "control-label"
              })
              <div class="controls">
                @(Html.Kendo()
                    .DateTimePickerFor(x => x.AccessDateTime)
                    .HtmlAttributes(new { @Value = "{{= accessDateTime }}" })
                    .Format(ViewModelMapper.DateTimeFormat)
                    .ToClientTemplate())
                @Html.ValidationMessageFor(x => x.AccessDateTime)
              </div>
            </div>

            <div class="form-actions">
              <button type="button" class="btn btn-primary {{= submitButtonClass }} js-submit-button">{{= text }} </button>
              <button type="reset" class="btn js-cancel-button">Cancel</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</script>