﻿@using System.Linq.Expressions
@using Kendo.Mvc.UI
@using WebParser.Controllers.Mappers
@using WebParser.Controllers.ViewModels.User
@model WebParser.Controllers.ViewModels.User.ViewerItemViewModel

<script type="text/x-kendo-template" id="js-viewer-template">
  <div class="row-fluid">
    <div class="box span12">
      <div class="box-header" data-original-title>
        <h2>
          <i class="halflings-icon edit"></i><span class="break"></span>{{= text }} Viewer
        </h2>
      </div>
      <div class="box-content">
        
        <form class="form-horizontal js-user-form js-validateble-form" action="{{= action }}" method="post">
          @Html.ValidationSummary()
          @Html.HiddenFor(x => x.Id, new {@Value = "{{= id }}"})
          
          <fieldset>  

            <div class="control-group">
              @Html.LabelFor(x => x.Email, new
              {
                @class = "control-label"
              })
              <div>
              @Html.TextBoxFor(x => x.Email, new {@Value = "{{= email }}", @readonly = "readonly"}) 
              </div>
            </div>

            <div class="control-group">
              @Html.LabelFor(x => x.AccessDateTime, new
              {
                @class = "control-label"
              })
              <div class="controls">
                @(Html.Kendo()
                    .DateTimePickerFor(x => x.AccessDateTime)
                    .HtmlAttributes(new { @Value = "{{= accessDateTime }}" })
                    .Format(ViewModelMapper.DateTimeFormat)
                    .ToClientTemplate())
                @Html.ValidationMessageFor(x => x.AccessDateTime)
              </div>
            </div>
              
            <div class="control-group">
              @Html.LabelFor(x => x.OpeningBalance, new
              {
                  @class = "control-label"
              })
              <div class="controls">
                @(Html.Kendo()
                      .NumericTextBoxFor(x => x.OpeningBalance)
                      .HtmlAttributes(new { @Value = "{{= openingBalance }}" })
                      .Step(1)
                      .Format("#")
                      .Min(0)
                      .Value(0)
                      .ToClientTemplate()) 
                @Html.ValidationMessageFor(x => x.OpeningBalance)
              </div>
            </div>

            @CheckBox(x => x.PurchasedAccount, "purchasedAccount")
            @CheckBox(x => x.WaitingForPayment, "waitingForPayment")

            <div class="form-actions">
              <button type="button" class="btn btn-primary {{= submitButtonClass }} js-submit-button">{{= text }} </button>
              <button type="reset" class="btn js-cancel-button">Cancel</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</script>

@helper CheckBox(Expression<Func<ViewerItemViewModel, bool>> expression, string value)
{
  <div class="control-group">
    @Html.LabelFor(expression, new
    {
      @class = "control-label",
    })
    <div class="controls">
      <input {{= @value ? 'checked="checked"' : '' }} data-val="true" data-val-required="@Html.DisplayNameFor(expression) field is required." id="@Html.NameFor(expression)" name="@Html.NameFor(expression)" type="checkbox" value="true">
      <input name="@Html.NameFor(expression)" type="hidden" value="false">
    </div>
  </div>
}