﻿@using Kendo.Mvc.UI
@using WebParser.Controllers.Mappers
@using WebParser.Controllers.ViewModels.User
@using WebParser.Web.Utilities;
@model UserListViewModel

@{
    ViewBag.Title = "Users";
}

<ul class="breadcrumb">
  <li>
    <i class="icon-home"></i>
    <a href="/">Home</a>
    <i class="icon-angle-right"></i>
  </li>
  <li>@Html.ActionLink("Users", "Index")</li>
</ul>

<div class="js-users-view"
     data-create-user-url="@Url.Action("Create", "User")"
     data-edit-user-url="@Url.Action("Edit", "User")">

  <div class="js-content-container">
    <div class="row-fluid">
      <div class="box span12">
        <div class="box-header">
          <h2>Viewers</h2>
        </div>

        <div class="box-content">
          @(Html.Kendo()
              .SimpleGrid<ViewerItemViewModel>()
              .Name("viewers")
              .Columns(c =>
              {
                c.Bound(x => x.VkId).ClientTemplate(Html.Partial("_VkId").ToString()).Encoded(false);
                c.Bound(x => x.Email).Hidden();
                c.Bound(x => x.CreatedDate).Format("{0:" + ViewModelMapper.DateTimeFormat + "}");
                c.Bound(x => x.AccessDateTime).Format("{0:" + ViewModelMapper.DateTimeFormat + "}");
                c.Bound(x => x.OpeningBalance);
                c.Bound(x => x.PurchasedAccount);
                c.Bound(x => x.SeenForbidden);
                c.Bound(x => x.WaitingForPayment);
                c.Bound(x => x.EmailConfirmed).Hidden();
                c.Bound(x => x.VotesCount).Sortable(false).Filterable(false).Hidden();
                c.Bound(x => x.PublicId).Hidden();
                c.Bound(x => x.Id).Hidden();
                c.Template(@<text></text>).ClientTemplate(Html.EditButton().ToString());
              })
              .Sortable()
              .Filterable()
              .ColumnMenu(x => x.Enabled(true))
              .ClientDetailTemplateId("payment-confirmations-template")
              .DataSource(read => read
                .Ajax()
                .Read(y => y
                  .Action("ReadViewers", "User")
                  .Type(HttpVerbs.Post))
                  .Sort(x => x.Add("Id").Descending())))
        </div>
      </div>
    </div>

    <div class="row-fluid">
      <div class="box span12">
        <div class="box-header">
          <h2>Users</h2>

          <div class="box-icon">
            <a href="#" class="btn-setting js-add-user"><i class="halflings-icon plus"></i>Add User</a>
          </div>
        </div>

        <div class="box-content">

          @(Html.Kendo()
              .SimpleGrid<UserItemViewModel>()
              .Name("users")
              .Columns(c =>
              {
                c.Bound(x => x.Email);
                c.Bound(x => x.Roles).Filterable(false).Sortable(false);
                c.Bound(x => x.MaxSiteCount);
                c.Bound(x => x.NameForViewers);
                c.ForeignKey(x => x.CityId, Model.Cities, "Id", "Name");
                c.Bound(x => x.CreatedDate).Format("{0:" + ViewModelMapper.DateTimeFormat + "}");
                c.Bound(x => x.AccessDateTime).Format("{0:" + ViewModelMapper.DateTimeFormat + "}");
                c.Template(@<text></text>).ClientTemplate(Html.EditButton().ToString());
              })
              .Sortable()
              .Filterable()
              .DataSource(read => read
                .Ajax()
                .Read(y => y
                  .Action("ReadUsers", "User")
                  .Type(HttpVerbs.Post))))

        </div>
      </div>
    </div>

    <div class="row-fluid">
      <div class="box span12">
        <div class="box-header">
          <h2>Publishers</h2>

          <div class="box-icon">
            <a href="#" class="btn-setting js-publisher-account"><i class="halflings-icon plus"></i>Add Publisher</a>
          </div>
        </div>

        <div class="box-content">

          @(Html.Kendo()
              .SimpleGrid<PublisherItemViewModel>()
              .Name("publishers")
              .Columns(c =>
              {
                c.Bound(x => x.Email);
                c.Bound(x => x.AccessDateTime).Format("{0:" + ViewModelMapper.DateTimeFormat + "}");
                c.Bound(x => x.CreatedDate).Format("{0:" + ViewModelMapper.DateTimeFormat + "}");
                // TODO: Article Group
                c.Template(@<text></text>).ClientTemplate(Html.EditButton().ToString());
              })
              .Sortable()
              .Filterable()
              .DataSource(read => read
                .Ajax()
                .Read(y => y
                  .Action("ReadPublishers", "User")
                  .Type(HttpVerbs.Post))))

        </div>
      </div>
    </div>

  </div>

  <div id="js-user-placeholder"></div>

</div>

@section templates
{
  @Html.PublisherTemplate()
  @Html.Partial("_UserTemplate", new UserItemViewModel())
  @Html.Partial("_ViewerTemplate", new ViewerItemViewModel())
  @Html.Partial("_PaymentConfirmations")
}
