﻿@using WebParser.Common.Extensions
@using WebParser.Web.Resources
@model WebParser.Controllers.ViewModels.Seo.SeoDetailsViewModel
@{
  Layout = "~/Views/Shared/_SeoLayout.cshtml";
  var title = string.Format(Visitors.seoPage_titleFormat, Model.RoutingResult.IfNotNull(x => x.SeoTitle, "SEO POC"));
  var articleGroupText = string.IsNullOrEmpty(Model.ArticleGroup) ? Visitors.seoPage_RentPhrase : Model.ArticleGroup;
  var description = string.Format(Visitors.seoPage_descriptionFormat, Model.CityName, articleGroupText);
  var routingParams =
    "cityId=" + Model.ApartmentFilters.CityId +
    "&articleGroupIds=" + string.Join(",", Model.ApartmentFilters.ArticleGroupIds) +
    "&metroStationIds=" + string.Join(",", Model.ApartmentFilters.MetroStationIds) +
    "&priceFrom=" + Model.ApartmentFilters.PriceFrom +
    "&priceTo=" + Model.ApartmentFilters.PriceTo;

  ViewBag.Language = Model.Language;
}

@section meta
{
  <title>@title</title>
  
  <meta http-equiv="content-language" content="@Model.Language" />

  <link rel="canonical" href="@(Model.CanonicalUrl)">

  <meta name="description" content="@description">

  <!-- start: Mobile Specific -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- end: Mobile Specific -->

  <meta property="vk:image" content="https://pp.userapi.com/c840431/v840431599/15e2e/eS4S9no6bXs.jpg">

  <meta property="og:url" content="@(Model.CanonicalUrl)">
  <meta property="og:title" content="@title">
  <meta property="og:description" content="@description">
  <meta property="og:image" content="https://pullmeout.net/static/img/pull-me-out-logo-black.png">
  <meta property="og:type" content="website">

  <link rel="icon" href="~/favicon-32x32.png" sizes="32x32">
  <link rel="icon" href="~/favicon-192x192.png" sizes="192x192">
  <link rel="apple-touch-icon-precomposed" href="~/favicon-180x180.png">
  <meta name="msapplication-TileImage" content="~/favicon-270x270.png">

  <meta name="google-site-verification" content="mns3gEqrOdD3L1-xfgHySXlJ4e6U4oSFre1ISbzFPw4" />
  <meta name="yandex-verification" content="069b09cf1137e932" />
}

@section mainHeader
{
    <div itemscope itemtype="http://schema.org/WPHeader">
        <h1 itemprop="headline" class="intro-text">@Model.RoutingResult.IfNotNull(x => x.SeoTitle, "SEO POC")</h1>
    </div>
}


<div class="row">
    <ol class="list-group" itemscope="" itemtype="http://schema.org/BreadcrumbList">
        @for (var i = 0; i < Model.Breadcrumbs.Length; i++)
        {
            var item = Model.Breadcrumbs[i];

            <li class="list-group-item" itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                <a href="@item.Url" itemprop="item" itemtype="http://schema.org/Thing" itemscope="">
                    <span itemprop="name">@item.Title</span>
                    @*<meta itemprop="position" content="@(i + 1)">*@
                </a>

                <span>></span>
            </li>
        }
    </ol>
</div>

<div class="row">
  <div class="list-group">

    @{
      int j = 0;
    }
    @for (; j < (Model.Apartments.IfNotNull(x => (int?)x.Items.Length) ?? 0); j++)
    {
      var item = Model.Apartments.Items[j];
      var itemDescription = item.ArticlesGroup + " " + item.Metro + " " + item.MetroDistance + " " + item.MetroDuration;

      <div itemscope="" itemtype="http://schema.org/Product" class="list-group-item">
        <meta itemprop="description" content="@itemDescription">

        <a itemprop="url" href="/apartments?@(routingParams)&apartmentId=@item.Id" title="@(itemDescription + " " + Model.CityName)">
          <span itemprop="name">@itemDescription</span>
        </a>
        <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
          <span itemprop="priceCurrency" content="@Visitors.seoPage_priceCurrency"></span>
          <span itemprop="price" content="@item.PriceValue">
            @item.Price
          </span>
        </div>

        @*<meta itemprop="position" content="@(j + 1)">*@
      </div>
    }

    <div itemscope="" itemtype="http://schema.org/Product" class="list-group-item">
      <meta itemprop="description" content="@Visitors.seoPage_exampleItemDescription">

      <a itemprop="url" href="/apartments?@(routingParams)" title="@string.Format(Visitors.seoPage_AllOffersFormat, Model.CityName)">
        <span itemprop="name">@string.Format(Visitors.seoPage_AllOffersFormat, Model.CityName)</span>
      </a>
      <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
        <span itemprop="priceCurrency" content="@Visitors.seoPage_priceCurrency"></span>
        <span itemprop="price" content="10000">
          10000 <span>@Visitors.seoPage_priceCurrencySymbol</span>
        </span>
      </div>

      @*<meta itemprop="position" content="@(j + 1)">*@
    </div>

  </div>

</div>


@section footer{
  <br/>
  <br/>
  <p class="seo-text">@string.Format(Visitors.seoPage_seoText1, Model.CityName)</p>
  <p class="seo-text">@string.Format(Visitors.seoPage_seoText1, articleGroupText)</p>
  <p class="seo-text">@Visitors.seoPage_seoText3</p>
  <p class="seo-text">@Visitors.seoPage_seoText4</p>
}