<!-- <mat-sidenav-container class="root">
  <top-bar class="toolbar"></top-bar>
</mat-sidenav-container> -->

<payment-form></payment-form>

<metric-goal [goalName]="'seen-forbidden'"></metric-goal>