<div class="content-wrapper">
  
  <mat-card class="payment-card alt">
    <mat-card-content>
      <mat-card-title class="rate-title">Выберите тариф</mat-card-title>

      <mat-card-title>Открытия контактов</mat-card-title>
      <mat-card-subtitle>По найшей статистике в среднем необходимо 5 открытий, чтобы снять подходящее жилье</mat-card-subtitle>

      <div class="contact-rate">
        <mat-card>
          <mat-card-title class="rate-title"><span>{{settings.firstRateOpeningsCount}}</span><sup>открытие</sup></mat-card-title>
          <mat-card-subtitle class="rate-subtitle">
            <mat-icon>thumb_up</mat-icon><span>Доступ к открытиям контактов собственников</span>
          </mat-card-subtitle>
          <mat-card-content class="rate-content">
            <span>{{settings.firstRateOpeningsPrice}}<sup>₽</sup></span>
          </mat-card-content>
          <mat-card-subtitle><span>{{pricePerItem(settings.firstRateOpeningsPrice, settings.firstRateOpeningsCount)}} ₽ за одно открытие</span></mat-card-subtitle>
          <mat-card-actions class="rate-actions">
            <button mat-button [metric-goal]="'sale-openings-firstRate'" (click)="submit(RateType.Openings, settings.firstRateOpeningsPrice, settings.firstRateOpeningsCount)">Выбрать</button>
          </mat-card-actions>
          <mat-card-subtitle>
            <span>* Без гарантии возврата денег</span>
          </mat-card-subtitle>
        </mat-card>
      </div>
      <div class="contact-rate">
        <mat-card>
          <mat-card-title class="rate-title"><span class="margin-right">{{settings.secondRateOpeningsCount}}</span><sup>открытий</sup></mat-card-title>
          <mat-card-subtitle class="rate-subtitle">
            <mat-icon>thumb_up</mat-icon><span>Доступ к открытиям контактов собственников</span>
          </mat-card-subtitle>
          <mat-card-content class="rate-content">
            <span>{{settings.secondRateOpeningsPrice}}<sup>₽</sup></span>
          </mat-card-content>
          <mat-card-subtitle><span>{{pricePerItem(settings.secondRateOpeningsPrice, settings.secondRateOpeningsCount)}} ₽ за одно открытие</span></mat-card-subtitle>
          <mat-card-actions class="rate-actions">
            <button mat-button [metric-goal]="'sale-openings-secondRate'" (click)="submit(RateType.Openings, settings.secondRateOpeningsPrice, settings.secondRateOpeningsCount)">Выбрать</button>
          </mat-card-actions>
          <mat-card-subtitle>
            <span>* Без гарантии возврата денег</span>
          </mat-card-subtitle>
        </mat-card>
      </div>
      <div class="contact-rate">
        <mat-card>
          <mat-card-title class="rate-title guarantee-rate"><span class="margin-right">{{settings.thirdRateOpeningsCount}}</span><sup>открытий</sup></mat-card-title>
          <mat-card-subtitle class="rate-subtitle">
            <mat-icon>thumb_up</mat-icon><span>Доступ к открытиям контактов собственников</span>
          </mat-card-subtitle>
          <mat-card-content class="rate-content">
            <span>{{settings.thirdRateOpeningsPrice}}<sup>₽</sup></span>
          </mat-card-content>
          <mat-card-subtitle><span>{{pricePerItem(settings.thirdRateOpeningsPrice, settings.thirdRateOpeningsCount)}} ₽ за одно открытие</span></mat-card-subtitle>
          <mat-card-actions class="rate-actions">
            <button mat-button [metric-goal]="'sale-openings-thirdRate'" (click)="submit(RateType.Openings, settings.thirdRateOpeningsPrice, settings.thirdRateOpeningsCount)">Выбрать</button>
          </mat-card-actions>
          <mat-card-subtitle>
            <span>* Без гарантии возврата денег</span>
          </mat-card-subtitle>
        </mat-card>
      </div>
      <div class="contact-rate">
        <mat-card>
          <mat-card-title class="rate-title guarantee-rate"><span class="margin-right">{{settings.fourthRateOpeningsCount}}<sup><mat-icon svgIcon="guarantee-icon"></mat-icon></sup></span><sup class="sup">открытий</sup></mat-card-title>
          <mat-card-subtitle class="rate-subtitle">
            <mat-icon>thumb_up</mat-icon><span>Доступ к открытиям контактов собственников</span>
          </mat-card-subtitle>
          <mat-card-content class="rate-content">
            <span>{{settings.fourthRateOpeningsPrice}}<sup>₽</sup></span>
          </mat-card-content>
          <mat-card-subtitle><span>{{pricePerItem(settings.fourthRateOpeningsPrice, settings.fourthRateOpeningsCount)}} ₽ за одно открытие</span></mat-card-subtitle>
          <mat-card-actions class="rate-actions">
            <button mat-button [metric-goal]="'sale-openings-fourthRate'" (click)="submit(RateType.Openings, settings.fourthRateOpeningsPrice, settings.fourthRateOpeningsCount)">Выбрать</button>
          </mat-card-actions>
          <mat-card-subtitle class="guarantee-subtitle">
            <mat-icon svgIcon="guarantee-icon"></mat-icon>
            <span>С гарантией возврата денег</span>
          </mat-card-subtitle>
        </mat-card>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="payment-card">
    <mat-card-content>
      <mat-card-title id="days-rates-title">Дни неограниченного доступа</mat-card-title>
      <mat-card-subtitle>По найшей статистике в среднем необходимо 7 дней, чтобы без особой спешки снять подходящее жилье</mat-card-subtitle>

      <div class="contact-rate">
        <mat-card>
          <mat-card-title class="rate-title"><span>{{settings.firstRateDaysCount}}</span><sup>день</sup></mat-card-title>
          <mat-card-subtitle class="rate-subtitle">
            <mat-icon>thumb_up</mat-icon><span>Доступ к проверенным объявлениям</span>
          </mat-card-subtitle>
          <mat-card-content class="rate-content">
            <span>{{settings.firstRateDaysPrice}}<sup>₽</sup></span>
          </mat-card-content>
          <mat-card-subtitle><span>{{pricePerItem(settings.firstRateDaysPrice, settings.firstRateDaysCount)}} ₽ в день</span></mat-card-subtitle>
          <mat-card-actions class="rate-actions">
            <button mat-button [metric-goal]="'sale-days-firstRate'" (click)="submit(RateType.Days, settings.firstRateDaysPrice, settings.firstRateDaysCount)">Выбрать</button>
          </mat-card-actions>
          <mat-card-subtitle>
            <span>* Без гарантии возврата денег</span>
          </mat-card-subtitle>
        </mat-card>
      </div>
      <div class="contact-rate">
        <mat-card>
          <mat-card-title class="rate-title"><span class="margin-right">{{settings.secondRateDaysCount}}</span><sup>дней</sup></mat-card-title>
          <mat-card-subtitle class="rate-subtitle">
            <mat-icon>thumb_up</mat-icon><span>Доступ к проверенным объявлениям</span>
          </mat-card-subtitle>
          <mat-card-content class="rate-content">
            <span>{{settings.secondRateDaysPrice}}<sup>₽</sup></span>
          </mat-card-content>
          <mat-card-subtitle><span>{{pricePerItem(settings.secondRateDaysPrice, settings.secondRateDaysCount)}} ₽ в день</span></mat-card-subtitle>
          <mat-card-actions class="rate-actions">
            <button mat-button [metric-goal]="'sale-days-secondRate'" (click)="submit(RateType.Days, settings.secondRateDaysPrice, settings.secondRateDaysCount)">Выбрать</button>
          </mat-card-actions>
          <mat-card-subtitle>
            <span>* Без гарантии возврата денег</span>
          </mat-card-subtitle>
        </mat-card>
      </div>
      <div class="contact-rate">
        <mat-card>
          <mat-card-title class="rate-title guarantee-rate"><span class="margin-right">{{settings.thirdRateDaysCount}}</span><sup>дней</sup></mat-card-title>
          <mat-card-subtitle class="rate-subtitle">
            <mat-icon>thumb_up</mat-icon><span>Доступ к проверенным объявлениям</span>
          </mat-card-subtitle>
          <mat-card-content class="rate-content">
            <span>{{settings.thirdRateDaysPrice}}<sup>₽</sup></span>
          </mat-card-content>
          <mat-card-subtitle><span>{{pricePerItem(settings.thirdRateDaysPrice, settings.thirdRateDaysCount)}} ₽ в день</span></mat-card-subtitle>
          <mat-card-actions class="rate-actions">
            <button mat-button [metric-goal]="'sale-days-thirdRate'" (click)="submit(RateType.Days, settings.thirdRateDaysPrice, settings.thirdRateDaysCount)">Выбрать</button>
          </mat-card-actions>
          <mat-card-subtitle>
            <span>* Без гарантии возврата денег</span>
          </mat-card-subtitle>
        </mat-card>
      </div>
      <div class="contact-rate">
        <mat-card>
          <mat-card-title class="rate-title guarantee-rate"><span class="margin-right">{{settings.fourthRateDaysCount}}<sup><mat-icon svgIcon="guarantee-icon"></mat-icon></sup></span><sup class="sup">дней</sup></mat-card-title>
          <mat-card-subtitle class="rate-subtitle">
            <mat-icon>thumb_up</mat-icon><span>Доступ к проверенным объявлениям</span>
          </mat-card-subtitle>
          <mat-card-content class="rate-content">
            <span>{{settings.fourthRateDaysPrice}}<sup>₽</sup></span>
          </mat-card-content>
          <mat-card-subtitle><span>{{pricePerItem(settings.fourthRateDaysPrice, settings.fourthRateDaysCount)}} ₽ в день</span></mat-card-subtitle>
          <mat-card-actions class="rate-actions">
            <button mat-button [metric-goal]="'sale-days-fourthRate'" (click)="submit(RateType.Days, settings.fourthRateDaysPrice, settings.fourthRateDaysCount)">Выбрать</button>
          </mat-card-actions>
          <mat-card-subtitle class="guarantee-subtitle">
            <mat-icon svgIcon="guarantee-icon"></mat-icon>
            <span>С гарантией возврата денег</span>
          </mat-card-subtitle>
        </mat-card>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="payment-card alt">
    <mat-card-content>
      <div class="benefit">
        <mat-card>
          <mat-card-header class="benefit-header">
            <div mat-card-avatar class="benefit-header-icon">
              <mat-icon>collections_bookmark</mat-icon>
            </div>
            <mat-card-title class="benefit-title"><span>Все объявления от собственников в одном месте</span></mat-card-title>
            <mat-card-subtitle class="benefit-subtitle"><span>Как только объявление появляется в интернете, оно собирается и видите его на нашем сервисе</span></mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
      <div class="benefit">
        <mat-card class="benefit-checked-offers">
          <mat-card-header class="benefit-header">
            <div mat-card-avatar class="benefit-header-icon">
              <mat-icon>security</mat-icon>
            </div>
            <mat-card-title class="benefit-title"><span>Только проверенные объявления</span></mat-card-title>
            <mat-card-subtitle class="benefit-subtitle">
              <span>Все объявления проходят проверку через крупнейший черный список, интелектуальное определение агента по его поведению и прозваниваются модераторами. </span>
              <span>Найдете агента, получите балы на бесплатные дни, либо открытия контаков.</span>
            </mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
      <div class="benefit">
        <mat-card>
          <mat-card-header class="benefit-header">
            <div mat-card-avatar class="benefit-header-icon">
              <mat-icon>account_balance_wallet</mat-icon>
            </div>
            <mat-card-title class="benefit-title"><span>Без комиссии</span></mat-card-title>
            <mat-card-subtitle class="benefit-subtitle"><span>Вы сильно сэконимте, сняв жилье без посредников. Не тратьте время и деньги впустую на обман и ненадежных агентов.</span></mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
      <div class="benefit">
        <mat-card  class="last-benefit">
          <mat-card-header class="benefit-header">
            <div mat-card-avatar class="benefit-header-icon">
              <mat-icon class="guarantee-icon" svgIcon="guarantee-icon"></mat-icon>
            </div>
            <mat-card-title class="benefit-title"><span>Вы гарантированно снимите жилье*</span></mat-card-title>
            <mat-card-subtitle class="benefit-subtitle"><span>Выберите тариф, помеченный значком <mat-icon class="guarantee-rate" svgIcon="guarantee-icon">star</mat-icon>. Если Вы не снимите жилье, то мы полностью вернем все сумму.</span></mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="payment-card">
    <mat-card-content>
      <mat-card-title class="reviews-title">Отзывы наших клиентов</mat-card-title>

      <div class="review">
        <mat-card>
          <mat-card-header class="review-header">
            <div mat-card-avatar class="review-header-image" [ngStyle]="{ 'background-image': 'url(/app-public/assets/img/reviews/review-avatar1.png)' }"></div>
            <mat-card-title>Нашла комнату на второй день. Очень довольна сервисом. Спасибо</mat-card-title>
            <mat-card-subtitle>
              <a href="https://vk.com/id17319213" target="_blank">
                <mat-icon class="social" svgIcon="vk-icon"></mat-icon>
                <span>Дарья Максимова</span>
                <mat-icon class="launch">launch</mat-icon>
              </a>
              <mat-icon class="star-rate">star_rate</mat-icon>
              <mat-icon class="star-rate">star_rate</mat-icon>
              <mat-icon class="star-rate">star_rate</mat-icon>
              <mat-icon class="star-rate">star_rate</mat-icon>
              <mat-icon class="star-rate">star_rate</mat-icon>
            </mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
      <div class="review">
        <mat-card>
          <mat-card-header class="review-header">
            <div mat-card-avatar class="review-header-image" [ngStyle]="{ 'background-image': 'url(/app-public/assets/img/reviews/review-avatar2.png)' }"></div>
            <mat-card-title>Cервис удобный и быстрый поиск, качество на 9, а пожелать хочу побольше объявлений и посетителей.</mat-card-title>
            <mat-card-subtitle>
              <a href="https://vk.com/id282921305" target="_blank">
                <mat-icon class="social" svgIcon="vk-icon"></mat-icon>
                <span>Андрей Пупышев</span>
                <mat-icon class="launch">launch</mat-icon>
              </a>
              <mat-icon class="star-rate">star_rate</mat-icon>
              <mat-icon class="star-rate">star_rate</mat-icon>
              <mat-icon class="star-rate">star_rate</mat-icon>
              <mat-icon class="star-rate">star_rate</mat-icon>
              <mat-icon class="star-rate">star_rate</mat-icon>
            </mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
    </mat-card-content>  
  </mat-card>

  <!-- TODO: Open information popup by button -->
  <!-- <button mat-fab class="help-button">
    <mat-icon>help_outline</mat-icon>
  </button> -->

</div>


