apartments-contact-info{
  .link mat-icon{
    text-decoration: underline;
  }

  .phone-link{
    color: mat-color($candy-app-high-accent);
    font-size: 28px;
  }

  .source-contact-text{
    font-weight: 400;
    font-size: 18px;
  }
}
