mat-divider.top-divider{
  margin-top: 10px;
  margin-bottom: 10px;
}

apartments-detail{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width:769px) {
  mat-card.apartment-details{
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (min-width:1500px){
  apartments-detail{
    max-width: 1200px;
  }
}

@media (max-width:1499px){
  apartments-detail{
    max-width: 1200px;
  }
}

.apartment-subject .apartment-title{
  display: inline-block;
}

mat-icon.apartment-title-icon{
  vertical-align: sub;
}

@media (max-width:768px){
  .apartment-subject .apartment-title{
    font-size: 17px;
    margin-bottom: 0px;
  }

  mat-icon.apartment-title-icon{
    font-size: 17px;
  }

  .apartment-subject .apartment-price{
    font-size: 20px;
    right: 20px;
    margin-top: 6px;
    position: absolute;
  }
}

@media (min-width:769px) {
  .apartment-subject .apartment-title{
    font-size: 22px;
    margin-bottom: 0px;
  }

  mat-icon.apartment-title-icon{
    font-size: 22px;
  }

  .apartment-subject .apartment-price{
    display: inline-block;
    position: absolute;
    right: 31px;
    top: 24px;
    font-size: 24px;
  }
}

mat-icon.apartment-icon{
  font-size: 15px;
  vertical-align: sub;
}

button.call-btn, a.call-btn{
  background-color: mat-color($candy-app-accent);
  margin-right: 10px;
}

.back-btn{
  background-color: mat-color($grey-primary),
}

.phone-text{
  color: black;
  font-size: 28px;
  text-decoration: none;
}

.phone-img{
  width: 280px;
}

.phone-list {
  list-style-type: none;
  padding: 0px;
}

apartments-detail{

  .mat-card .mat-divider{
    position: inherit;
  }

  mat-icon.reference-icon{
    font-size: 16px;
  }

  .owner-status{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
  }

  mat-card-subtitle.created-date{
    margin-bottom: 0;
  }

  .possibly-rented-status{
    font-size: 16px;
    color: red;
  }
  .possibly-rented-status mat-icon.mat-icon{
    font-size: 16px;
    height: 16px;
    width: 16px;
    vertical-align: middle;
  }
  .possibly-rented-status span{
    vertical-align: middle;
  }

  .white-list-status{
    color: mat-color($candy-app-high-accent);
    text-decoration: underline;
  }

  .black-list-status{
    color: mat-color($candy-app-accent);
    text-decoration: underline;
  }

  .address-info{
    color: mat-color($candy-app-accent);
  }

  #map{
    padding: 0;
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
  }

  .location-info{
    margin-bottom: 10px;

    mat-icon.apartment-icon{
      vertical-align: sub;
      height: 14px;
      width: 14px;  
    }

    .label{
      white-space: nowrap;
    }

    .mat-expansion-panel-header-title{
      margin-right: 5px;
    }

    .metro-info, .address-info{
      vertical-align: middle;
    }
  }
}