apartments-list {
  .refresh-apartments{
    width: 100%;
    margin-bottom: 5px;
  }

  @media (min-width:769px) {
    .refresh-apartments{
      width: 100%;
      margin-bottom: 5px;
      margin-top: 3px;
    }
  }

  .apartment-rating-counters .material-icons{
    font-size: 13px;
  }

  .apartment-rating-counter{
    vertical-align: top;
    margin-left: -6px;
    font-size: 11px;
  }

  .apartment-subway{
    margin-top: 6px !important;
  }

  .apartment-subway mat-icon{
    vertical-align: sub;
    font-size: 13px;
  }

  .apartment-subway span{
    vertical-align: top;
    margin-left: -9px;
  }

  .reference-icon{
    font-size: 13px;
  }

  div.mat-list-text p.end-of-apartments.mat-line{
    font-size: 15px !important;
    margin-top: 10px;
    text-decoration: underline;
    color: mat-color($candy-app-accent);
  }

  apartments-item {
    .apartment-item {
      cursor: pointer;
    }

    .apartment-item a{
      text-decoration: none;
    }

    .apartment-item.active,
    .apartment-item:hover {
      background-color: #e0e0e0;
      box-shadow: 6px 4px 37px 2px rgba(0, 0, 0, 0.2), 6px 4px 37px 2px rgba(0, 0, 0, 0.14), 0px 1px 82px 31px rgba(0, 0, 0, 0.12);
    }

    .apartment-item-created-date mat-icon {
      vertical-align: sub;
      font-size: 13px;
    }

    .apartment-item-created-date span {
      margin-left: -9px;
      font-size: 13px;
    }

    p.item-price {
      text-align: right;
      font-size: 19px !important;
    }

    .apartment-price {
      font-size: 21px !important;
    }

    .float-left {
      float: left;
    }

    .float-right {
      float: right;
    }
    
    .apartment-status{
      font-size: 16px !important;
      margin-top: 11px !important;
      color: mat-color($candy-app-accent);
    }

    .white-list{
      color: mat-color($candy-app-high-accent);
    }

    mat-tab-header.mat-tab-header{
      display: none;
    }

    .mat-tab-body{
      width: 100%;
    }

    .mat-tab-body-content {
      width: 100%;
      height: 192px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 5px;
      text-align: center;
    }
    
    .image-container{
      width: 80%;
      height: 186px;
      display: inline-block;
      background-color: #c1c1c1;
    }

    .inline{
      display: inline-block;
    }

    .image-preview{
      max-width: 100%;
      height: 100%;
      max-height: 186px;
    }

    .before-disabled .before{
      color: #c5c5c5;;
    }

    .before{
      width: 10%;
      height: 100%;
      float: left;
      text-align: center;
      color: mat-color($candy-app-accent);
    }
    .before mat-icon{
      line-height: 182px;
    }

    .next-disabled .next{
      color: #c5c5c5;;
    }

    .next{
      width: 10%;
      height: 100%;
      float: right;
      text-align: center;
      color: mat-color($candy-app-accent);
    }
    .next mat-icon{
      line-height: 182px;
    }

    .possibly-rented-status{
      color: red;
    }
  }
}