apartments-vote{
  .good-vote{
    background-color: mat-color(mat-palette($mat-light-green, A700)) !important;
  }
  .bad-vote{
    background-color: mat-color(mat-palette($mat-red, A700)) !important;
  }
  .outdate-vote{
    background-color: mat-color(mat-palette($mat-grey, 400)) !important;
  }
  
  mat-icon.vote-icon.mat-icon{
    font-size: 15px;
    vertical-align: sub;
  }
  
  .vote-button-text{
    margin-left: 10px;
  }
}
