apartments-filters {
  mat-card-content.filters-container{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  mat-select.mat-select{
    width: 130px;
  }

  mat-button-toggle-group{
    height: 31px;
  }
  mat-button-toggle-group.apartment-types{
    margin-top: 25px;
  }

  .mobile-top-section{
    margin-bottom: 0px;
  }

  mat-form-field input{
    border: 0px !important;
    margin-bottom: 0px !important;
  }

  mat-form-field .mat-form-field-underline{
    bottom: 0px;
  }

  @media (max-width:768px){
    mat-form-field .mat-form-field-underline{
      bottom: 0px;
    }
  }

  mat-card-content section{
    margin-bottom: 24px;
  }

  mat-card-content section > *{
    margin-right: 5px;
  }

  .mat-form-field-wrapper {
    margin: 0em 0 !important;
    padding-bottom: 0px !important;
  }

  .filters-header{
    height: 30px;
  }

  @media (min-width:769px) {
    mat-card.filters{
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  @media (max-width:769px) {
    mat-card.filters{
      margin-top: 6px;
    }
  }

  mat-card.filters{
    padding: 0px;
  }

  mat-card .filters-apply-btn{
    width: 100%;
    color: mat-color($candy-app-accent);
  }

  .apartment-type{
    position: relative;
    top: -2px;
  }

  .filters mat-card-content{
    padding: 24px;
  }

  @media (max-width:769px) {
    .control-margin-bottom-25{
      margin-bottom: 25px;
    }
  }

  mat-form-field{
    width: 98px;
  }

  mat-button-toggle.mat-button-toggle-checked{
    background-color: mat-color($candy-app-accent);
  }

  mat-icon.reference-icon{
    font-size: 19px;
  }
}