.mat-drawer-container {
 width: 100%;
}

side-navigation {
  display: flex;
  flex: 1 1 auto;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  overflow-y: auto;
}

.apartments-sidenav {
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
  padding-bottom: 72px;
  width: 240px;
  bottom: 0;
  overflow: auto;
  height: 100%;
}

.app-content {
  min-height: 100%;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}