open-contact-confirmation{
  .possibly-rented-status{
    font-size: 16px;
    color: red;
  }
  .possibly-rented-status mat-icon.mat-icon{
    font-size: 16px;
    height: 16px;
    width: 16px;
    vertical-align: middle;
  }
  .possibly-rented-status span{
    vertical-align: middle;
  }

  .confirm-btn{
    background-color: mat-color($candy-app-accent);
  }
}