// html, body {
  mat-drawer-container.root, .root > .mat-drawer-content {
  justify-content: space-between;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.mat-tooltip {
  font-size: 15px !important;
}

.flex-spacer{
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
