﻿@using System.Linq.Expressions
@using Kendo.Mvc.UI
@using WebParser.Common
@using WebParser.Controllers.ViewModels.ArticleGroup;

@model EditArticlesGroupModel

@helper NumericTextBox(Expression<Func<EditArticlesGroupModel, int>> expression, int step, int min, int max, string value)
{
  <div class="control-group">
    @Html.LabelFor(expression, new
    {
      @class = "control-label"
    })
    <div class="controls">
      @(Html.Kendo()
            .NumericTextBoxFor(expression)
            .Step(step)
            .Format("#")
            .Min(min)
            .Max(max)
            .HtmlAttributes(new { @Value = value })
            .ToClientTemplate())
      @Html.ValidationMessageFor(expression)
    </div>
  </div>
}

@helper NumericTextBox(Expression<Func<EditArticlesGroupModel, int?>> expression, int step, int? min, int max, string value)
{
  <div class="control-group">
    @Html.LabelFor(expression, new
    {
      @class = "control-label"
    })
    <div class="controls">
      @(Html.Kendo()
          .NumericTextBoxFor(expression)
          .Step(step)
          .Format("#")
          .Min(min)
          .Max(max)
          .HtmlAttributes(new { @Value = value })
          .ToClientTemplate())
      @Html.ValidationMessageFor(expression)
    </div>
  </div>
}

@helper TextBox(Expression<Func<EditArticlesGroupModel, string>> expression, string value)
{
  <div class="control-group">
    @Html.LabelFor(expression, new
    {
      @Class = "control-label"
    })
    <div class="controls">
      @Html.TextBoxFor(expression, new { @Value = value })
      @Html.ValidationMessageFor(expression)
    </div>
  </div>
}

<div class="page-header">
  <h2>
    Provide Articles Group Name and Links<small> for downloading content where Links To Articles can be found.</small>
  </h2>
</div>

<form class="form-horizontal js-article-group-form js-validateble-form" action="{{= action }}" method="post">
  {{ if(showAsEdit){ }}
  <input data-val="true" data-val-number="The field Id must be a number." data-val-required="The Id field is required." id="Id" name="Id" type="hidden" value="{{= id }}" />
  {{ } }}

  <input data-val="true" data-val-number="The field SiteId must be a number." data-val-required="The SiteId field is required." id="SiteId" name="SiteId" type="hidden" value="{{= siteId }}"/>

  <fieldset>
    @TextBox(x => x.InternalName, "{{= internalName }}")
    @TextBox(x => x.PublicName, "{{= publicName }}")

    <div class="js-links-format-type-section">
      <div class="control-group">
        @Html.LabelFor(x => x.LinksFormatType, new
        {
          @class = "control-label",
        })

        <div class="controls">
          <label class="control-label">
            <input id="LinksFormat-SpecificLinks" name="LinksFormatType" type="radio" {{ if(showSpecificLinks){ }} checked="checked" {{ } }} value="SpecificLinks">Specific Links
          </label>

          <label class="control-label">
            <input id="LinksFormat-LinksFormat" name="LinksFormatType" type="radio" {{ if(showLinksFormat){ }} checked="checked" {{ } }} value="LinksFormat">Links Format
          </label>

          <label class="control-label">
            <input id="LinksFormat-LinksFile" name="LinksFormatType" type="radio" {{ if(showLinksFile){ }} checked="checked" {{ } }} value="LinksFile">Links File
          </label>

          @Html.ValidationMessageFor(x => x.LinksFormatType)
        </div>
      </div>

      <div class="control-group js-specific-links-section" {{ if(!showSpecificLinks){ }} style="display: none" {{ } }}>
        @Html.Label("Links", "Links", new
        {
          @class = "control-label"
        })
        <div class="controls" id="js-links-control"></div>
        @Html.ValidationMessageFor(x => x.Links, string.Empty, new { @Class = "field-validation-valid controls" })
      </div>

      <div class="js-links-format-section" {{ if(!showLinksFormat){ }} style="display: none" {{ } }}>
        <div class="control-group">
          @Html.LabelFor(x => x.LinksFormat, new
          {
            @Class = "control-label"
          })
          <div class="controls">
            @Html.TextBoxFor(x => x.LinksFormat, new { @Value = "{{= linksFormat }}", @Class = "links-format", placeholder = "http://www.example.com/category/subcategory?page={page}" })
            @Html.ValidationMessageFor(x => x.LinksFormat)
          </div>
        </div>

        <div class="control-group">
          @Html.LabelFor(x => x.StartPage, new
          {
            @class = "control-label"
          })
          <div class="controls">
            @(Html.Kendo()
                      .NumericTextBoxFor(x => x.StartPage)
                      .Step(1)
                      .Format("#")
                      .Min(1)
                      .Max(100)
                      .ToClientTemplate())
            @Html.ValidationMessageFor(x => x.StartPage)
          </div>

        </div>
        <div class="control-group">
          @Html.LabelFor(x => x.StepSize, new
          {
            @class = "control-label"
          })
          <div class="controls">
            @(Html.Kendo()
                      .NumericTextBoxFor(x => x.StepSize)
                      .Step(1)
                      .Format("#")
                      .Min(1)
                      .Max(100000)
                      .ToClientTemplate())
            @Html.ValidationMessageFor(x => x.StepSize)
          </div>
        </div>
      </div>

      <div class="js-upload-links-file" {{ if(!showLinksFile){ }} style="display: none" {{ } }}>

        @Html.Label("LinksFile", "Choose File With Links", new
        {
          @class = "control-label",
        })

        <div class="controls">
          @Html.HiddenFor(x => x.LinksFileId, new { @Value = "{{= linksFileId }}" })

          <input type="file" name="linksFile" id="linksFile" />

          @Html.ValidationMessageFor(x => x.LinksFileId)
        </div>

      </div>

      <div class="control-group">
        @Html.LabelFor(x => x.VkGroupId, new
        {
          @Class = "control-label"
        })
        <div class="controls">
          @Html.TextBoxFor(x => x.VkGroupId, new { @Value = "{{= vkGroupId }}" })
          @Html.ValidationMessageFor(x => x.VkGroupId)
        </div>
      </div>

      <div class="control-group">
        @Html.LabelFor(x => x.VkTopicId, new
        {
          @Class = "control-label"
        })
        <div class="controls">
          @Html.TextBoxFor(x => x.VkTopicId, new { @Value = "{{= vkTopicId }}" })
          @Html.ValidationMessageFor(x => x.VkTopicId)
        </div>
      </div>

      <div class="control-group">
        @Html.LabelFor(x => x.VkTopicGroupId, new
        {
          @Class = "control-label"
        })
        <div class="controls">
          @Html.TextBoxFor(x => x.VkTopicGroupId, new { @Value = "{{= vkTopicGroupId }}" })
          @Html.ValidationMessageFor(x => x.VkTopicGroupId)
        </div>
      </div>

      <div class="control-group">
        @Html.LabelFor(x => x.LinksToArticlesSearchRuleSpiderTypeId, new
        {
          @class = "control-label",
        })
        <div class="controls">
          @(Html.Kendo()
                    .DropDownListFor(x => x.LinksToArticlesSearchRuleSpiderTypeId)
                    .BindTo(Model.SpiderTypes)
                    .DataValueField("Id")
                    .DataTextField("Name")
                    .HtmlAttributes(new { @Value = "{{= linksToArticlesSearchRuleSpiderTypeId }}" })
                    .ToClientTemplate()
          )
          @Html.ValidationMessageFor(x => x.LinksToArticlesSearchRuleSpiderTypeId)
        </div>
      </div>

      <div class="control-group">
        @Html.LabelFor(x => x.SpiderTypeId, new
        {
          @class = "control-label",
        })
        <div class="controls">
          @(Html.Kendo()
                    .DropDownListFor(x => x.SpiderTypeId)
                    .BindTo(Model.SpiderTypes)
                    .DataValueField("Id")
                    .DataTextField("Name")
                    .HtmlAttributes(new { @Value = "{{= spiderTypeId }}" })
                    .ToClientTemplate()
          )
          @Html.ValidationMessageFor(x => x.SpiderTypeId)
        </div>
      </div>

      <div class="control-group">
        @Html.LabelFor(x => x.SpiderDoNotLoadImages, new
        {
          @class = "control-label",
        })
        <div class="controls">
          <input data-val="true" data-val-required="@(Html.NameFor(x => x.SpiderDoNotLoadImages)) field is required." id="@Html.NameFor(x => x.SpiderDoNotLoadImages)" name="@Html.NameFor(x => x.SpiderDoNotLoadImages)" type="checkbox" value="true" {{ if(spiderDoNotLoadImages){ }} checked='checked' {{ } }} />
          <input name="@Html.NameFor(x => x.SpiderDoNotLoadImages)" type="hidden" value="false" />
        </div>
      </div>

      @NumericTextBox(x => x.BatchSize, 1, 1, 100, "{{= batchSize }}")
      @NumericTextBox(x => x.BatchDelayInSeconds, 10, 0, 60 * 60 * 24, "{{= batchDelayInSeconds }}")
      @NumericTextBox(x => x.DownloadFileDelayInMillseconds, 100, 0, 1000 * 60 * 60, "{{= downloadFileDelayInMillseconds }}")

      @NumericTextBox(x => x.WaitMilliseconds, 100, null, 100000, "{{= waitMilliseconds }}")

      @TextBox(x => x.TwitterConsumerKey, "{{= twitterConsumerKey }}")
      @TextBox(x => x.TwitterConsumerSecret, "{{= twitterConsumerSecret }}")
      @TextBox(x => x.TwitterAccessToken, "{{= twitterAccessToken }}")
      @TextBox(x => x.TwitterAccessTokenSecret, "{{= twitterAccessTokenSecret }}")

    </div>

  </fieldset>
</form>