﻿

<div class="js-article-posted-date-search-rule-view">

  <div class="page-header">
    <h2>
      Setup Search Rule<small> to find Article Posted Date. This Date will be used for sorting in Web Api.</small>
    </h2>
    <br/>
    <div class="controls">
      <label class="control-label">
        <input name="posted-date-switcher" type="radio" value="need-to-configure">I want to configure Article Posted Date
      </label>
      <label class="control-label">
        <input name="posted-date-switcher" type="radio" value="dont-need-to-configured">I do not need to configure Article Posted Date
      </label>
    </div>
  </div>

  <div class="js-search-rules-container">
  </div>
</div>

