﻿@using WebParser.Controllers.ViewModels.ArticleGroup
@model WebParser.Controllers.ViewModels.ArticleGroup.EditArticlesGroupModel

<script type="text/x-kendo-template" id="js-article-group-template">
  <div class="row-fluid js-article-group-settings-container">
    <div class="box span12">
      <div class="box-header" data-original-title>
        <h2>
          <i class="halflings-icon edit"></i><span class="break"></span>{{= text }} Article Group
        </h2>
      </div>
      <div class="box-content">
        
        @Html.ValidationSummary()

        <div class="k-content js-validateble-area-container">
          <div id="articlesGroupSettings">
            <ul>
              <li class="k-state-active">
                Articles Group Setting
              </li>
              <li>
                Links To Articles
              </li> 
              <li>
                Article Search Rules
              </li>
            </ul>
            <div>
              @Html.Partial("~/Views/ArticlesGroup/_ArticlesGroupSettingTab.cshtml", Model)
            </div>
            <div>
              @Html.Partial("~/Views/ArticlesGroup/_LinksToArticlesTab.cshtml")
            </div>
            <div>
              @Html.Partial("~/Views/ArticlesGroup/_ArticleSearchRulesTab.cshtml")
            </div>
          </div>
        </div>
        
        <div class="form-actions">
          <button type="button" class="btn btn-primary js-submit-button js-edit-articles-group-result">{{= text }}</button>
                                                           
          <button class="btn btn-info js-submit-button js-preview-parsing-result " title="Preview Parsing Result">
            <i class="halflings-icon white play"></i>
          </button>

          <button type="reset" class="btn js-cancel-button">Cancel</button>
        </div>
      
      </div>
    </div>
  </div> 
  
  <div id="js-preview-parsing-result-placeholder"></div>
  
  <div id="js-article-group-links-placeholder"></div>
  
</script>