﻿
<div class="js-article-search-rules-view">

  <div class="page-header">
    <h2>
      Setup Search Rules<small> to find interesting fields of Article.</small>
    </h2>
    <br/>
    <h2>
      Provided Field Name<small> will be used as Article Property Name with found content in Web Api.</small>
    </h2>

  </div>

  @Html.Partial("_ErrorNotification")

  <div class="js-search-rules-container">
  </div>

  @*<button type="button" class="btn js-add-searchRule">Add Search Rule</button>*@
</div>

