﻿<script type="text/x-kendo-template" id="js-found-article-links-template">
  <div class="row-fluid">
    <div class="box span12">
      <div class="box-header" data-original-title="">
        <h2>Found links</h2>
      </div>

      <div class="box-content">

        <div class="priority low"><span>FoundArticleLinks length: {{= FoundArticleLinks.length }}</span></div>

        <div class="task low">
          <div class="desc">
            <div>
              <pre>{{= FoundArticleLinks.join('\n') }}</pre>
            </div>
          </div>
        </div>

        <div class="clearfix">
        </div>

      </div>
    </div>
  </div>

</script>