﻿
<div class="js-links-to-articles-search-rule-view">

  <div class="page-header">
    <h2>
      Setup Search Rule<small> to find Links To Articles.</small>
    </h2>
  </div>

  <div class="js-search-rules-container">
  </div>
</div>