﻿@using Kendo.Mvc.UI
@using WebParser.Common.Mappers
@using WebParser.Controllers.Mappers
@using WebParser.Controllers.ViewModels.ArticleGroup
@using WebParser.Controllers.ViewModels.Shared
@using WebParser.Controllers.ViewModels.Site
@using WebParser.Web.Utilities
@model ItemViewModel[]

@{
  ViewBag.Title = "Article Groups";
}

<ul class="breadcrumb">
  <li>
    <i class="icon-home"></i>
    <a href="/">Home</a>
    <i class="icon-angle-right"></i>
  </li>
  <li>@Html.ActionLink("Article Groups", "Index")</li>
</ul>

<div class="js-article-group-view"
     data-create-article-group-url="@Url.Action("CreateArticlesGroup", "ArticlesGroup")"
     data-edit-article-group-url="@Url.Action("EditArticlesGroup", "ArticlesGroup")"
     data-delete-articles-group-url="@Url.Action("DeleteArticlesGroup", "ArticlesGroup")"
     data-preview-parsing-result-url="@Url.Action("PreviewParsingResult", "ArticlesGroup")">

  <div class="js-content-container">
    <div class="row-fluid">
      
      <div class="box span6">
        <div class="box-header">
          <h2>Choose Site</h2>
        </div>

        <div class="box-content">
          @(Html.Kendo().DropDownList()
              .Name("sites-dropdown")
              .BindTo(Model)
              .DataTextField("Name")
              .DataValueField("Id"))
        </div>
      </div>

    </div>

    <div class="row-fluid">
      <div class="box span12">
        <div class="box-header">
          <h2>Avalibale Article Groups</h2>

          <div class="box-icon">
            <a href="#" class="btn-setting js-add-articles-group"><i class="halflings-icon plus"></i>Add Article Group</a>
          </div>
        </div>

        <div class="box-content">
          @Html.Partial("_ErrorNotification")

          @(Html.Kendo()
              .Grid<ArticlesGroupItemViewModel>()
              .Name("article-group-grid")
              .HtmlAttributes(new { @Class= "table table-striped table-bordered bootstrap-datatable datatable dataTable" })
              .AutoBind(false)
              .Pageable(x => x.ButtonCount(5).PageSizes(new[] { 5, 10, 20, 50 }))
              .Columns(c =>
              {
                c.Bound(x => x.InternalName);
                c.Bound(x => x.PublicName);
                c.Template(@<text></text>).ClientTemplate(Html.Partial("_ArticlesGroupButtons").ToString());
              })
              .DataSource(read => read
              .Ajax()
              .AutoSync(false)
              .Read(y => y
                .Action("GetArticleGroupsBySite", "ArticlesGroup")
                .Type(HttpVerbs.Post)
                .Data("application.additionalDataHandlers.getHandler('onArticleGroupsAdditionalData')"))))
        </div>
      </div>
    </div>
  </div>

  <div id="js-article-group-placeholder"></div>

</div>

@section templates
{
  @Html.Action("SearchRuleTemplate", "Template")
  @Html.ArticlesGroupTemplate()
  @Html.Partial("~/Views/Shared/_PreviewParsingResultTemplate.cshtml")
  @Html.Partial("~/Views/ArticlesGroup/_FoundArticleLinksTemplate.cshtml")
  @Html.Partial("~/Views/ParsedContent/_Gallery.cshtml")
}