<div #container style="width: 100%;">
<ng-container *ngIf="imagesModel.cols > 0">

  <mat-grid-list cols="{{imagesModel.cols}}" [rowHeight]="rowHeight + 'px'">
    <mat-grid-tile *ngFor="let image of imagesModel.images"
        [colspan]="image.colspan"
        [rowspan]="image.rowspan">
      <a href="#" [attr.data-index]="image.index" (click)="showImage($event)">
        <img [src]="image.link" class="{{image.colspan == 2 ? 'double-size' : ''}}"/>
      </a>
    </mat-grid-tile>
  </mat-grid-list>

</ng-container>
</div>