<mat-dialog-content>
  <mat-card>

    <mat-card-header>
      <div mat-card-avatar>
        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
          <path fill="#000000" d="M19.54,14.6C21.09,16.04 21.41,16.73 21.46,16.82C22.1,17.88 20.76,17.96 20.76,17.96L18.18,18C18.18,18 17.62,18.11 16.9,17.61C15.93,16.95 15,15.22 14.31,15.45C13.6,15.68 13.62,17.23 13.62,17.23C13.62,17.23 13.62,17.45 13.46,17.62C13.28,17.81 12.93,17.74 12.93,17.74H11.78C11.78,17.74 9.23,18 7,15.67C4.55,13.13 2.39,8.13 2.39,8.13C2.39,8.13 2.27,7.83 2.4,7.66C2.55,7.5 2.97,7.5 2.97,7.5H5.73C5.73,7.5 6,7.5 6.17,7.66C6.32,7.77 6.41,8 6.41,8C6.41,8 6.85,9.11 7.45,10.13C8.6,12.12 9.13,12.55 9.5,12.34C10.1,12.03 9.93,9.53 9.93,9.53C9.93,9.53 9.94,8.62 9.64,8.22C9.41,7.91 8.97,7.81 8.78,7.79C8.62,7.77 8.88,7.41 9.21,7.24C9.71,7 10.58,7 11.62,7C12.43,7 12.66,7.06 12.97,7.13C13.93,7.36 13.6,8.25 13.6,10.37C13.6,11.06 13.5,12 13.97,12.33C14.18,12.47 14.7,12.35 16,10.16C16.6,9.12 17.06,7.89 17.06,7.89C17.06,7.89 17.16,7.68 17.31,7.58C17.47,7.5 17.69,7.5 17.69,7.5H20.59C20.59,7.5 21.47,7.4 21.61,7.79C21.76,8.2 21.28,9.17 20.09,10.74C18.15,13.34 17.93,13.1 19.54,14.6Z" />
        </svg>
      </div>
      <mat-card-title>Подпишитесь на наши паблики</mat-card-title>
      <mat-card-subtitle>И следите за объявлениями в новостях ВК</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

      <mat-nav-list>
        <a mat-list-item href="{{link.url}}" target="_blank" *ngFor="let link of data">{{link.name}}<mat-icon>launch</mat-icon></a>
      </mat-nav-list>
    </mat-card-content>
  
  </mat-card>

</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close] cdkFocusInitial>Закрыть</button>
</div>
