<mat-toolbar color="primary" class="toolbar">

  
    <a mat-button class="logo" href="http://www.pullmeout.ru/?utm_source=pullmeout_main&utm_medium=apartments_layout&utm_campaign=logo_click">
      <img alt="Pullmeout" class="logo-img" src="/static/img/pull-me-out-logo-black.png">
    </a>

  <div class="flex-spacer"></div>

  <a mat-button class="pay-access" href="/forbidden" *ngIf="!mobileView && showUserSpecificControls && userCounters.rateType == null" [metric-goal]="'pay-access'">
    <mat-icon>monetization_on</mat-icon>
    <span>Оплатить доступ</span>
  </a>

  <a mat-button class="take-access" href="/Account/Registerviewer" *ngIf="!mobileView && !showUserSpecificControls">
    <mat-icon>vpn_key</mat-icon>
    <span>Получить доступ</span>
  </a>

  <a mat-button href="http://www.pullmeout.ru/why-pullmeout/" [metric-goal]="'why-pullmeout'" target="_blank" *ngIf="!mobileView">
    <mat-icon>tag_faces</mat-icon>
    Для кого PullMeOut?
  </a>

  <a mat-button href="http://www.pullmeout.ru/principle-of-operation/" [metric-goal]="'open-principle-of-operation'" target="_blank" *ngIf="!mobileView">
    <mat-icon>build</mat-icon>
    Принцип работы
  </a>

  <a mat-button href="http://www.pullmeout.ru/blog/" [metric-goal]="'open-usefull-info'" target="_blank" *ngIf="!mobileView">
    <mat-icon>error</mat-icon>
    Советы по аренде
  </a>

  <button #sidenavToggler mat-button (click)="openSideBar()" class="sidenav-toggler">
    <mat-icon>toc</mat-icon>
  </button>

</mat-toolbar>

<mat-drawer #sidenav mode="over" position="end" class="right-sidebar js-top-bar-side-nav" [ngStyle]="{ 'display': showSideBar ? 'block' : 'none' }">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-button (click)="closeSideBar()" class="sidenav-toggler">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>

  <mat-list>

    <ng-container *ngIf="showUserSpecificControls">
      <mat-list-item class="user-info">
        <mat-icon matListIcon>perm_identity</mat-icon>
        <h3 matLine>{{userCounters.userName}}</h3>
        <p matLine class="user-info-line">
          <mat-icon>battery_full</mat-icon>
          <ng-container [ngSwitch]="userCounters.rateType">
            <span *ngSwitchCase="RateType.Openings">Доступно открытий: {{userCounters.openingBalance}} </span>
            <span *ngSwitchCase="RateType.Days">До: {{userCounters.accessDateTime}}</span>
            <span *ngSwitchCase="null">Доcтуп закончился</span>
          </ng-container>
        </p>
        <p matLine *ngIf="userCounters.rateType != null && (userCounters.freeOpenings > 0 || userCounters.freeDays > 0)" class="user-info-line">
          <mat-icon>battery_unknown</mat-icon>
          
          <ng-container [ngSwitch]="userCounters.rateType">
            <span *ngSwitchCase="RateType.Openings">Бонусные открытия: {{userCounters.freeOpenings}}/{{userCounters.maxFreeOpeningsCount}}</span>
            <span *ngSwitchCase="RateType.Days">Бонусные часы: {{userCounters.freeDays}}/{{userCounters.maxFreeDaysCount}}</span>
          </ng-container>
        </p>
        <p matLine class="user-info-line">
          <span class="user-vote-counters">
            <mat-icon class="first-icon">thumb_up</mat-icon><span class="user-vote-counter">{{userCounters.goodVotes}}</span>
            <mat-icon>thumb_down</mat-icon><span class="user-vote-counter">{{userCounters.badVotes}}</span>
            <mat-icon>update</mat-icon><span class="user-vote-counter">{{userCounters.outdateVotes}}</span>
          </span>
        </p>
      </mat-list-item>

      <mat-divider></mat-divider>
    </ng-container>

    <ng-container *ngIf="mobileView && showUserSpecificControls && userCounters.rateType == null">
      <mat-list-item>
        <a mat-button class="pay-access" href="/forbidden"  [metric-goal]="'pay-access'">
          <mat-icon>monetization_on</mat-icon>
          <span>Оплатить доступ</span>
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>
    </ng-container>

    <ng-container *ngIf="mobileView && !showUserSpecificControls">
      <mat-list-item>
        <a mat-button class="take-access" href="/Account/Registerviewer">
          <mat-icon>vpn_key</mat-icon>
          <span>Получить доступ</span>
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>
    </ng-container>

    <mat-list-item>
      <button mat-button [matMenuTriggerFor]="shareMenu" (onMenuOpen)="onShareMenuOpen()" [metric-goal]="'open-share-counter'">
        <mat-icon>add</mat-icon>
        1 час бесплатно
      </button>

      <mat-menu #shareMenu="matMenu" xPosition="after" class="user-info-menu">
        <div mat-menu-item>
          <span><mat-icon>add</mat-icon>1 час доступа за репост</span>
        </div>
        <div class="ya-share2 ya-share2_inited share-buttons" id="share-buttons" [metric-goal]="'share-buttons'">
        </div>
      </mat-menu>
    </mat-list-item>
    <mat-divider></mat-divider>

    <ng-container *ngIf="showUserSpecificControls">
      <mat-list-item>
        <a mat-button href="/Account/ChangePassword" *ngIf="showUserSpecificControls">
          <mat-icon>vpn_key</mat-icon>
          <span>Изменить пароль</span>
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>
    </ng-container>

    <mat-list-item>
      <a mat-button href="http://www.pullmeout.ru/support/" [metric-goal]="'support'" target="_blank">
        <mat-icon>help_outline</mat-icon>
        <span>Служба поддержки</span>
      </a>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item>
      <button mat-button [matMenuTriggerFor]="socialMenu" [metric-goal]="'open-links-to-public-counter'">
        <mat-icon>share</mat-icon>
        Мы в соцсетях
      </button>

      <mat-menu #socialMenu="matMenu" xPosition="after" class="user-info-menu">
        <button mat-menu-item [metric-goal]="'open-vk-spb'" (click)="showPopup(1672051868)">
          <mat-icon svgIcon="vk-icon"></mat-icon>
          <span>Санкт-Петербург</span>
        </button>

        <button mat-menu-item [metric-goal]="'open-vk-msk'" (click)="showPopup(1672063015)">
          <mat-icon svgIcon="vk-icon"></mat-icon>
          <span>Москва</span>
        </button>

        <a mat-menu-item href="https://twitter.com/pullmeoutspb" target="_blank" [metric-goal]="'open-twitter-spb'">
          <mat-icon svgIcon="twitter-icon"></mat-icon>
          <span>twitter</span>
        </a>
      </mat-menu>
    </mat-list-item>
    <mat-divider></mat-divider>

    <ng-container *ngIf="mobileView">
      <mat-list-item>
        <a mat-button href="http://www.pullmeout.ru/why-pullmeout/" [metric-goal]="'why-pullmeout'" target="_blank">
          <mat-icon>tag_faces</mat-icon>
          <span>Для кого PullMeOut?</span>
        </a>
      </mat-list-item>

      <mat-divider></mat-divider>

      <mat-list-item>
        <a mat-button href="http://www.pullmeout.ru/principle-of-operation/" [metric-goal]="'open-principle-of-operation'" target="_blank">
          <mat-icon>build</mat-icon>
          <span>Принцип работы</span>
        </a>
      </mat-list-item>

      <mat-divider></mat-divider>

      <mat-list-item>
        <a mat-button href="http://www.pullmeout.ru/blog/" [metric-goal]="'open-useful-info'" target="_blank">
          <mat-icon>error</mat-icon>
          <span>Советы по аренде</span>
        </a>
      </mat-list-item>

      <mat-divider></mat-divider>
    </ng-container>

  </mat-list>
</mat-drawer>