﻿@using Kendo.Mvc.UI
@using WebParser.Common.Mappers
@using WebParser.Controllers.Mappers
@using WebParser.Controllers.ViewModels.Vote
@using WebParser.Controllers.ViewModels.WhiteListReport
@using WebParser.Web.Utilities
@model WhiteListReportViewModel

@{
    ViewBag.Title = "Unwatched Votes Report";
}

<ul class="breadcrumb">
  <li>
    <i class="icon-home"></i>
    <a href="/">Home</a>
    <i class="icon-angle-right"></i>
  </li>
  <li>@Html.ActionLink("Unwatched Votes Report", "UnwatchedVotesReport")</li>
</ul>

<div class="js-unwatched-votes-report-view"
     data-confirm-vote-url="@Url.Action("ConfirmVote", "Vote")"
     data-reject-vote-url="@Url.Action("RejectVote", "Vote")">

  <div class="row-fluid js-content-container">
    <div class="box span12">
      <div class="box-header">
        <h2>Unwatched Votes</h2>
      </div>

      <div class="box-content">
        @Html.Partial("_ErrorNotification")

        @(Html.Kendo()
            .SimpleGrid<UnwatchedVoteViewModel>()
            .Name("unwatched-votes")
            .Columns(c =>
            {
                c.Bound(x => x.VoteDate).Format("{0:" + ViewModelMapper.DateTimeFormat + "}");
                c.ForeignKey(x => x.ArticleRatingTypeId, ArticleRatingTypes.GetItems(), "Id", "Name");
                c.Bound(x => x.ArticleId).ClientTemplate("# if(ArticleId) {# <a href='/ParsedContent/ViewerIndex?articleId=#:ArticleId#' target='_blank'>#:ArticleId#</a># } #");
                c.Bound(x => x.DeletedArticleIdentity).Hidden();
                c.Bound(x => x.DeletedArticleSummary).Hidden();
                c.ForeignKey(x => x.RateTypeId, RateTypes.GetItems(), "Id", "Name");
                c.Bound(x => x.UserVkId).ClientTemplate("# if(UserVkId) {# <a href='https://vk.com/id#:UserVkId#' target='_blank'>#:UserVkId#</a> # } #");
                c.Bound(x => x.UserEmail).Hidden();
                c.Bound(x => x.UserAccessDateTime).Format("{0:" + ViewModelMapper.DateTimeFormat + "}");
                c.Bound(x => x.UserFreeHours);
                c.Bound(x => x.UserOpeningBalance);
                c.Bound(x => x.UserFreeOpenings);
                c.Bound(x => x.Id).Hidden();
                c.Command(command =>
                {
                    command.Custom("Confirm");
                    command.Custom("Reject");
                });
            })
            .Sortable(x => x.Enabled(true))
            .Filterable(x => x.Enabled(true))
            .ColumnMenu(x => x.Enabled(true))
            .DataSource(read => read
              .Ajax()
              .Read(y => y
                .Action("ReadUnwatchedVotes", "Vote")
                .Type(HttpVerbs.Post))
              .Sort(x => x.Add("VoteDate").Descending())
              .Events(events => events.RequestEnd("$.showGridActionErrors")))
        )

      </div>
    </div>
  </div>

</div>