﻿@using Kendo.Mvc.UI
@using WebParser.Controllers.Mappers
@using WebParser.Controllers.ViewModels.BlackAndWhiteArticlesReport
@using WebParser.Web.Utilities
@model WebParser.Controllers.ViewModels.BlackAndWhiteArticlesReport.BlackAndWhiteArticlesReportViewModel

@{
    ViewBag.Title = "Black and White Articles Report";
}

<ul class="breadcrumb">
  <li>
    <i class="icon-home"></i>
    <a href="/">Home</a>
    <i class="icon-angle-right"></i>
  </li>
  <li>@Html.ActionLink("Black and White Articles", "Index")</li>
</ul>

<div class="js-black-and-white-articles-report-view">
  <div class="row-fluid js-content-container">
    <div class="box span12">
      <div class="box-header">
        <h2>Black and White Articles</h2>
      </div>

      <div class="box-content">
        @Html.Partial("_ErrorNotification")

        @(Html.Kendo()
                .SimpleGrid<BlackAndWhiteArticleViewModel>()
                .Name("black-and-white-articles")
                .Columns(c =>
                {
                  c.Bound(x => x.CreatedDate).Format("{0:" + ViewModelMapper.DateTimeFormat + "}");
                  c.Bound(x => x.BlackListItemId).ClientTemplate("<a href='/BlackListReport/Index?id=#:BlackListItemId#' target='_blank'>#:BlackListItemId#</a>");
                  c.Bound(x => x.WhiteListItemId).ClientTemplate("<a href='/WhiteListReport/Index?id=#:WhiteListItemId#' target='_blank'>#:WhiteListItemId#</a>");
                  c.Bound(x => x.Id).ClientTemplate("<a href='/ParsedContent/ViewerIndex?articleId=#:Id#' target='_blank'>#:Id#</a>");
                  c.Bound(x => x.Link).ClientTemplate("<a href='#:Link#' target='_blank'>Link</a>");
                  c.ForeignKey(x => x.SiteId, Model.Sites, "Id", "Name").Filterable(filterable => filterable.UI(""));
                  c.Bound(x => x.ArticleGroup).Hidden();
                  c.Bound(x => x.Price).Hidden();
                  c.Bound(x => x.Metro).Filterable(false).Sortable(false).Hidden();
                  c.Bound(x => x.FormattedAddress).Hidden();
                  c.Bound(x => x.DuplicateGroupId).Hidden();
                  c.Bound(x => x.IsDuplicate).Hidden();
                  c.Bound(x => x.Identity);
                  c.Bound(x => x.IdentityConfidencePercentage);
                })
                .Sortable()
                .Filterable()
                .ColumnMenu(x => x.Enabled(true))
                .DataSource(read => read
                  .Ajax()
                  .Read(y => y
                    .Action("ReadBlackAndWhiteArticles", "BlackAndWhiteArticlesReport")
                    .Type(HttpVerbs.Post))
                  .Sort(x => x.Add("CreatedDate").Descending())
                  .Events(events => events.RequestEnd("$.showGridActionErrors")))
        )

      </div>
    </div>
  </div>

</div>