﻿@using Kendo.Mvc.UI
@using WebParser.Common.Mappers
@using WebParser.Controllers.Mappers
@using WebParser.Controllers.ViewModels.Dashboard
@using WebParser.Controllers.ViewModels.ParsedContent
@model WebParser.Controllers.ViewModels.Dashboard.IndexViewModel

@{
    ViewBag.Title = "Dashboard";
}


<ul class="breadcrumb">
  <li>
    <i class="icon-home"></i>
    <a href="/">Home</a>
    <i class="icon-angle-right"></i>
  </li>
</ul>

<div class="js-parsing-progress-log-view">

  <div class="row-fluid js-content-container">
    <div class="box span12">
      <div class="box-header">
        <h2>Parsing Progress</h2>
      </div>

      <div class="box-content">
        @Html.Partial("_ErrorNotification")

        @(Html.Kendo()
            .Grid<LogEntryViewModel>()
            .Name("parsing-log")
            .HtmlAttributes(new { @Class = "table table-striped table-bordered bootstrap-datatable datatable dataTable" })
            .Pageable(x => x.ButtonCount(5).PageSizes(new[] { 5, 10, 20, 50 }))
            .Columns(c =>
            {
              c.Bound(x => x.Date).ClientTemplate("#= kendo.toString(Date, '" + ViewModelMapper.DateTimeFormat+ "') #").Width(150);
              c.ForeignKey(x => x.SiteId, Model.Sites, "Id", "Name").Filterable(x => x.BindTo(Model.Sites)).Width(200);
              c.ForeignKey(x => x.Status, ParsingLogStatuses.GetItems(), "Id", "Name").Filterable(x => x.BindTo(ParsingLogStatuses.GetItems()));
              if (Model.ShowUserColumn)
              {
                c.ForeignKey(x => x.UserId, Model.Users, "Id", "Name").Filterable(x => x.BindTo(Model.Users));
              }
              c.Bound(x => x.Message).Sortable(false);
            })
            .Sortable()
            .Filterable()
            .DataSource(read => read
              .Ajax()
              .Read(y => y
                .Action("ReadLog", "Dashboard")
                .Type(HttpVerbs.Post))
                .Sort(x => x.Add("Date").Descending()))
        )
      </div>
    </div>
  </div>

</div>








