﻿@using Kendo.Mvc.UI
@using WebParser.Controllers.Mappers
@using WebParser.Controllers.ViewModels.WhiteListReport
@using WebParser.Web.Utilities
@model WhiteListReportViewModel

@{
    ViewBag.Title = "White List Report";
}

<ul class="breadcrumb">
  <li>
    <i class="icon-home"></i>
    <a href="/">Home</a>
    <i class="icon-angle-right"></i>
  </li>
  <li>@Html.ActionLink("White List Report", "Index")</li>
</ul>

<div class="js-white-list-report-view">
  @Html.HiddenFor(x => x.Id)

  <div class="row-fluid js-content-container">
    <div class="box span12">
      <div class="box-header">
        <h2>White List</h2>
      </div>

      <div class="box-content">
        @Html.Partial("_ErrorNotification")

        @(Html.Kendo()
            .SimpleGrid<WhiteListItemViewModel>()
            .Name("white-list")
            .ToolBar(toolbar => toolbar.Create())
            .Editable(editable => editable.Mode(GridEditMode.InLine))
            .Columns(c =>
            {
              c.Bound(x => x.CreatedDate).Format("{0:" + ViewModelMapper.DateTimeFormat + "}");
              c.Bound(x => x.Identity);
              c.Bound(x => x.IdentityConfidencePercentage);
              c.Bound(x => x.Hits);
              c.ForeignKey(x => x.CreatedBy, Model.Users, "Id", "Name").Filterable(x => x.BindTo(Model.Users));
              c.ForeignKey(x => x.SiteId, Model.Sites, "Id", "Name").Filterable(filterable => filterable.UI(""));
              c.ForeignKey(x => x.ArticleSiteId, Model.Sites, "Id", "Name").Filterable(filterable => filterable.UI(""));
              c.Bound(x => x.SourceArticleId).ClientTemplate("# if(SourceArticleId) {# <a href='/ParsedContent/ViewerIndex?articleId=#:SourceArticleId#' target='_blank'>#:SourceArticleId#</a># } #");
              c.Bound(x => x.Id);
              c.Command(command =>
              {
                command.Edit();
                command.Destroy();
              });
            })
            .ClientDetailTemplateId("hited-articles-template")
            .Sortable(x => x.Enabled(true))
            .Filterable(x => x.Enabled(true))
            .DataSource(read => read
              .Ajax()
              .Model(x =>
              {
                x.Id(y => y.Id);
                x.Field(y => y.CreatedDate).Editable(false);
                x.Field(y => y.IdentityConfidencePercentage).Editable(false);
                x.Field(y => y.Hits).Editable(false);

                // TODO: Make it editable in dropdown
                x.Field(y => y.SiteId).Editable(false);
                x.Field(y => y.ArticleSiteId).Editable(false);
                x.Field(y => y.CreatedBy).Editable(false);
              })
              .Create(x => x.Action("AddWhiteListItem", "WhiteListReport"))
              .Update(x => x.Action("UpdateWhiteListItem", "WhiteListReport"))
              .Read(y => y
                .Action("ReadWhiteList", "WhiteListReport")
                .Type(HttpVerbs.Post))
              .Sort(x => x.Add("CreatedDate").Descending())
              .Destroy("DeleteWhiteListItem", "WhiteListReport")
              .Events(events => events.RequestEnd("$.showGridActionErrors")))
        )

      </div>
    </div>
  </div>

</div>

@section templates
{
  <script id="hited-articles-template" type="text/kendo-tmpl">
    @(Html.Kendo()
        .SimpleGrid<HitedWhiteArticleViewModel>()
        .Name("hited-articles-#=Id#")
        .Columns(c =>
        {
          c.Bound(x => x.Id).ClientTemplate("<a href='/ParsedContent/ViewerIndex?articleId=\\#:Id\\#' target='_blank'>\\#:Id\\#</a>");
          c.Bound(x => x.Link).ClientTemplate("<a href='\\#:Link\\#' target='_blank'>Link</a>");
          c.Bound(x => x.CreatedDate).Format("{0:" + ViewModelMapper.DateTimeFormat + "}");
          c.ForeignKey(x => x.SiteId, Model.Sites, "Id", "Name").Filterable(x => x.BindTo(Model.Sites));
          c.Bound(x => x.ArticleGroup);
          c.Bound(x => x.Price);
          c.Bound(x => x.Metro).Filterable(false).Sortable(false);
          c.Bound(x => x.FormattedAddress);
          c.Bound(x => x.DuplicateGroupId);
          c.Bound(x => x.IsDuplicate);
          c.Bound(x => x.Identity);
          c.Bound(x => x.IdentityConfidencePercentage);
        })
        .ColumnMenu(x => x.Enabled(true))
        .DataSource(read => read
          .Ajax()
          .Read(y => y
            .Action("ReadHitedArticles", "WhiteListReport", new { itemId = "#=Id#" })
            .Type(HttpVerbs.Post))
          .Sort(x => x.Add("CreatedDate").Descending())
          .Events(events => events.RequestEnd("$.showGridActionErrors")))
        .ToClientTemplate())
  </script>
}
