﻿@model WebParser.Controllers.ViewModels.Account.ChangePasswordViewModel

@{
    ViewBag.Title = "Изменить пароль";
}

<ul class="breadcrumb">
  <li>
    <i class="icon-home"></i>
    <a href="/">Главная</a>
    <i class="icon-angle-right"></i>
  </li>
</ul>

<div class="js-change-password-view">

  <div class="js-content-container">
    <div class="row-fluid">

      <div class="box span12">
        <div class="box-header">
          <h2>Изменить пароль</h2>
        </div>

        <div class="box-content">
          <form class="form-horizontal js-change-password-form js-validateble-form" action="@Url.Action("ChangePassword", "Account")" method="post">

            @Html.ValidationSummary()
            @Html.Partial("_SuccessNotification", "Пароль успешно изменен!")

            <fieldset>
              <div class="control-group">
                @Html.LabelFor(m => m.OldPassword, new {@class = "control-label"})
                <div class="controls">
                  @Html.PasswordFor(m => m.OldPassword, new {@class = "form-control"})
                  @Html.ValidationMessageFor(x => x.OldPassword)
                </div>
              </div>
              <div class="control-group">
                @Html.LabelFor(m => m.NewPassword, new {@class = "control-label"})
                <div class="controls">
                  @Html.PasswordFor(m => m.NewPassword, new {@class = "form-control"})
                  @Html.ValidationMessageFor(x => x.NewPassword)
                </div>
              </div>
              <div class="control-group">
                @Html.LabelFor(m => m.ConfirmPassword, new {@class = "control-label"})
                <div class="controls">
                  @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control"})
                  @Html.ValidationMessageFor(x => x.ConfirmPassword)
                </div>
              </div>

              <div class="form-actions">
                <button type="button" class="btn btn-primary js-submit-button">Изменить</button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>