﻿@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewBag.Title = "Упс. Что-то не так";
}

@using WebParser.Web.Utilities
@model WebParser.Controllers.ViewModels.Account.ExternalLoginFailedViewModel

<h2>@ViewBag.Title</h2>

<ul>
  @foreach (var error in Model.ErrorMessages)
  {
    <li>@error</li>
  }
</ul>

<address>
  <strong>Поддержка:</strong> <a href="mailto:@Model.SupportEmail">@Model.SupportEmail</a><br/>
</address>

@section Scripts {
  @MetricsHelper.MetricGoalForPage("external-login-failed")
}