﻿@model WebParser.Controllers.ViewModels.Account.ForgotPasswordViewModel

@{   
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewBag.Title = "Забыли пароль?";
}
    
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <h4>Введите Ваш email.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
      @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
      <div class="col-md-10">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <input type="submit" class="btn btn-default" value="Ввод" />
      </div>
    </div>
}




