﻿@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewBag.Title = "Подтверждение";
}

<hgroup class="title">
  <h1>@ViewBag.Title</h1>
</hgroup>
<div>
  <p>
    Проверьте Ваш email для восстановления пароля.
  </p>
</div>

