﻿@using Microsoft.Owin.Security
@using WebParser.Common.Extensions
@using WebParser.Web.Utilities
@model WebParser.Controllers.ViewModels.Account.LoginViewModel
@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewBag.Title = "Вход";
}

<h2>@ViewBag.Title</h2>
<div class="row">

  <div class="col-md-4">
    <section id="socialLoginForm">
      <hr />

      <h4>Вход через социальные сети</h4>

      @using (Html.BeginForm("ExternalLogin", "Account", new { ViewBag.ReturnUrl }))
      {
          <div id="socialLoginList">
            <p>
              <button type="submit" class="btn btn-default vk-login-button" id="@(Model.ExternalLoginViewModel.IfNotNull(x => x.AuthenticationType))" name="provider" value="@(Model.ExternalLoginViewModel.IfNotNull(x => x.AuthenticationType))" title="Войти через vk.com" @MetricsHelper.MetricGoal("vk-login")>Войти через vk.com</button>
            </p>
          </div>
      }

      <hr />
      <h3>
        <a href="@Url.Action("RegisterViewer", "Account", new { ViewBag.ReturnUrl })" @MetricsHelper.MetricGoal("register-viewer-link-from-login")>Регистрация</a>
      </h3>

    </section>
  </div>

  <div class="col-md-6">
    <section id="loginForm">
      
      @using (Html.BeginForm("Login", "Account", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
      {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <hr />
        <div class="form-group">
          @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
          <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
          </div>
        </div>
        <div class="form-group">
          @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
          <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <div class="checkbox">
              @Html.CheckBoxFor(m => m.RememberMe)
              @Html.LabelFor(m => m.RememberMe)
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Вход" class="btn btn-default" />
          </div>
        </div>
      }

      <hr />
      <h3>Забыли пароль?</h3>
      <p>
        Нет проблем, <a href="@Url.Action("ForgotPassword", "Account")">нажмите сюда</a> для получения нового.
      </p>
    </section>
  </div>

</div>