﻿@using System.Linq.Expressions
@using WebParser.Common.Extensions
@using WebParser.Controllers.ViewModels.Account
@using WebParser.Web.Utilities
@model WebParser.Controllers.ViewModels.Account.RegisterViewerViewModel
@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewBag.Title = "Регистрация";
}

@helper DisplayPassword(Expression<Func<RegisterViewerViewModel, string>> getPassword)
{
    <div class="form-group">
      @Html.LabelFor(getPassword, new { @class = "col-md-2 control-label" })
      <div class="col-md-10">
        @Html.PasswordFor(getPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(getPassword, "", new { @class = "text-danger" })
      </div>
    </div>
}

<h2>Получение бесплатного пробного доступа</h2>

<div class="row">
  <div class="col-md-10">
    <section>

      <hr>

      <h4>Для получения бесплатного доступа ко всем контактам собственников необходимо пройти регистрацию</h4>

    </section>
  </div>
</div>

<div class="row">

  <div class="col-md-4">
    <section id="socialLoginForm">
      <hr />

      <h4>Регистрация через социальные сети</h4>

      @using (Html.BeginForm("ExternalLogin", "Account", new { ViewBag.ReturnUrl }))
      {
          <div id="socialLoginList">
            <p>
              <button type="submit" class="btn btn-default vk-login-button" id="@(Model.ExternalLoginViewModel.IfNotNull(x => x.AuthenticationType))" name="provider" value="@(Model.ExternalLoginViewModel.IfNotNull(x => x.AuthenticationType))" title="Войти через vk.com" @MetricsHelper.MetricGoal("vk-register")>Войти через vk.com</button>
            </p>
          </div>
      }

      <hr />
      <h3>
        <a href="@Url.Action("Login", "Account", new {ViewBag.ReturnUrl})" @MetricsHelper.MetricGoal("login-viewer-link-from-register")>Уже регистрировались? Войти</a>
      </h3>

    </section>
  </div>

  <div class="col-md-6">
    <section id="loginForm">

      @using (Html.BeginForm("RegisterViewer", "Account", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
      {
          <hr />
          @Html.ValidationSummary("", new { @class = "text-danger" })

          <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
              @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
              @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
          </div>

          @DisplayPassword(x => x.Password)
          @DisplayPassword(x => x.ConfirmPassword)

          <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
              <input type="submit" class="btn btn-default" value="Зарегистрироваться" @MetricsHelper.MetricGoal("register-viewer-by-email") />
            </div>
          </div>
      }
    </section>
  </div>

</div>