﻿@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewBag.Title = "Подтверждение регистрации";
}

<hgroup class="title">
  <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
  <p>
    Спасибо! Проверьте Ваш email для подтверждения регистрации.
  </p>
</div>

