﻿@model WebParser.Controllers.ViewModels.Account.RegisterFailedViewModel
@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewBag.Title = "Ошибка регистрации.";
}

<hgroup class="title">
  <h1>@ViewBag.Title</h1>
</hgroup>
<div>
  <p>
    Во время регистрации произошла ошибка.
    Обратитесь в службу поддержки: @Model.SupportEmail
  </p>
  <p>Напишите письмо c темой: "Ошибка активации акаунта" со следующим сожержанием:</p>
  <ul>
    <li>Дата: @Model.Now</li>
    <li>Код активации: @Model.Code</li>
    <li>Индентификатор: @Model.UserId</li>
    <li>Адрес возврата: @Model.ReturnUrl</li>
  </ul>
  <p>Спасибо! С уважением команда Pullmeout.</p>
</div>

