﻿@{
    ViewBag.Title = "Восстановление пароля прошло успешно!";
}

<ul class="breadcrumb">
  <li>
    <i class="icon-home"></i>
    <a href="/">Главная</a>
    <i class="icon-angle-right"></i>
  </li>
</ul>

<div class="row-fluid">
  <div class="box span12">
    <h1>Восстановление пароля прошло успешно!</h1>
  </div>
</div>

