﻿@model WebParser.Controllers.ViewModels.Account.ResetPasswordViewModel

@{    
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewBag.Title = "Восстановление пароля";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Code)
    <div class="form-group">
      @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
      <div class="col-md-10">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
      </div>
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
      <div class="col-md-10">
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
      </div>
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
      <div class="col-md-10">
        @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <input type="submit" class="btn btn-default" value="Восстановить" />
      </div>
    </div>
}




