﻿
@* TODO: Rewrite it. Use Status Column. It is shit *@
#if(!IsInParsing && !NeedStartOneTimeParsing && IsEnabled && OneTimeExport) {#

  <a class="btn btn-info js-force-run-parse" title="Start Parsing" >
    <i class="halflings-icon white play"></i>
  </a>

#} else if(OneTimeExport && (IsInParsing || NeedStartOneTimeParsing)) {#

  <a class="btn btn-inverse" title="Start Parsing" disabled="disabled">
    <i>Parsing Started</i>
  </a>

#}#

@Html.Partial("_EditDelete")
