﻿@using System.Linq.Expressions
@using Kendo.Mvc.UI
@using WebParser.Controllers.Mappers
@using WebParser.Controllers.ViewModels.Site
@model WebParser.Controllers.ViewModels.Site.EditSiteModel

@helper NullableNumericTextBox(Expression<Func<EditSiteModel, int?>> expression, int step, int min, int max, string value)
{
    <div class="control-group">
      @Html.LabelFor(expression, new
      {
        @class = "control-label"
      })
      <div class="controls">
        @(Html.Kendo()
            .NumericTextBoxFor(expression)
            .Step(step)
            .Format("#")
            .Min(min)
            .Max(max)
            .HtmlAttributes(new { @Value = "{{=" + value + "}}" })
            .ToClientTemplate())
        @Html.ValidationMessageFor(expression)
      </div>
    </div>
}

@helper NumericTextBox(Expression<Func<EditSiteModel, int>> expression, int step, int min, int max, string value)
{
    <div class="control-group">
      @Html.LabelFor(expression, new
      {
        @class = "control-label"
      })
      <div class="controls">
        @(Html.Kendo()
            .NumericTextBoxFor(expression)
            .Step(step)
            .Format("#")
            .Min(min)
            .Max(max)
            .HtmlAttributes(new { @Value = "{{=" + value + "}}" })
            .ToClientTemplate())
        @Html.ValidationMessageFor(expression)
      </div>
    </div>
}

@helper TextBox(Expression<Func<EditSiteModel, string>> expression, string value)
{
    <div class="control-group">
      @Html.LabelFor(expression, new
      {
        @class = "control-label",
      })
      <div class="controls">
        @Html.TextBoxFor(expression, new { @Value = "{{=" + value + "}}" })
        @Html.ValidationMessageFor(expression)
      </div>
    </div>
}

@helper CheckBox(Expression<Func<EditSiteModel, bool>> expression, string value)
{
  <div class="control-group">
    @Html.LabelFor(expression, new
    {
      @class = "control-label",
    })
    <div class="controls">
      <input {{= @value ? 'checked="checked"' : '' }} data-val="true" data-val-required="@Html.DisplayNameFor(expression) field is required." id="@Html.NameFor(expression)" name="@Html.NameFor(expression)" type="checkbox" value="true">
      <input name="@Html.NameFor(expression)" type="hidden" value="false">
    </div>
  </div>
}

<script type="text/x-kendo-template" id="js-site-template">
  <div class="row-fluid">
    <div class="box span12">
      <div class="box-header" data-original-title>
        <h2>
          <i class="halflings-icon edit"></i><span class="break"></span>{{= text }} Site
        </h2>
      </div>
      <div class="box-content">
        
        <form class="form-horizontal js-site-form js-validateble-form" action="{{= action }}" method="post">
          
          @Html.ValidationSummary()

          {{ if(showAsEdit){ }}
            @Html.HiddenFor(x => x.Id, new {@Value = "{{=id}}"})
          {{ } }}
          
          <fieldset> 
            
            @TextBox(x => x.Name, "name")
            @TextBox(x => x.Link, "link")
                           
            @CheckBox(x => x.OneTimeExport, "oneTimeExport")
            @CheckBox(x => x.IsEnabled, "isEnabled")
            
            <div class="js-scheduler-settings-section" {{ if(oneTimeExport){ }} style="display:none" {{ } }} >
              
              <div class="control-group">
                @Html.LabelFor(x => x.SchedulerStartTime, new
               {
                 @class = "control-label"
               })
                <div class="controls">
                  @(Html.Kendo()
                      .TimePickerFor(x => x.SchedulerStartTime)
                      .Interval(10)
                      .Format(ViewModelMapper.TimeFormat)
                      .ToClientTemplate())
                  @Html.ValidationMessageFor(x => x.SchedulerStartTime)
                </div>
              </div> 
              
              <div class="control-group">
                @Html.LabelFor(x => x.SchedulerEndTime, new
                {
                  @class = "control-label"
                })
                <div class="controls">
                  @(Html.Kendo()
                      .TimePickerFor(x => x.SchedulerEndTime)
                      .Interval(10)
                      .Format(ViewModelMapper.TimeFormat)
                      .ToClientTemplate())
                  @Html.ValidationMessageFor(x => x.SchedulerEndTime)
                </div>
              </div>
               
              @NullableNumericTextBox(x => x.RepeatIntervalInMunutes, 5, 5, 1435, "repeatIntervalInMunutes") 

            </div>
                
            @TextBox(x => x.ProxyAddress, "proxyAddress")
            @TextBox(x => x.ProxyUsername, "proxyUsername")
            @TextBox(x => x.ProxyPassword, "proxyPassword") 
            @TextBox(x => x.WebHookUrl, "webHookUrl")
            @TextBox(x => x.CookieName, "cookieName")
            @TextBox(x => x.CookieValue, "cookieValue")            
            @TextBox(x => x.UserAgent, "userAgent")

            <div class="control-group">
              @Html.LabelFor(x => x.JobTypeId, new
              {
                @class = "control-label",
              })
              <div class="controls">
                @(Html.Kendo()
                  .DropDownListFor(x => x.JobTypeId)
                  .BindTo(Model.JobTypes)
                  .DataValueField("Id")
                  .DataTextField("Name")
                  .HtmlAttributes(new { @Value = "{{= jobTypeId }}" })
                  .ToClientTemplate()
                )
                @Html.ValidationMessageFor(x => x.JobTypeId)
              </div>
            </div>
                 
            <div class="control-group">
              @Html.LabelFor(x => x.BlackListIdentitySiteId, new
              {
                @class = "control-label"
              })
              <div class="controls">
                @(Html.Kendo()
                  .DropDownListFor(x => x.BlackListIdentitySiteId)
                  .BindTo(Model.ViewerSites)
                  .DataTextField("Name")
                  .DataValueField("Id")
                  .HtmlAttributes(new { @Value = "{{= blackListIdentitySiteId }}" })
                  .OptionLabel("Select Value")
                  .ToClientTemplate())
                @Html.ValidationMessageFor(x => x.BlackListIdentitySiteId)
              </div>
            </div>
            
            @TextBox(x => x.GeoBounds, "geoBounds")   
            
            @CheckBox(x => x.UseSourceLinkAsContact, "useSourceLinkAsContact")

            @NullableNumericTextBox(x => x.WatermarkHeight, 10, 0, 2000, "watermarkHeight")
            @NullableNumericTextBox(x => x.WatermarkWidth, 10, 0, 2000, "watermarkWidth")
            @NullableNumericTextBox(x => x.WatermarkFontSize, 1, 0, 1000, "watermarkFontSize")
            
            @TextBox(x => x.WatermarkRectX, "watermarkRectX")
            @TextBox(x => x.WatermarkRectY, "watermarkRectY")
            @TextBox(x => x.WatermarkTextX, "watermarkTextX")
            @TextBox(x => x.WatermarkTextY, "watermarkTextY")  

            @NumericTextBox(x => x.CropImageTop, 1, 0, 10000, "cropImageTop")
            @NumericTextBox(x => x.CropImageBottom, 1, 0, 10000, "cropImageBottom")
            @NumericTextBox(x => x.CropImageLeft, 1, 0, 10000, "cropImageLeft")
            @NumericTextBox(x => x.CropImageRight, 1, 0, 10000, "cropImageRight")

            <div class="form-actions">
              <button type="button" class="btn btn-primary js-submit-button">{{= text }} </button>
              <button type="reset" class="btn js-cancel-button">Cancel</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</script>