﻿@using Kendo.Mvc.UI
@using WebParser.Controllers.ViewModels.Site

@{
    ViewBag.Title = "Sites";
}


<ul class="breadcrumb">
  <li>
    <i class="icon-home"></i>
    <a href="/">Home</a>
    <i class="icon-angle-right"></i>
  </li>
  <li>@Html.ActionLink("Sites", "Index")</li>
</ul>

<div class="js-sites-view"
     data-create-site-url="@Url.Action("CreateSite", "Site")"
     data-edit-site-url="@Url.Action("EditSite", "Site")"
     data-delete-site-url="@Url.Action("DeleteSite", "Site")"
     data-force-run-parsing-url="@Url.Action("ForceRunParsing", "Site")">
  <div class="row-fluid js-content-container">      
    <div class="box span12">
      <div class="box-header">
        <h2>Avalibale Sites</h2>

        <div class="box-icon">
          <a href="#" class="btn-setting js-add-site"><i class="halflings-icon plus"></i>Add Site</a>
        </div>
      </div>

      <div class="box-content">
        @Html.Partial("_ErrorNotification")

        @(Html.Kendo()
            .Grid<EditSiteModel>()
            .Name("available-sites")
            .Pageable(x => x.ButtonCount(5).PageSizes(new[] { 5, 10, 20, 50 }))
            .HtmlAttributes(new { @Class= "table table-striped table-bordered bootstrap-datatable datatable dataTable" })
            .Columns(c =>
            {
            c.Bound(x => x.Name);
            c.Bound(x => x.Link);
            c.Bound(x => x.OneTimeExport);
            c.Bound(x => x.IsEnabled);
            c.Bound(x => x.SchedulerStartTimeStr);
            c.Bound(x => x.SchedulerEndTimeStr);
            c.Template(@<text></text>).ClientTemplate(Html.Partial("_SiteButtons").ToString());
            })
            .DataSource(read => read
              .Ajax()
              .Read(y => y
                .Action("GetAvailableSites", "Site")
                .Type(HttpVerbs.Post))))

      </div>
    </div>
  </div>

  <div id="js-site-placeholder"></div>

</div>

@section templates
{
  @Html.Action("SiteTemplate", "Template")
}