﻿@using WebParser.Common.Extensions
@using WebParser.Controllers.Mappers
@using WebParser.Web.Utilities
@model WebParser.Controllers.ViewModels.Forbidden.WaitingForPaymentViewModel

@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewBag.Title = "Оплата завершена";
}

<h2>@ViewBag.Title</h2>

<p>
  Ваш платеж успешно завершен и обрабатывается. Это может занять не более нескольких минут. Обновите страницу, чтобы продолжить пользоваться сайтом.
</p>

<p>Успехов в поиске лучшего жилья!</p>

<p>
  Если по истечении 5 минут Вы все еще видите эту страницу напишите нам письмо на почту <a href="mailto:@Model.SupportEmail">@Model.SupportEmail</a> со следующей информацией:
</p>

<ul>
  <li>Ваш идентификатор: @Model.UserIdentity</li>
  <li>Время оплаты</li>
  <li>Cумма оплаты</li>
</ul>

<h4>Пример письма:</h4>

<address>
  Идентификатор: @Model.UserIdentity<br />
  Время оплаты: @DateTime.Now.ToStringInvariant(ViewModelMapper.NumericDateTimeFormat)<br />
  Cумма оплаты: 290
</address>

<address>
  <strong>Поддержка:</strong> <a href="mailto:@Model.SupportEmail">@Model.SupportEmail</a><br/>
</address>

@section Scripts {
  @MetricsHelper.MetricGoalForPage("waiting-for-payment")
}
