<div [style.display]="voteState != VoteState.Hidden ? 'block' : 'none'">
  <apartments-contact-info [phones]="phones"></apartments-contact-info>

  <ng-container *ngIf="voteState == VoteState.ShowVote">

    <mat-card-title>
      Нашли агента? Оставьте об этом оценку, и мы {{rateType == RateType.Openings ? 'вернем потраченное открытие' : 'начислим дополнительное время использования сервиса' }}
    </mat-card-title>

    <div *ngIf="!mobileView">
      <button *ngIf="passBlackListState" mat-raised-button (click)="vote(VoteType.Good)" class="good-vote" [metric-goal]="'vote-click-good'"><mat-icon class="vote-icon">thumb_up</mat-icon>От собственника</button>
      <button mat-raised-button (click)="vote(VoteType.Bad)" class="bad-vote" [metric-goal]="'vote-click-bad'"><mat-icon class="vote-icon">thumb_down</mat-icon>{{getBadVoteButtonText()}}</button>
      <button mat-raised-button (click)="vote(VoteType.Outdate)" class="outdate-vote" [metric-goal]="'vote-click-outdate'"><mat-icon class="vote-icon">update</mat-icon>Не актуально</button>
    </div>

    <div class="vote-buttons" *ngIf="mobileView">
      <div *ngIf="passBlackListState" (click)="vote(VoteType.Good)"><button mat-mini-fab class="good-vote" [metric-goal]="'vote-click-good'"><mat-icon class="vote-icon">thumb_up</mat-icon></button><span class="vote-button-text">От собственника</span></div>
      <div (click)="vote(VoteType.Bad)"><button mat-mini-fab class="bad-vote" [metric-goal]="'vote-click-bad'"><mat-icon class="vote-icon">thumb_down</mat-icon></button><span class="vote-button-text">{{getBadVoteButtonText()}}</span></div>
      <div (click)="vote(VoteType.Outdate)"><button mat-mini-fab class="outdate-vote" [metric-goal]="'vote-click-outdate'"><mat-icon class="vote-icon">update</mat-icon></button><span class="vote-button-text">Не актуально</span></div>
    </div>
  </ng-container>

  <ng-container *ngIf="voteState == VoteState.VoteCompletedThankYou">
    <mat-card-title>
      Спасибо!
    </mat-card-title>
  </ng-container>

  <ng-container *ngIf="voteState == VoteState.VoteCompletedWillCheckAndAddDays">
    <mat-card-title>
      Спасибо! В ближайшее время мы проверим Вашу оценку и начислим дополнительные часы использования сервиса.
    </mat-card-title>
  </ng-container>

  <ng-container *ngIf="voteState == VoteState.VoteCompletedWillCheckAndAddOpenings">
    <mat-card-title>
      Спасибо! В ближайшее время мы проверим Вашу оценку и начислим потраченное открытие.
    </mat-card-title>
  </ng-container>

  <ng-container *ngIf="voteState == VoteState.VoteCompletedThankYouPossiblyRented">
    <mat-card-title>
      Объявления, помеченные "Возможно сдано", с большой вероятностью неактуальны. Спасибо за оставленную оценку.
    </mat-card-title>
  </ng-container>

  <ng-container *ngIf="voteState == VoteState.ClickerCaution">
    <mat-card-title>
      Уже несколько пользвателей отозвались по-поводу этого объявления.
    </mat-card-title>
    <mat-card-title>
      И ваша оценка противоречит их мнению. Если Вы считаете, что правы по-поводу этого объявления, напишите нам: <a href="mailto:{{supportEmail}}">{{supportEmail}}</a> и укажите номер объявления: {{apartmentId}}
    </mat-card-title>
  </ng-container>
</div>