<ul class="phone-list">
  <li *ngFor="let phone of phones">
    <ng-container [ngSwitch]="phone.type">
      <a class="phone-text" *ngSwitchCase="PhoneValueType.String" href="tel:{{phone.value}}">{{phone.value}}</a><!--string-->
      <img class="phone-img" *ngSwitchCase="PhoneValueType.Image" src='{{phone.value}}' [ngStyle]="{ 'background-color': phone.backgroundColor }" /><!--img-->
      
      <ng-container *ngSwitchCase="PhoneValueType.Link"><!--link-->
        <a class="phone-link"  href="{{phone.value}}" target="_blank" [metric-goal]="'open-source-link'">
          <span class="link">Перейти на источник<mat-icon>launch</mat-icon></span>
        </a>
        <p class="source-contact-text">Если в источнике нет информации о контакте или об объявлении, значит оно уже не актуально. Оставьте об этом оценку и получите баллы на бесплатные дни!</p>
      </ng-container>
    </ng-container>
  </li>
</ul>