<mat-list>
  <button mat-button mat-list-item class="refresh-apartments" (click)="refresh()">
    <mat-icon>autorenew</mat-icon>
    <span>Последние предложения</span>
  </button>

  <mat-divider></mat-divider>
  <apartments-item *ngFor="let apartment of list" [apartment]="apartment" (onItemClick)="raiseOnApartmentClick()">
  </apartments-item>

  <mat-divider></mat-divider>

  <mat-list-item *ngIf="hasMore">
    <img mat-list-avatar src="/static/img/loader.gif" alt="...">
    <h3 mat-line> Загрузка </h3>
  </mat-list-item>

  <mat-list-item *ngIf="!hasMore">
    <p mat-line>
      <span class="float-left">Объявления закончились</span>
    </p>
    <p mat-line class="end-of-apartments">
      <span class="float-left" matTooltip="Попробуйте увеличить диапазон цен, выбрать больше станций метро, перепроверьте правильность выбранного типа жилья." [matTooltipPosition]="'below'">
        Попробуйте ослабить фильтры<mat-icon class="reference-icon">announcement</mat-icon>
      </span>
    </p>
  </mat-list-item>

</mat-list>
