<div class="apartment-item {{active ? 'active' : ''}}">

<a mat-list-item #apartmentLink
  [routerLink]="['/apartments']"
  [queryParams]="{'apartmentId': apartment.id}"
  [metric-goal]="'offer-click'"
  (click)="raiseOnItemClick()"
  >

  <p class="apartment-price" mat-line>
    <span class="float-left">{{apartment.articlesGroup}}</span>
    <span class="float-right">{{apartment.price}}</span>
  </p>
  <p  class="apartment-status {{apartment.inWhiteList ? 'white-list' : ''}}" mat-line>
    {{ apartment.hideBlacklistWarranty ? '' : 'проверенно, собственник'}}
  </p>

  <p class="apartment-subway" mat-line>
    <mat-icon>directions_subway</mat-icon><span>{{apartment.metro}} {{apartment.metroDistance}} {{apartment.metroDuration}}</span>
  </p>
  <p class="apartment-item-created-date" mat-line>
    <mat-icon>access_time</mat-icon><span class="{{apartment.possiblyRented ? 'possibly-rented-status' : ''}}">{{apartment.createdDateStr}} {{apartment.possiblyRented ? '- Возможно сдано' : ''}}</span>
  </p>
  <p *ngIf="apartment.showRating" class="apartment-rating-counters" mat-line>
    <mat-icon>thumb_up</mat-icon><span class="apartment-rating-counter">{{apartment.goodRating}}</span>
    <mat-icon>thumb_down</mat-icon><span class="apartment-rating-counter">{{apartment.badRating}}</span>
    <mat-icon>update</mat-icon><span class="apartment-rating-counter">{{apartment.outdateRating}}</span>
    <span class="apartment-rating-counter">&nbsp;&nbsp;{{apartment.source}}</span>
  </p>
</a>

<mat-divider *ngIf="apartment.imagesPreview?.length > 0"></mat-divider>

<ng-container mat-line>
  <mat-tab-group #imagesPreview 
    class="{{ imagesPreview.selectedIndex == 0 ? 'before-disabled' : '' }} {{ imagesPreview.selectedIndex == apartment.imagesPreview.length - 1 ? 'next-disabled' : '' }}">

    <mat-tab *ngFor="let image of apartment.imagesPreview; let myIndex = index" label="{{myIndex + 1}}">

      <div class="inline before" (click)="showPreviousImage()">
        <mat-icon>navigate_before</mat-icon>
      </div>

      <div class="inline image-container" (click)="raiseLinkClick()">
        <img [src]="image.imageUrl" class="image-preview"/>
      </div>

      <div class="inline next" (click)="showNextImage()">
        <mat-icon>navigate_next</mat-icon>
      </div>

    </mat-tab>
  </mat-tab-group>
</ng-container>

</div>
<mat-divider></mat-divider>
