<mat-card class="filters">

  <mat-card-content [style.display]="display" class="filters-container">

    <section class="{{mobileView ? 'mobile-top-section' : ''}}">
      <mat-select placeholder="Город" [(ngModel)]="filters.cityId" class="control-margin-bottom-25" (selectionChange)="cityChanged($event)">
        <mat-option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</mat-option>
      </mat-select>

      <mat-button-toggle-group multiple class="apartment-types" *ngIf="!mobileView">
        <mat-button-toggle *ngFor="let apartmentType of filters.apartmentTypes"
          [value]="apartmentType.value"
          [(checked)]="apartmentType.checked"
          (change)="apartmentTypeToggled($event)"
          [metric-goal]="apartmentType.name"
          >
          <span class="apartment-type">{{apartmentType.name}}</span>
        </mat-button-toggle>
      </mat-button-toggle-group>

      <mat-select placeholder="Тип жилья" [multiple]="true" [(ngModel)]="apartmentTypeIds" *ngIf="mobileView" (selectionChange)="apartmentTypesSelectionChange($event)"> 
        <mat-option *ngFor="let apartmentType of filters.apartmentTypes" [value]="apartmentType.value">{{ apartmentType.name }}</mat-option>
      </mat-select>

    </section>

    <section>

      <mat-select placeholder="Метро" [(ngModel)]="filters.metroStationIds" [multiple]="true" > 
        <mat-option *ngFor="let metroStation of metroStations" [value]="metroStation.id">{{ metroStation.name }}</mat-option>
      </mat-select>
      <mat-form-field>
        <input matInput placeholder="Минут до метро" name="minutesToMetro" [(ngModel)]="filters.minutesToMetro" type="number" min="0" (keypress)="cutInput(6, 'minutesToMetro')">
      </mat-form-field>

      <!-- TODO: Currently it is not used during filtering. Think about it is applicable or remove. -->
      <!-- <mat-checkbox [(ngModel)]="filters.showWithEmptyMetro" matTooltip="Некоторые объявления могут не содержать информации о метро, но могут быть полезными. Показывать такие такие объявления?" [matTooltipPosition]="tooltipPosition">
        <span>Показывать с пустым метро</span>
        <mat-icon class="reference-icon">announcement</mat-icon>
      </mat-checkbox> -->

    </section>

    <section>
      <mat-form-field class="control-margin-bottom-25">
        <input matInput placeholder="Цена от ₽" name="priceFrom" [(ngModel)]="filters.priceFrom" type="number" min="0" (keypress)="cutInput(7, 'priceFrom')">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Цена до ₽" name="priceTo" [(ngModel)]="filters.priceTo" type="number" min="0" (keypress)="cutInput(7, 'priceTo')">
      </mat-form-field>
      <mat-checkbox [(ngModel)]="filters.showWithEmptyPrice" matTooltip="Некоторые объявления могут не содержать информации о цене, но могут быть полезными. Показывать такие такие объявления?" [matTooltipPosition]="tooltipPosition">
        <span>Показывать c пустой ценой</span>
        <mat-icon class="reference-icon">announcement</mat-icon>
      </mat-checkbox>
    </section>

    <section>
      <mat-select placeholder="Источник" [(ngModel)]="filters.sourceIds" [multiple]="true" *ngIf="sources?.length > 0">
        <mat-option *ngFor="let source of sources" [value]="source.id">{{ source.name }}</mat-option>
      </mat-select>
    </section>

  </mat-card-content>

  <mat-divider></mat-divider>

  <button mat-button class="filters-apply-btn" (click)="applyFilters()">
    {{applyButtonTitle}}
    <span class="mat-select-underline"></span>

    <mat-icon>{{applyButtonChevronIcon}}</mat-icon>
  </button>

</mat-card>
