<mat-card class="apartment-details">

  <mat-card-title class="apartment-subject">

    <button *ngIf="mobileView" mat-raised-button (click)="onBackClick()" class="back-btn">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>

    <ng-template [ngIf]="apartment.price && mobileView">
      <span class="apartment-price">{{apartment.price}}</span>
    </ng-template>

    <span *ngIf="!mobileView" class="apartment-title"><mat-icon class="apartment-title-icon">home</mat-icon> {{apartment.subject?.cut(50, '...')}}</span>
    
    <ng-template [ngIf]="apartment.price && !mobileView">
      <span class="apartment-price">{{apartment.price}}</span>
    </ng-template>

  </mat-card-title>
  
  <span *ngIf="mobileView" class="apartment-title"><mat-icon class="apartment-title-icon">home</mat-icon> {{apartment.subject?.cut(50, '...')}}</span>

  <mat-divider class="top-divider"></mat-divider>

  <section>
    <gallery #gallery></gallery>
  </section>

  <mat-divider [style.display]="showImages ? 'block' : 'none'" class="top-divider"></mat-divider>

  <ng-container *ngIf="apartment?.metroItems?.length > 0 || apartment?.sourceMetro?.length > 0 || apartment?.sourceAddress?.length > 0">

    <mat-accordion class="location-info" [multi]="true">
      <mat-expansion-panel *ngIf="apartment?.metroItems?.length > 0">
        <mat-expansion-panel-header [collapsedHeight]="mobileView ? '60px' : '48px'">
          <mat-panel-title>
            <span class="label" matTooltip="Метро может быть определено неверно. Cмотрите 'Указанное в объявлении метро' и уточняйте информацию у арендодателя." [matTooltipPosition]="tooltipPosition">
              Метро:
              <mat-icon class="reference-icon">announcement</mat-icon>
            </span>
          </mat-panel-title>
          <mat-panel-description>
            <span *ngFor="let metro of apartment.metroItems">
              <mat-icon class="apartment-icon">directions_subway</mat-icon>
              <span class="metro-info">{{metro.metro}} {{metro.metroDuration}} {{metro.metroDistance}}</span>
            </span>
          </mat-panel-description>
        </mat-expansion-panel-header>
    
        <mat-card-subtitle>
          Указанное в объявлении метро:
        </mat-card-subtitle>
      
        <mat-card-subtitle *ngFor="let metro of apartment.sourceMetro">
          <mat-icon class="apartment-icon">directions_subway</mat-icon>
          <span>{{metro}}</span>
        </mat-card-subtitle>
      </mat-expansion-panel>
      <mat-expansion-panel *ngIf="apartment?.sourceMetro?.length > 0 && !apartment?.metroItems?.length">
        <mat-expansion-panel-header [collapsedHeight]="mobileView ? '60px' : '48px'">
          <mat-panel-title>
            <span class="label">
              Метро:
              <mat-icon class="reference-icon">announcement</mat-icon>
            </span>
          </mat-panel-title>
          <mat-panel-description>
            <span>
              <mat-icon class="apartment-icon">directions_subway</mat-icon>
              <span class="metro-info">{{apartment.sourceMetro[0]}}</span>
            </span>
          </mat-panel-description>
        </mat-expansion-panel-header>
    
        <mat-card-subtitle>
          Указанное в объявлении метро:
        </mat-card-subtitle>
      
        <mat-card-subtitle *ngFor="let metro of apartment.sourceMetro">
          <mat-icon class="apartment-icon">directions_subway</mat-icon>
          <span>{{metro}}</span>
        </mat-card-subtitle>
      </mat-expansion-panel>

      <mat-expansion-panel *ngIf="apartment?.address?.length > 0">
        <mat-expansion-panel-header [collapsedHeight]="mobileView ? '60px' : '48px'">
          <mat-panel-title>
            <span class="label" matTooltip="Адрес может быть определен неверно. Cмотрите 'Указанный в объявлении адрес' и уточняйте информацию у арендодателя." [matTooltipPosition]="tooltipPosition">
              Адрес:
              <mat-icon class="reference-icon">announcement</mat-icon>
            </span>
          </mat-panel-title>
          <mat-panel-description>
            <span class="address-info">
              <mat-icon class="apartment-icon">location_on</mat-icon>
              <a *ngIf="!showMap" class="address-info" href="{{apartment.mapUrl}}" target="_blank">{{apartment.address.cut(40, '...')}} - показать на карте<mat-icon class="apartment-icon">launch</mat-icon></a>
              <span *ngIf="showMap" class="address-info">{{apartment.address.cut(50, '...')}}</span>
            </span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        
        <mat-card-subtitle>
          Указанный в объявлении адрес:
        </mat-card-subtitle>
      
        <mat-card-subtitle *ngFor="let address of apartment.sourceAddress">
          <mat-icon class="apartment-icon">location_on</mat-icon>
          <span>{{address}}</span>
        </mat-card-subtitle>
      </mat-expansion-panel>
      <mat-expansion-panel *ngIf="apartment?.sourceAddress?.length > 0 && !apartment?.address?.length">
        <mat-expansion-panel-header [collapsedHeight]="mobileView ? '60px' : '48px'">
          <mat-panel-title>
            <span class="label">
              Адрес:
              <mat-icon class="reference-icon">announcement</mat-icon>
            </span>
          </mat-panel-title>
          <mat-panel-description>
            <span class="address-info">
              <mat-icon class="apartment-icon">location_on</mat-icon>
              <a *ngIf="!showMap" class="address-info" href="{{apartment.mapUrl}}" target="_blank">{{apartment.sourceAddress[0].cut(40, '...')}} - показать на карте<mat-icon class="apartment-icon">launch</mat-icon></a>
              <span *ngIf="showMap" class="address-info">{{apartment.sourceAddress[0].cut(50, '...')}}</span>
            </span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        
        <mat-card-subtitle>
          Указанный в объявлении адрес:
        </mat-card-subtitle>
      
        <mat-card-subtitle *ngFor="let address of apartment.sourceAddress">
          <mat-icon class="apartment-icon">location_on</mat-icon>
          <span>{{address}}</span>
        </mat-card-subtitle>
      </mat-expansion-panel>

    </mat-accordion>

  </ng-container>

  <mat-divider class="top-divider" [style.display]="showMap ? 'block' : 'none'"></mat-divider>

  <div id="map" [style.display]="showMap ? 'block' : 'none'">
  </div>

  <mat-divider class="top-divider"></mat-divider>

  <mat-card-subtitle [style.display]="!apartment.id ? 'none' : 'block'" class="created-date">
    <mat-icon class="apartment-icon">av_timer</mat-icon>
    <span>{{apartment.createdDate}} {{apartment.possiblyRented ? '- Возможно сдано' : ''}}</span>
  </mat-card-subtitle>

  <mat-card-content [style.display]="!apartment.id ? 'none' : 'block'">
    
    <mat-divider class="top-divider"></mat-divider>

    <section>

      <ng-container [ngSwitch]="apartment?.phoneState" *ngIf="voteState == VoteState.Hidden">

        <p class="black-list-phone" *ngSwitchCase="PhoneState.InBlackList">
          В черном списке
        </p>

        <ng-container *ngSwitchCase="PhoneState.ShowContacts">
          <apartments-contact-info [phones]="apartment.phones"></apartments-contact-info>
        </ng-container>

        <button mat-raised-button class="call-btn" *ngSwitchCase="PhoneState.ConnectToContact" (click)="showContact()" [metric-goal]="'open-phone'">
          Связаться
        </button>

        <a mat-raised-button class="call-btn" *ngSwitchCase="PhoneState.OpenLink" href="{{apartment.openPhoneUrl}}" [metric-goal]="'open-phone-anonymous'">
          Связаться
        </a>

      </ng-container>

      <span class="possibly-rented-status" *ngIf="apartment.possiblyRented">
        <mat-icon>update</mat-icon>
        <span>Возможно сдано</span>
      </span>

      <div class="owner-status">
        <span *ngFor="let ownerName of apartment.ownerNames" class="apartment-owner">{{ownerName}}</span>{{apartment.hideBlacklistWarranty ? '' : ' - '}}
        <span class="white-list-status" *ngIf="!apartment.hideBlacklistWarranty && apartment.inWhiteList" matTooltip="Модератор произвел звонок по данному объявлению и удостоверился, что оно от собственника" [matTooltipPosition]="tooltipPosition">проверенно, собственник <mat-icon class="reference-icon">announcement</mat-icon></span>
        <span class="black-list-status" *ngIf="!apartment.hideBlacklistWarranty && passBlackListState()" matTooltip="Объявление прошло наш черный список и автоматическое определение агента по его поведению" [matTooltipPosition]="tooltipPosition">проверенно, собственник <mat-icon class="reference-icon">announcement</mat-icon></span>
      </div>

      <apartments-vote
        [phones]="apartment.phones"
        [apartmentId]="apartment.id"
        [possiblyRented]="apartment.possiblyRented"
        [voteState]="voteState"
        [passBlackListState]="passBlackListState()"
        [hidden]="voteState == VoteState.Hidden"
        [rateType]="rateType">
      </apartments-vote>

    </section>

    <mat-divider class="top-divider"></mat-divider>

    <ng-container *ngIf="apartment.description?.length > 0">
      <section>
        <h2>Описание</h2>

        <p *ngFor="let text of apartment.description" [innerHTML]="text"></p>

      </section>

      <mat-divider class="top-divider"></mat-divider>
    </ng-container>

    <ng-container *ngIf="apartment.characteristics?.length > 0">
      <section>
        <h2>Характеристики</h2>
        <div *ngFor="let text of apartment.characteristics" [innerHTML]="text"></div>
      </section>

      <mat-divider class="top-divider"></mat-divider>
    </ng-container>

  </mat-card-content>
</mat-card>
