<br/>
<h1 mat-dialog-title>Надоело мониторить новые объявления?</h1>
<div mat-dialog-content>
  <p>Включите оповещения и узнавайте о всех новых объявлениях по вашим фильтрам сразу при их появлении.</p>
</div>
<div mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="false" [metric-goal]="'notification-confirm-no'">Нет</button>
  <button mat-raised-button [mat-dialog-close]="true" [metric-goal]="'notification-confirm-yes'" cdkFocusInitial class="confirm-btn">Включить</button>
</div>