<br/>
<h1 mat-dialog-title>Открытие контакта</h1>
<div mat-dialog-content>

  <p *ngIf="data">Объявление помечено знаком
    <span class="possibly-rented-status">
      <mat-icon>update</mat-icon>&nbsp;<span>Возможно сдано</span>
    </span>. Ему уже больше 3х дней. Шансы, что оно все еще актуально, очень малы.
  </p>

  <p *ngIf="data">Все равно потратить отрытие на это объявление?</p>

  <p *ngIf="!data">Сейчас будет потрачено одно открытие. Открыть контакт?</p>
</div>
<div mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="false">Нет</button>
  <button mat-raised-button [mat-dialog-close]="true" cdkFocusInitial class="confirm-btn">Да</button>
</div>