mat-dialog-container.mat-dialog-container{
  padding-top: 6px;
}

publics-popup-content{
  .mat-dialog-content {
    padding: 0;
  }

  .mat-icon{
    color: mat-color($candy-app-accent);
  }
}