mat-toolbar.toolbar, .toolbar {
  z-index: 10;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  height: 53px;
}

.toolbar .mat-toolbar-row {
  height: 53px;
}

a.logo{
  text-align: left;
  padding: 0;
}

img.logo-img {
  text-align: left;
}

.tob-bar-side-nav {
  width: 226px;
}

div .user-info-menu {
  max-width: 360px;
}

.user-vote-counters {
  margin-left: 10px;
  margin-top: 9px;
}

.share-buttons { 
  margin-left: 82px;
}

div.vote-descrition {
  font-size: 12px;
}

.user-info-menu .mat-menu-item .mat-icon{
  vertical-align: sub;
  margin-right: 5px;
}

a.pay-access, a.take-access{
  color: mat-color($candy-app-accent);
}

.right-sidebar.mat-menu-panel{
  max-width: 300px;
}
.right-sidebar{
  mat-list{
    width: 300px;
  }

  a.mat-list-item{
    text-decoration: none;
  }
  a.mat-list-item:hover{
    background-color: #d7d7d7;
  }
  a.mat-list-item span{
    margin-left: 13px;
  }

  .user-info{
    padding-left: 15px;
  }

  .user-info mat-icon{
    font-size: 17px;
    vertical-align: bottom;
    height: 17px;
    width: 17px;
  }
  .user-info .user-vote-counters .material-icons{
    margin-left: -5px;
    font-size: 15px;
    vertical-align: middle;
  }
  .user-info .user-vote-counters .material-icons ~ .material-icons{
    font-size: 15px;
    margin-left: 10px;
    vertical-align: middle;
  }

  .user-info .user-vote-counter {
    margin-left: 2px;
  }

  p.user-info-line.mat-line{
    margin-top: 10px;
  }
}