﻿@using WebParser.Web.Utilities

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>@ViewBag.Title</title>

  @Html.Partial("_CommonMeta")

  @Styles.Render("~/static/css/account")

</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="brand" href="/" class="navbar-brand"><img src="/static/img/pull-me-out-logo-black.png" alt="pullmeout" /></a>
      </div>
    </div>
  </div>
  <div class="container body-content">
    @RenderBody()
    <div class="row">
      <div class="col-md-10">
        <hr />
        <footer>
          <p>&copy; @DateTime.Now.Year - Pullmeout</p>
        </footer>
      </div>
    </div>
  </div>

  @Scripts.Render("~/static/scripts/commonScripts")

  @Html.Action("Metrics", "Shared")
  @Html.Action("YandexMetikaUserInfo", "Shared")

  <script type="text/javascript" src="https://vk.com/js/api/openapi.js?156"></script>

  <!-- VK Widget -->
  <div id="vk_community_messages"></div>
  <script type="text/javascript">
    VK.Widgets.CommunityMessages("vk_community_messages", 126773354, { disableExpandChatSound: "1", tooltipButtonText: "Есть вопрос?" });
  </script>

  @RenderSection("Scripts", required: false)

</body>
</html>
