﻿@using WebParser.Web.Utilities

<!DOCTYPE html>
<html class="k-webkit k-webkit56">
  <head>
    <base href="/">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>@ViewBag.Title</title>

    <link rel="manifest" href="/manifest.json">

    @Html.Partial("_CommonMeta")

    @Styles.Render("~/app-public/main-bundle.css")

  </head>
  <body>
    <main>
      <app-root>
        @Html.Action("ClientApplicationPreloader", "Shared")
        @RenderBody()
      </app-root>
    </main>

    @Html.Action("PublicApplicationClientSettings", "Shared")
    @Html.Action("Metrics", "Shared")

    <script type="text/javascript" src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
    @*<script type="text/javascript" src="https://vk.com/js/api/openapi.js?156"></script>*@

    @Scripts.Render("~/static/scripts/export/share-buttons.js")

    @Scripts.Render("~/app-public/main-bundle.js")

    @RenderSection("scripts", required: false)

    <script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
    <script src="https://yastatic.net/share2/share.js"></script>
  
    @Scripts.Render("~/static/scripts/export/OneSignalSDK.js")
    <script>
      var OneSignal = window.OneSignal || [];
      OneSignal.push(function() {
        OneSignal.init({
          appId: "8209e4f9-aae6-4816-a434-c3f4bb0a3a87",
          autoRegister: false,
          notifyButton: {
            enable: false,
            text: {
              'dialog.blocked.message': "Следуйте инструкции, чтобы включить оповещения",
              'dialog.blocked.title': "Разблок Unblock Notifications",
              'dialog.main.button.subscribe': "Подпишись SUBSCRIBE",
              'dialog.main.button.unsubscribe': "Отпишись UNSUBSCRIBE",
              'dialog.main.title': "Управлять Manage Site Notifications",
              'message.action.resubscribed': "вы подписались You're subscribed to notifications",
              'message.action.subscribed': "Спасибо Thanks for subscribing!",
              'message.action.subscribing': "Клик Click <strong>{{prompt.native.grant}}</strong> to receive notifications",
              'message.action.unsubscribed': "Вы You won't receive notifications again",
              'message.prenotify': "Клик Click to subscribe to notifications",
              'tip.state.blocked': "Вы You've blocked notifications",
              'tip.state.subscribed': "вы You're subscribed to notifications",
              'tip.state.unsubscribed': "вы Subscribe to notifications"
            },
            showCredit: false
          //displayPredicate: function() {
          //  return OneSignal.isPushNotificationsEnabled()
          //    .then(function(isPushEnabled) {
          //      return isPushEnabled;
          //    });
          },
          promptOptions: {
            actionMessage: "actionMessage",
            exampleNotificationTitleDesktop: "exampleNotificationTitleDesktop",
            exampleNotificationMessageDesktop: "exampleNotificationMessageDesktop",
            exampleNotificationTitleMobile: "exampleNotificationTitleMobile",
            exampleNotificationMessageMobile: "exampleNotificationMessageMobile",
            exampleNotificationCaption: "exampleNotificationCaption",
            acceptButtonText: "acceptButtonText",
            cancelButtonText: "cancelButtonText",
            showCredit: false
          },
          welcomeNotification: {
            title: "title",
            message: "asdasd"
          }
        });
      });
    </script>

  @Html.Action("YandexMetikaUserInfo", "Shared")
  </body>
</html>
