﻿
<!-- start: Mobile Specific -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- end: Mobile Specific -->

<meta property="vk:image" content="https://pp.userapi.com/c840431/v840431599/15e2e/eS4S9no6bXs.jpg">

<meta property="og:title" content="«Pullmeout» - Все объявления съемного жилья от собственников в одном месте!">
<meta property="og:description" content="Все объявления съемного жилья от собственников в одном месте.">
<meta property="og:image" content="">
<meta property="og:type" content="website">

<link rel="icon" href="~/favicon-32x32.png" sizes="32x32">
<link rel="icon" href="~/favicon-192x192.png" sizes="192x192">
<link rel="apple-touch-icon-precomposed" href="~/favicon-180x180.png">
<meta name="msapplication-TileImage" content="~/favicon-270x270.png">             

<meta name="title" content="«Pullmeout» - Все объявления съемного жилья от собственников в одном месте!">
<meta name="description" content="«Pullmeout» - Все объявления съемного жилья от собственников в одном месте.">

<meta name="google-site-verification" content="mns3gEqrOdD3L1-xfgHySXlJ4e6U4oSFre1ISbzFPw4" />
<meta name="yandex-verification" content="069b09cf1137e932" />