﻿@model WebParser.Controllers.ViewModels.Shared.LeftSideBarViewModel
         
<div id="sidebar-left" class="span2">
  <div class="nav-collapse sidebar-nav">
    <ul class="nav nav-tabs nav-stacked main-menu">
      @if (Model.ShowViewerMenuItems)
      {
        <li><a href="@Url.Action("ViewerIndex", "ParsedContent", new {area = string.Empty}, null)"><i class="icon-bar-chart"></i><span class="hidden-tablet">Объявления</span></a></li>
      }
      @if (Model.ShowUserMenuItems)
      {
        <li><a href="@Url.Action("Index", "Dashboard", new {area = string.Empty}, null)"><i class="icon-bar-chart"></i><span class="hidden-tablet">Dashboard</span></a></li>
        <li><a href="@Url.Action("Index", "Site", new {area = string.Empty}, null)"><i class="icon-globe"></i><span class="hidden-tablet"></span>Sites</a></li>
        <li><a href="@Url.Action("Index", "ArticlesGroup", new {area = string.Empty}, null)"><i class="icon-cogs"></i><span class="hidden-tablet">Article Groups</span></a></li>
        <li><a href="@Url.Action("ViewerIndex", "ParsedContent", new {area = string.Empty}, null)"><i class="icon-eye-open"></i><span class="hidden-tablet">Parsed Content</span></a></li>
        <li><a href="@Url.Action("Index", "Help", new {area = ""}, null)"><i class="icon-book"></i><span class="hidden-tablet">Web Api</span></a></li>
        <li><a href="@Url.Action("Index", "BlackListReport", new {area = ""}, null)"><i class="icon-eye-close"></i><span class="hidden-tablet">Black List Report</span></a></li>
        <li><a href="@Url.Action("Index", "WhiteListReport", new {area = ""}, null)"><i class="icon-eye-open"></i><span class="hidden-tablet">White List Report</span></a></li>
        <li><a href="@Url.Action("Index", "BlackAndWhiteArticlesReport", new { area = "" }, null)"><i class="icon-random"></i><span class="hidden-tablet">Black and White Articles</span></a></li>
        <li><a href="@Url.Action("UnwatchedVotesReport", "Vote", new { area = "" }, null)"><i class="icon-random"></i><span class="hidden-tablet">Unwatched Votes</span></a></li>
      }
      @if (Model.ShowAdminMenuItems)
      {
        <li><a href="@Url.Action("Index", "User", new { area = "" }, null)"><i class="icon-group"></i><span class="hidden-tablet">Users</span></a></li>
      }
    </ul>
  </div>
</div>
