﻿
<script type="text/x-kendo-template" id="js-preview-parsing-result-template">
  <div class="row-fluid">
    <div class="box span12">
      <div class="box-header" data-original-title="">
        <h2>Parsing Result</h2>
      </div>
      
      <div class="box-content">

        <div class="priority low"><span>Address Info</span></div>
        <div class="task low">
          <div class="desc">
            <div>
              {{ if(AddressInfo) { }}
              <ul>Address
                <li>FormattedAddress : {{= AddressInfo.FormattedAddress }}</li>
                <li>Latitude : {{= AddressInfo.Latitude }}</li>
                <li>Longitude : {{= AddressInfo.Longitude }}</li>
              </ul>
                {{ if(AddressInfo.NearestMetroStation) { }}
                <ul>Metro Station
                  <li>Name : {{= AddressInfo.NearestMetroStation.Name }}</li>
                  <li>DistanceText : {{= AddressInfo.NearestMetroStation.DistanceText }}</li>
                  <li>DistanceValue : {{= AddressInfo.NearestMetroStation.DistanceValue }}</li>
                  <li>DurationText : {{= AddressInfo.NearestMetroStation.DurationText }}</li>
                  <li>DurationValue : {{= AddressInfo.NearestMetroStation.DurationValue }}</li>
                </ul>
                {{ } else { }}
                <ul>Metro Station Empty</ul>
                {{ } }}
              {{ } else { }}
              <ul>Empty</ul>
              {{ } }}
            </div>
          </div>
        </div>

        {{ for(var i = 0; i < ArticleFields.length; i++) { }}
        {{ var field = ArticleFields[i]; }}

        <div class="priority low"><span>{{= field.Name }}</span></div>

        <div class="task low">
          <div class="desc">
            <div>
              {{ if(field.IsImage && !field.IsPhone) { }}
                <div class="gallery-wrapper"></div>
              {{ } else { }}
                <pre {{= field.BackgroundColor ? 'style="background-color: ' + field.BackgroundColor + ';"' : '' }}>{{= field.Value }}</pre>
              {{ } }}

              {{ for(var j = 0; j < field.RecognizedPhones.length; j++) { }}
              {{ var phone = field.RecognizedPhones[j]; }}
                  <pre>
RecognizedText: {{=phone.RecognizedText}}
FixedText: {{=phone.FixedText}}
MeanConfidencePercentage: {{=phone.MeanConfidencePercentage}}
                  </pre>
              {{ } }}

            </div>
          </div>
        </div>

        {{ } }}

        <div class="clearfix">
        </div>

        </div>
      </div>
    </div>

</script>