﻿@using System.Linq.Expressions
@using Kendo.Mvc.UI
@using WebParser.Common
@using WebParser.Controllers.ViewModels.Shared
@model WebParser.Controllers.ViewModels.Shared.SearchRuleViewModel

@helper CheckBox(Expression<Func<SearchRuleViewModel, bool>> expression)
{
    <div class="control-group">
      @Html.LabelFor(expression, new
      {
        @class = "control-label",
      })
      <div class="controls">
        @Html.CheckBoxFor(expression)
      </div>
    </div>
}

@helper TextBox(Expression<Func<SearchRuleViewModel, string>> expression)
{
  <div class="control-group">
    @Html.LabelFor(expression, new
    {
      @class = "control-label",
    })
    <div class="controls">
      @Html.TextBoxFor(expression)
      @Html.ValidationMessageFor(expression)
    </div>
  </div>
}

<script type="text/x-kendo-template" id="js-search-rule-template">
  <form class="form-horizontal js-search-rule js-validateble-form">
    <fieldset>
      
      {{ if(multiRuleMode) { }}
      <div class="control-group">
        @Html.LabelFor(x => x.ActionType, new
         {
           @class = "control-label",
         })
        <div class="controls">
          <label class="control-label">
            <input data-val="true" data-val-required="The Action Type field is required." id="ActionType-Fetch" name="ActionType" type="radio" value="Fetch" {{ if(actionType==@((int)ActionType.Fetch)){ }} checked="checked" {{ } }}>Fetch
          </label>
          <label class="control-label">
            <input id="ActionType-Click" name="ActionType" type="radio" value="Click" {{ if(actionType==@((int)ActionType.Click)){ }} checked="checked" {{ } }}>Click
          </label>
          <label class="control-label">
            <input id="ActionType-Wait" name="ActionType" type="radio" value="Wait" {{ if(actionType==@((int)ActionType.Wait)){ }} checked="checked" {{ } }}>Wait
          </label>
          @Html.ValidationMessageFor(x => x.ActionType)
        </div>
      </div>

      <div class="control-group js-wait-control" {{ if(multiRuleMode && (actionType != @((int)ActionType.Wait))){ }} style="display:none" {{ } }}>
        @Html.LabelFor(x => x.WaitMilseconds, new
        {
          @class = "control-label"
        })
        <div class="controls">
          @Html.TextBoxFor(x => x.WaitMilseconds, new { @Value = "{{= waitMilseconds }}" })
          @Html.ValidationMessageFor(x => x.WaitMilseconds)
        </div>
      </div>
      {{ } }}

      <div class="js-fetch-settings-section" {{ if(actionType == @((int)ActionType.Wait)){ }} style="display:none" {{ } }}>
        {{ if(multiRuleMode) { }} 
        <div class="control-group js-field-name-control" {{ if(actionType == @((int)ActionType.Click)){ }} style="display:none" {{ } }}>
          @Html.LabelFor(x => x.FieldName, new
          {
            @class = "control-label",
          })
          <div class="controls">
            @Html.TextBoxFor(x => x.FieldName)
            @Html.ValidationMessageFor(x => x.FieldName)
          </div>
        </div>
        {{ } }}
                   
        @TextBox(x => x.Selectors)    
        
        <div class="control-group">
          @Html.LabelFor(x => x.FilterFunction, new
          {
            @class = "control-label",
          })
          <div class="controls">
            @Html.TextAreaFor(x => x.FilterFunction)
            @Html.ValidationMessageFor(x => x.FilterFunction)
          </div>
        </div>
        
        <div class="js-other-controls-section" {{ if(actionType == @((int) ActionType.Click)){ }} style="display:none" {{ } }}>   
          
          @TextBox(x => x.ReplaceRegexp)

          <div class="control-group">
            @Html.LabelFor(x => x.SearchType, new
            {
              @class = "control-label",
            })
            <div class="controls">
              <label class="control-label">
                <input data-val="true" data-val-required="The Search Type field is required." id="SearchType-SingleNode" name="SearchType" type="radio" value="SingleNode" {{ if(searchType==@((int)SearchType.SingleNode)){ }} checked="checked" {{ } }}>Single Node
              </label>
              <label class="control-label">
                <input id="SearchType-ManyNodes" name="SearchType" type="radio" value="ManyNodes" {{ if(searchType==@((int)SearchType.ManyNodes)){ }} checked="checked" {{ } }}>Many Nodes
              </label>
        
              @Html.ValidationMessageFor(x => x.SearchType)
            </div>
          </div>
      
          <div class="js-found-value-type-section">
            <div class="control-group">
              @Html.LabelFor(x => x.FoundValueType, new
              {
                @class = "control-label",
              })
        
              <div class="controls">
                <label class="control-label">
                  <input data-val="true" data-val-required="The Found Value Type field is required." id="FoundValueType-TagTextContent" name="FoundValueType" type="radio" value="TagTextContent" {{ if(foundValueType==@((int)FoundValueType.TagTextContent)){ }} checked="checked" {{ } }}>Tag Text Content
                </label>

                <label class="control-label">
                  <input id="FoundValueType-TagContent" name="FoundValueType" type="radio" value="TagContent" {{ if(foundValueType==@((int)FoundValueType.TagContent)){ }} checked="checked" {{ } }}>Tag Content
                </label>

                <label class="control-label">
                  <input id="FoundValueType-AttributeContent" name="FoundValueType" type="radio" value="AttributeContent" {{ if(foundValueType==@((int)FoundValueType.AttributeContent)){ }} checked="checked" {{ } }}>Attribute Content
                </label> 
        
                @Html.ValidationMessageFor(x => x.FoundValueType)
              </div>
            </div>

            <div class="control-group js-hide-show-section" {{ if(foundValueType != @((int)FoundValueType.AttributeContent)){ }} style="display:none" {{ } }}>
              <div class="js-attr-name">
                @Html.LabelFor(x => x.AttributeName, new
                {
                  @class = "control-label",
                })

                <div class="controls">
                  @Html.TextBoxFor(x => x.AttributeName)
                  @Html.ValidationMessageFor(x => x.AttributeName)
                </div>
              </div>
            </div> 
          </div>
          
          {{ if(multiRuleMode) { }}
          <div class="control-group">
            @Html.LabelFor(x => x.ParsedKeyTypeId, new
            {
              @class = "control-label",
            })
            <div class="controls">
              @(Html.Kendo()
              .DropDownListFor(x => x.ParsedKeyTypeId)
              .BindTo(Model.ParsedKeyTypes)
              .DataValueField("Id")
              .DataTextField("Name")
              .HtmlAttributes(new { @Value = "{{= parsedKeyType }}", Id = "{{= ruleId }}_parsedKeyType" })
              .ToClientTemplate()
              )
              @Html.ValidationMessageFor(x => x.ParsedKeyTypeId)
            </div>
          </div>
          {{ } }}

          @CheckBox(x => x.ShowOnVoteForm)
          @CheckBox(x => x.HideOnVkPost)

          @TextBox(x => x.BackgroundColor)
          @CheckBox(x => x.IsImage)
          @CheckBox(x => x.DoNotSaveToInternalStorage)

          <div class="js-date-time-section">
            
            @CheckBox(x => x.IsDateTime)            

            <div class="js-hide-show-section" style="display:none">
              <div class="control-group">
                @Html.LabelFor(x => x.DateCultureName, new
                {
                  @class = "control-label",
                })
                <div class="controls">
                  @Html.DropDownListFor(x => x.DateCultureName, Model.DateLanguages)
                  @Html.ValidationMessageFor(x => x.DateCultureName)
                </div>
              </div>
      
              <div class="control-group">
                <div class="js-datetime-mask">
                  @Html.LabelFor(x => x.DateTimeMask, new
                  {
                    @class = "control-label",
                  })
                  <div class="controls">
                    @Html.TextBoxFor(x => x.DateTimeMask)
                    @Html.ValidationMessageFor(x => x.DateTimeMask)
                  </div>
                </div>
              </div> 
            </div>
          </div>
          
        </div>
      </div>
      {{ if(multiRuleMode) { }}
      <div class="col-md-offset-10 col-md-2">
        <button type="button" class="btn btn-default js-remove-searchRule">-</button>
        <button type="button" class="btn js-add-searchRule">Add Search Rule</button>
      </div>
      {{ } }}
    </fieldset>
  </form>
</script>