﻿@using WebParser.Web.Resources
@using WebParser.Web.Utilities
@model WebParser.Controllers.ViewModels.Seo.SeoDetailsViewModel

@{
  Layout = null;
  var routingParams =
    "cityId=" + Model.ApartmentFilters.CityId +
    "&articleGroupIds=" + string.Join(",", Model.ApartmentFilters.ArticleGroupIds) +
    "&metroStationIds=" + string.Join(",", Model.ApartmentFilters.MetroStationIds) +
    "&priceFrom=" + Model.ApartmentFilters.PriceFrom +
    "&priceTo=" + Model.ApartmentFilters.PriceTo;
}

<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="@ViewBag.Language">
<head>
    <meta charset="utf-8" />

    <!--[if lt IE 9]>
        <script src="http://www.pullmeout.ru/wp-content/themes/zerif-lite/js/html5.js"></script>
        <link rel="stylesheet" href="http://www.pullmeout.ru/wp-content/themes/zerif-lite/css/ie.css" type="text/css">
    <![endif]-->

    @RenderSection("meta", required: false)

    @Styles.Render("~/static/css/seo")

    @*scripts START*@
    <script type="text/javascript" async="" src="/static/seo-landing/js/tag.js"></script>
    <script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/72x72\/", "ext": ".png", "source": { "concatemoji": "\/static\/seo-landing\/js\/wp-emoji-release.min.js?ver=4.4.18" } };
        !function (a, b, c) { function d(a) { var c, d, e, f = b.createElement("canvas"), g = f.getContext && f.getContext("2d"), h = String.fromCharCode; return g && g.fillText ? (g.textBaseline = "top", g.font = "600 32px Arial", "flag" === a ? (g.fillText(h(55356, 56806, 55356, 56826), 0, 0), f.toDataURL().length > 3e3) : "diversity" === a ? (g.fillText(h(55356, 57221), 0, 0), c = g.getImageData(16, 16, 1, 1).data, g.fillText(h(55356, 57221, 55356, 57343), 0, 0), c = g.getImageData(16, 16, 1, 1).data, e = c[0] + "," + c[1] + "," + c[2] + "," + c[3], d !== e) : ("simple" === a ? g.fillText(h(55357, 56835), 0, 0) : g.fillText(h(55356, 57135), 0, 0), 0 !== g.getImageData(16, 16, 1, 1).data[0])) : !1 } function e(a) { var c = b.createElement("script"); c.src = a, c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c) } var f, g; c.supports = { simple: d("simple"), flag: d("flag"), unicode8: d("unicode8"), diversity: d("diversity") }, c.DOMReady = !1, c.readyCallback = function () { c.DOMReady = !0 }, c.supports.simple && c.supports.flag && c.supports.unicode8 && c.supports.diversity || (g = function () { c.readyCallback() }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", g, !1), a.addEventListener("load", g, !1)) : (a.attachEvent("onload", g), b.attachEvent("onreadystatechange", function () { "complete" === b.readyState && c.readyCallback() })), f = c.source || {}, f.concatemoji ? e(f.concatemoji) : f.wpemoji && f.twemoji && (e(f.twemoji), e(f.wpemoji))) }(window, document, window._wpemojiSettings);
    </script>
    <script src="/static/seo-landing/js/wp-emoji-release.min.js" type="text/javascript"></script>

    <script type="text/javascript" src="/static/seo-landing/js/jquery.js"></script>
    <script type="text/javascript" src="/static/seo-landing/js/jquery-migrate.min.js"></script>
    @*scripts END*@

    @*stile START*@
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel="stylesheet" id="zerif_font-css" href="/static/seo-landing/css/css.css" type="text/css"
          media="all">
    <link rel="stylesheet" id="zerif_font_all-css" href="/static/seo-landing/css/css(1).css"
          type="text/css" media="all">
    <link rel="stylesheet" id="zerif_bootstrap_style-css" href="/static/seo-landing/css/bootstrap.css"
          type="text/css" media="all">
    <link rel="stylesheet" id="zerif_fontawesome-css" href="/static/seo-landing/css/font-awesome.min.css"
          type="text/css" media="all">
    <link rel="stylesheet" id="zerif_pixeden_style-css" href="/static/seo-landing/css/pixeden-icons.css"
          type="text/css" media="all">
    <link rel="stylesheet" id="zerif_style-css" href="/static/seo-landing/css/style.css"
          type="text/css" media="all">
    <link rel="stylesheet" id="zerif_responsive_style-css" href="/static/seo-landing/css/responsive.css"
          type="text/css" media="all">

    <style type="text/css" id="custom-background-css">
        body.custom-background {
            background-image: url('http://www.pullmeout.ru/wp-content/uploads/2018/04/yut2.jpg');
            background-repeat: no-repeat;
            background-position: top center;
            background-attachment: scroll;
        }
    </style>

    <link href="/static/seo-landing/css/main.css" rel="stylesheet">
    <link href="/static/seo-landing/css/css(2).css" rel="stylesheet">
    @*stile END*@

    @*images START*@
    <link rel="icon" href="http://www.pullmeout.ru/wp-content/uploads/2016/03/cropped-favicon-32x32.png" sizes="32x32">
    <link rel="icon" href="http://www.pullmeout.ru/wp-content/uploads/2016/03/cropped-favicon-192x192.png" sizes="192x192">
    <link rel="apple-touch-icon-precomposed" href="http://www.pullmeout.ru/wp-content/uploads/2016/03/cropped-favicon-180x180.png">
    <meta name="msapplication-TileImage" content="http://www.pullmeout.ru/wp-content/uploads/2016/03/cropped-favicon-270x270.png">
    @*images END*@

</head>

<body class="home blog custom-background">

    <div class="preloader" style="display: none;">
        <div class="status" style="display: none;">&nbsp;</div>
    </div>

    <div id="mobilebgfix">
        <div class="mobile-bg-fix-img-wrap">
            <div class="mobile-bg-fix-img"></div>
        </div>
        <div class="mobile-bg-fix-whole-site">


            <header id="home" class="header" style="min-height: 76px;">

                <div id="main-nav" class="navbar navbar-inverse bs-docs-nav" role="banner" style="min-height: 76px;">

                    <div class="container">

                        <div class="navbar-header responsive-logo">

                            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">

                                <span class="sr-only">@Visitors.seoLayout_HideShow</span>

                                <span class="icon-bar"></span>

                                <span class="icon-bar"></span>

                                <span class="icon-bar"></span>

                            </button>

                            <a href="/apartments?@(routingParams)&utm_source=pullmeout_seo&amp;utm_medium=top_bar&amp;utm_campaign=logo_click" class="navbar-brand">
                                <img src="/static/seo-landing/images/pull-me-out-logo-1.png" alt="Все объявления об аренде жилья">
                            </a>
                        </div>

                        <nav class="navbar-collapse bs-navbar-collapse collapse" role="navigation" id="site-navigation">
                            <a class="screen-reader-text skip-link" href="http://www.pullmeout.ru/#content">@Visitors.seoLayout_GoToContent</a>
                            <ul id="menu-main-menu" class="nav navbar-nav navbar-right responsive-nav main-nav-list">
                                <li id="menu-item-185" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-185">
                                    <a title="@Visitors.seoLayout_forWho" href="http://www.pullmeout.ru/why-pullmeout/">@Visitors.seoLayout_forWho</a>
                                </li>
                                <li id="menu-item-201" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-201">
                                    <a title="@Visitors.seoLayout_principleOfOperation" href="http://www.pullmeout.ru/principle-of-operation/">@Visitors.seoLayout_principleOfOperation</a>
                                </li>
                                <li id="menu-item-160" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-160">
                                    <a title="@Visitors.seoLayout_blog" href="http://www.pullmeout.ru/blog/">@Visitors.seoLayout_blog</a>
                                </li>
                                <li id="menu-item-132" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-132">
                                    <a title="@Visitors.seoLayout_Enter" href="/account/login?utm_source=pullmeout_promo&amp;utm_medium=login_link&amp;utm_campaign=login_link">Войти</a>
                                </li>
                                <li id="menu-item-133" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-133">
                                    <a title="@Visitors.seoLayout_TakeAccess" href="/account/registerviewer?utm_source=pullmeout_promo&amp;utm_medium=try_link&amp;utm_campaign=try_link_top_bar">@Visitors.seoLayout_TakeAccess</a>
                                </li>
                            </ul>
                        </nav>

                    </div>

                </div>
                <!-- / END TOP BAR -->
                <div class="home-header-wrap">

                    <ul id="parallax_move" style="width: 1469px; margin-left: -60px; margin-top: -60px; position: absolute; transform: translate3d(0px, 0px, 0px); transform-style: preserve-3d; backface-visibility: hidden;">
                        <li class="layer layer1" data-depth="0.10" style="background-image: url(&quot;http://www.pullmeout.ru/wp-content/uploads/2018/04/8d2d77b5716baed8439dde9ba53cf0ea.jpg&quot;); height: 599px; transform: translate3d(0px, 0px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;"></li>
                    </ul>
                    <div class="header-content-wrap">
                        <div class="container">

                            @RenderSection("mainHeader")

                            @*<h2 class="intro-subtitle">Без комиссий и посредников</h2>*@
                            <div class="buttons">
                                <a href="/apartments?@(routingParams)&utm_source=pullmeout_promo&amp;utm_medium=find_apartments&amp;utm_campaign=header"
                                   class="btn btn-primary custom-button red-btn" @MetricsHelper.MetricGoal("seo-how-button")>@Visitors.seoLayout_Search</a>
                            </div>
                        </div>
                    </div>
                    <!-- .header-content-wrap -->
                    <div class="clear"></div>
                </div>
            </header>
            <!-- / END HOME SECTION  -->

            <div id="content" class="site-content">

                <section class="focus" id="focus">

                    <div class="container">

                        <!-- SECTION HEADER -->

                        <div class="section-header">

                            <!-- SECTION TITLE -->

                            <div class="focus-section-header">
                                <h2 class="dark-text">@Visitors.seoLayout_FocusHeaderText1</h2>
                                <div class="section-legend">@Visitors.seoLayout_FocusHeaderText2</div>
                            </div>
                            <div class="why-section-img">
                                <img src="/static/seo-landing/images/clock.png" alt="@Visitors.seoLayout_ClockAlt">
                            </div>
                        </div>

                        <div class="row">


                            <div class="col-lg-3 col-sm-3 focus-box" data-scrollreveal="enter left after 0.15s over 1s" data-sr-init="true" data-sr-complete="true">

                                <div class="service-icon">


                                    <i class="pixeden" style="background:url(http://www.pullmeout.ru/wp-content/uploads/2018/08/offers-1.png) no-repeat center;width:100%; height:100%;"></i>
                                    <!-- FOCUS ICON-->


                                </div>

                                <h3 class="red-border-bottom">@Visitors.seoLayout_RedBorderBottomText1</h3>
                                <!-- FOCUS HEADING -->



                            </div>


                            <div class="col-lg-3 col-sm-3 focus-box" data-scrollreveal="enter left after 0.15s over 1s" data-sr-init="true" data-sr-complete="true">

                                <div class="service-icon">


                                    <i class="pixeden" style="background:url(http://www.pullmeout.ru/wp-content/uploads/2018/08/swindler-1.png) no-repeat center;width:100%; height:100%;"></i>
                                    <!-- FOCUS ICON-->


                                </div>

                                <h3 class="red-border-bottom">@Visitors.seoLayout_RedBorderBottomText2</h3>
                                <!-- FOCUS HEADING -->



                            </div>


                            <div class="col-lg-3 col-sm-3 focus-box" data-scrollreveal="enter left after 0.15s over 1s" data-sr-init="true" data-sr-complete="true">

                                <div class="service-icon">


                                    <i class="pixeden" style="background:url(http://www.pullmeout.ru/wp-content/uploads/2018/04/search-100x100.png) no-repeat center;width:100%; height:100%;"></i>
                                    <!-- FOCUS ICON-->


                                </div>

                                <h3 class="red-border-bottom">@Visitors.seoLayout_RedBorderBottomText3</h3>
                                <!-- FOCUS HEADING -->



                            </div>


                            <div class="col-lg-3 col-sm-3 focus-box" data-scrollreveal="enter left after 0.15s over 1s" data-sr-init="true" data-sr-complete="true">

                                <div class="service-icon">


                                    <i class="pixeden" style="background:url(http://www.pullmeout.ru/wp-content/uploads/2018/04/success-120x120.png) no-repeat center;width:100%; height:100%;"></i>
                                    <!-- FOCUS ICON-->


                                </div>

                                <h3 class="red-border-bottom">@Visitors.seoLayout_RedBorderBottomText4</h3>
                                <!-- FOCUS HEADING -->



                            </div>


                        </div>

                    </div>
                    <!-- / END CONTAINER -->

                </section>
                <!-- / END FOCUS SECTION -->
                <section class="about-us" id="aboutus">
                    <div class="container">

                        <!-- SECTION HEADER -->

                        <div class="section-header">

                            <!-- SECTION TITLE -->

                            <h2 class="white-text">@Visitors.seoLayout_AboutUsText1</h2>
                            <!-- SHORT DESCRIPTION ABOUT THE SECTION -->

                        </div>
                        <!-- / END SECTION HEADER -->
                        <!-- 3 COLUMNS OF ABOUT US-->

                        <div class="row">

                            <!-- COLUMN 1 - BIG MESSAGE ABOUT THE COMPANY-->

                            <div class="col-lg-4 col-md-4 column zerif-rtl-big-title">
                                <div class="big-intro" data-scrollreveal="enter left after 0s over 1s" data-sr-init="true" data-sr-complete="true">не снимете жилье - мы вернем деньги</div>
                            </div>
                            <div class="col-lg-4 col-md-4 column zerif_about_us_center text_and_skills" data-scrollreveal="enter bottom after 0s over 1s"
                                 data-sr-init="true" data-sr-complete="true">
                                @Html.Raw(Visitors.seoLayout_AboutUsText2)
                            </div>
                            <div class="col-lg-4 col-md-4 column zerif-rtl-skills ">

                                <ul class="skills" data-scrollreveal="enter right after 0s over 1s" data-sr-init="true" data-sr-complete="true">

                                    <!-- SKILL ONE -->


                                    <li class="skill skill_1">

                                        <div class="skill-count">
                                            <div style="display: inline; width: 64px; height: 200px;">
                                                <canvas width="64" height="200"></canvas>
                                                <input type="text" value="100" data-thickness=".2" class="skill1" tabindex="-1" readonly="readonly" style="width: 36px; height: 21px; position: absolute; vertical-align: middle; margin-top: 21px; margin-left: -50px; border: 0px; background: none; font: bold 12px Arial; text-align: center; color: rgb(255, 255, 255); padding: 0px; -webkit-appearance: none;">
                                            </div>
                                        </div>
                                        <div class="section-legend">@Visitors.seoLayout_AboutUsText3</div>
                                    </li>


                                    <!-- SKILL TWO -->


                                    <li class="skill skill_2">

                                        <div class="skill-count">
                                            <div style="display: inline; width: 64px; height: 200px;">
                                                <canvas width="64" height="200"></canvas>
                                                <input type="text" value="100" data-thickness=".2" class="skill2" tabindex="-1" readonly="readonly" style="width: 36px; height: 21px; position: absolute; vertical-align: middle; margin-top: 21px; margin-left: -50px; border: 0px; background: none; font: bold 12px Arial; text-align: center; color: rgb(255, 255, 255); padding: 0px; -webkit-appearance: none;">
                                            </div>
                                        </div>
                                        <div class="section-legend">@Visitors.seoLayout_AboutUsText4</div>
                                    </li>


                                    <!-- SKILL THREE -->
                                    <li class="skill skill_3">

                                        <div class="skill-count">
                                            <div style="display: inline; width: 64px; height: 200px;">
                                                <canvas width="64" height="200"></canvas>
                                                <input type="text" value="100" data-thickness=".2" class="skill3" tabindex="-1" readonly="readonly" style="width: 36px; height: 21px; position: absolute; vertical-align: middle; margin-top: 21px; margin-left: -50px; border: 0px; background: none; font: bold 12px Arial; text-align: center; color: rgb(255, 255, 255); padding: 0px; -webkit-appearance: none;">
                                            </div>
                                        </div>
                                        <div class="section-legend">@Visitors.seoLayout_AboutUsText5</div>
                                    </li>


                                    <!-- SKILL FOUR -->

                                    <li class="skill skill_4">

                                        <div class="skill-count">
                                            <div style="display: inline; width: 64px; height: 200px;">
                                                <canvas width="64" height="200"></canvas>
                                                <input type="text" value="100" data-thickness=".2" class="skill4" tabindex="-1" readonly="readonly" style="width: 36px; height: 21px; position: absolute; vertical-align: middle; margin-top: 21px; margin-left: -50px; border: 0px; background: none; font: bold 12px Arial; text-align: center; color: rgb(255, 255, 255); padding: 0px; -webkit-appearance: none;">
                                            </div>
                                        </div>
                                        <div class="section-legend">@Visitors.seoLayout_AboutUsText6</div>
                                    </li>


                                </ul>

                            </div>
                            <!-- / END SKILLS COLUMN-->


                        </div>
                        <!-- / END 3 COLUMNS OF ABOUT US-->
                        <!-- CLIENTS -->

                    </div>
                    <!-- / END CONTAINER -->

                </section>
                <!-- END ABOUT US SECTION -->

                @RenderBody()

                <section class="our-team" id="team">
                    <div class="container">
                        <div class="section-header">
                            <div class="row" data-scrollreveal="enter left after 0s over 0.1s" data-sr-init="true" data-sr-complete="true">
                                <div class="textwidget"></div>
                                <div class="textwidget">
                                    <style>
                                        .question {
                                            display: flex;
                                            background-color: #13181d;
                                            -webkit-box-align: center;
                                            -ms-flex-align: center;
                                            align-items: center;
                                        }

                                        .question-icon {
                                            position: relative;
                                            display: block;
                                            display: -webkit-box;
                                            display: -ms-flexbox;
                                            display: flex;
                                            width: 65px;
                                            height: 65px;
                                            background-color: #73b5fe;
                                            -webkit-box-pack: center;
                                            -ms-flex-pack: center;
                                            justify-content: center;
                                            -webkit-box-align: center;
                                            -ms-flex-align: center;
                                            align-items: center;
                                        }

                                            .question-icon::after {
                                                position: absolute;
                                                top: 50%;
                                                right: -8px;
                                                content: '';
                                                -webkit-transform: translateY(-50%);
                                                -ms-transform: translateY(-50%);
                                                transform: translateY(-50%);
                                                border-width: 7.5px 0 7.5px 8px;
                                                border-style: solid;
                                                border-color: transparent transparent transparent #73b5fe;
                                            }

                                            .question-icon i {
                                                color: white;
                                            }

                                        .question-title {
                                            font-size: 1.125em;
                                            font-weight: 700;
                                            display: block;
                                            width: calc(100% - 75px);
                                            color: #fff;
                                        }

                                        @@media screen and (max-width: 768px) {
                                            .question-title {
                                                font-size: 0.875em;
                                            }
                                        }

                                        .question-answer {
                                            font-size: .875rem;
                                            padding: 33px 30px;
                                            background-color: #fff;
                                        }
                                    </style>

                                    <br>
                                    <br>

                                    <h2 class="dark-text">@Visitors.seoLayout_OurTeamText1</h2>

                                    <div class="questions">
                                        <div class="question-item">
                                            <div class="question">
                                                <span class="question-icon">
                                                    <i class="fa fa-question-circle"></i>
                                                </span>
                                                <span class="question-title">@Visitors.seoLayout_OurTeamText2</span>
                                            </div>
                                            <div class="question-answer">
                                                <p>@Visitors.seoLayout_OurTeamText3</p>
                                            </div>
                                        </div>
                                        <div class="question-item">
                                            <div class="question">
                                                <span class="question-icon">
                                                    <i class="fa fa-question-circle"></i>
                                                </span>
                                                <span class="question-title">@Visitors.seoLayout_OurTeamText4</span>
                                            </div>
                                            <div class="question-answer">
                                                <p>@Visitors.seoLayout_OurTeamText5</p>
                                            </div>
                                        </div>
                                        <div class="question-item">
                                            <div class="question">
                                                <span class="question-icon">
                                                    <i class="fa fa-question-circle"></i>
                                                </span>
                                                <span class="question-title">@Visitors.seoLayout_OurTeamText6</span>
                                            </div>
                                            <div class="question-answer">
                                                <p>@Visitors.seoLayout_OurTeamText7</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="testimonial" id="testimonials">
                    <div class="container">
                        <div class="section-header">
                            <h2 class="white-text">@Visitors.seoLayout_TestimonialsText1</h2>
                        </div>
                        <div class="row" data-scrollreveal="enter right after 0s over 1s" data-sr-init="true" data-sr-complete="true">
                            <div class="col-md-12">
                                <div id="client-feedbacks" class="owl-carousel owl-theme testimonial-masonry  zerif_grid zerif_grid_8ZhkaMjFlr">
                                    <div class="zerif_grid_col_3 zerif_grid_column_1 zerif_grid_first ">
                                        <div class="feedback-box" zerifgrid-attr="this-0">

                                            <!-- MESSAGE OF THE CLIENT -->

                                            <div class="message">@Visitors.seoLayout_TestimonialsText2</div>

                                            <!-- CLIENT INFORMATION -->

                                            <div class="client">

                                                <div class="quote red-text">

                                                    <i class="icon-fontawesome-webfont-294"></i>

                                                </div>

                                                <div class="client-info">

                                                    <a target="_blank" class="client-name" href="https://vk.com/id235151179">Марк Чехов</a>



                                                </div>

                                                <div class="client-image hidden-xs">
                                                    <img src="/static/seo-landing/images/mark-chehov.png" alt="Загруженные изображения">
                                                </div>
                                            </div>
                                            <!-- / END CLIENT INFORMATION-->

                                        </div>
                                    </div>
                                    <div class="zerif_grid_col_3 zerif_grid_column_2  ">
                                        <div class="feedback-box" zerifgrid-attr="this-1">

                                            <!-- MESSAGE OF THE CLIENT -->

                                            <div class="message">
                                                @Visitors.seoLayout_TestimonialsText3
                                            </div>

                                            <!-- CLIENT INFORMATION -->

                                            <div class="client">

                                                <div class="quote red-text">

                                                    <i class="icon-fontawesome-webfont-294"></i>

                                                </div>

                                                <div class="client-info">

                                                    <a target="_blank" class="client-name" href="https://vk.com/id282921305">Андрей Пупышев</a>



                                                </div>

                                                <div class="client-image hidden-xs">
                                                    <img src="/static/seo-landing/images/andrey-pupishev.png" alt="Загруженные изображения">
                                                </div>
                                            </div>
                                            <!-- / END CLIENT INFORMATION-->

                                        </div>
                                    </div>
                                    <div class="zerif_grid_col_3 zerif_grid_column_3 zerif_grid_last ">
                                        <div class="feedback-box" zerifgrid-attr="this-2">

                                            <!-- MESSAGE OF THE CLIENT -->

                                            <div class="message">@Visitors.seoLayout_TestimonialsText4</div>

                                            <!-- CLIENT INFORMATION -->

                                            <div class="client">

                                                <div class="quote red-text">

                                                    <i class="icon-fontawesome-webfont-294"></i>

                                                </div>

                                                <div class="client-info">

                                                    <a target="_blank" class="client-name" href="https://vk.com/vitievato">Дарья Максимова</a>



                                                </div>

                                                <div class="client-image hidden-xs">
                                                    <img src="/static/seo-landing/images/daria-maksimova.png" alt="Загруженные изображения">
                                                </div>
                                            </div>
                                            <!-- / END CLIENT INFORMATION-->

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="purchase-now" id="ribbon_right">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9" data-scrollreveal="enter left after 0s over 1s" data-sr-init="true" data-sr-complete="true">
                                <h3 class="white-text">@Visitors.seoLayout_PurchaseNowText1</h3>
                            </div>
                            <div class="col-md-3" data-scrollreveal="enter right after 0s over 1s" data-sr-init="true" data-sr-complete="true">
                                <a href="/apartments?@(routingParams)&utm_source=pullmeout_promo&amp;utm_medium=find_apartments&amp;utm_campaign=footer"
                                   class="btn btn-primary custom-button red-btn" @MetricsHelper.MetricGoal("seo-try-trial-2")>@Visitors.seoLayout_PurchaseNowText2</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- .site-content -->

            <footer id="footer" role="contentinfo">

                @RenderSection("footer", required: false)

                <div class="container">

                    <div class="col-md-3 company-details">
                        <div class="icon-top red-text">
                            <img src="/static/seo-landing/images/map25-redish.png" alt="@Visitors.seoPage_location">
                        </div>
                        <div class="zerif-footer-address">Санкт-Петербург</div>
                    </div>
                    <div class="col-md-3 company-details">
                        <div class="icon-top green-text">
                            <img src="/static/seo-landing/images/envelope4-green.png" alt="@Visitors.seoPage_email">
                        </div>
                        <div class="zerif-footer-email">
                            <a href="mailto:nevalikne@gmail.com">nevalikne@gmail.com</a>
                        </div>
                    </div>
                    <div class="col-md-3 company-details">
                        <div class="icon-top blue-text">
                            <img src="/static/seo-landing/images/Vk-icon-e1489735044343.png" alt="@Visitors.seoPage_ourGroup">
                        </div>
                        <div class="zerif-footer-phone">
                            <a href="https://vk.com/pullmeoutrealtyspb" target="_blank">@Visitors.seoPage_ourGroup</a>
                        </div>
                    </div>
                    <div class="col-md-3 copyright">
                        <ul class="social">
                            <li>
                                <a target="_blank" href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="#">
                                    <i class="fa fa-behance"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="#">
                                    <i class="fa fa-dribbble"></i>
                                </a>
                            </li>
                        </ul>
                        <p id="zerif-copyright">@DateTime.Now.Year - Pullmeout ©</p>
                    </div>
                </div>
                <!-- / END CONTAINER -->

            </footer>
            <!-- / END FOOOTER  -->


        </div>
        <!-- mobile-bg-fix-whole-site -->
    </div>
    <!-- .mobile-bg-fix-wrap -->


    <script type="text/javascript" src="/static/seo-landing/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/seo-landing/js/jquery.knob.js"></script>
    <script type="text/javascript" src="/static/seo-landing/js/smoothscroll.js"></script>
    <script type="text/javascript" src="/static/seo-landing/js/scrollReveal.js"></script>
    <script type="text/javascript" src="/static/seo-landing/js/zerif.js"></script>
    <script type="text/javascript" src="/static/seo-landing/js/parallax.js"></script>
    <script type="text/javascript" src="/static/seo-landing/js/wp-embed.min.js"></script>

    @Html.Action("Metrics", "Shared")
    @Html.Action("YandexMetikaUserInfo", "Shared")

    @RenderSection("Scripts", required: false)

</body>
</html>