﻿@using WebParser.Application.Interfaces.Services.ArticleRating
@using WebParser.Application.Services.ArticleRating
@using WebParser.Web.Utilities
@model WebParser.Controllers.ViewModels.Shared.UserMenuViewModel

@helper RatingItem(string iconClass, string buttonClass, string message, string field)
{
  <li class="dropdown">

    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
      <i class="halflings-icon white @iconClass"></i><span data-bind="text: data.@(field)"></span>
    </a>

    <ul class="dropdown-menu notifications">
      <li class="dropdown-menu-title">
      </li>
      <li>
        <a href="#">
          <span class="icon @buttonClass"><i class="halflings-icon white @iconClass"></i></span>
          <span class="message">@message</span>
        </a>
      </li>
    </ul>

  </li>
}

@if (Model != null)
{
  <!-- start: Header Menu -->
  <div class="nav-no-collapse header-nav js-user-counts" id="js-user-counts"
        data-get-user-counts-url="@Url.Action("GetUserMenuCounts", "Shared")"
        data-try-extend-user-access-for-sharing="@Url.Action("TryExtendUserAccessForSharing", "Shared")">
    <ul class="nav pull-right">

      <li class="dropdown">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" title="Номеров в черном списке" @MetricsHelper.MetricGoal("open-black-list-counter")>
          <i class="halflings-icon white eye-close"></i><span data-bind="text: data.BlackListItemsCount"></span>
        </a>

        <ul class="dropdown-menu notifications">
          <li class="dropdown-menu-title">
          </li>
          <li>
            <a href="https://vk.com/wall-126773354_17" target="_blank" class="question-link" @MetricsHelper.MetricGoal("link-to-post1")>
              <span class="icon black"><i class="halflings-icon white eye-close"></i></span>
              <span>Номеров в черном списке</span>
              <i class="icon-external-link"></i>
            </a>
          </li>

          <li>
            <a href="https://vk.com/wall-126773354_17" target="_blank" class="question-link" @MetricsHelper.MetricGoal("link-to-post2")>
              <span class="icon black"><i class="halflings-icon white question-sign"></i></span>
              <span>Бан агентов по их поведению</span>
              <i class="icon-external-link"></i>
            </a>
          </li>

        </ul>

      </li>

      <li class="dropdown">

        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" @MetricsHelper.MetricGoal("open-access-counter")>
          <i class="halflings-icon white time"></i><span data-bind="text: data.AccessDateTime"></span>
        </a>

        <ul class="dropdown-menu notifications">
          <li class="dropdown-menu-title">
          </li>

          <li>
            <a href="#">
              <span class="icon blue"><i class="halflings-icon white heart"></i></span>
              <span class="message" data-bind="text: accessDataTimeString"></span>
            </a>
          </li>

          <li>
            <a href="#">
              <span class="header">
                <span class="title">Бесплатные дни</span>
                <span class="percent" data-bind="text: data.FreeDays"></span>
              </span>
              <div class="taskProgress progressSlim green ui-progressbar ui-widget ui-widget-content ui-corner-all" role="progressbar" aria-valuemin="0" data-bind="attr: { aria-valuemax: data.MaxFreeDaysCount, aria-valuenow: data.FreeDays }">
                <div data-bind="text: data.FreeDays"></div>
                <div class="ui-progressbar-value ui-widget-header ui-corner-left" data-bind="attr: { style: freeDaysStyle }">
                </div>
              </div>
            </a>
          </li>
        </ul>

      </li>


      <li class="dropdown">

        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" @MetricsHelper.MetricGoal("open-share-counter")>
          <i class="halflings-icon white plus"></i><span>1 час</span>
        </a>

        <ul class="dropdown-menu notifications">
          <li class="dropdown-menu-title">
          </li>

          <li class="menu-news-item">
            <span class="header">
              <span class="from">Еще 1 час доступа за репост</span>
            </span>

            <div class="ya-share2 ya-share2_inited" id="share-buttons" @MetricsHelper.MetricGoal("share-buttons")>
            </div>
          </li>
        </ul>

      </li>

      <li class="dropdown">

        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" @MetricsHelper.MetricGoal("open-votes-counter")>
          <i class="halflings-icon white thumbs-up"></i><span data-bind="text: data.GoodVotes"></span>
          <i class="halflings-icon white thumbs-down"></i><span data-bind="text: data.BadVotes"></span>
          <i class="halflings-icon white remove"></i><span data-bind="text: data.OutdateVotes"></span>
        </a>

        <ul class="dropdown-menu notifications">
          <li class="dropdown-menu-title">
          </li>
          <li>
            <a href="#">
              <span class="icon btn-success"><i class="halflings-icon white thumbs-up"></i></span>
              <span class="message">@(ArticleRatingConstants.FreeHourGoodVotesPrice + " оценок \"От собственника\" = 1 день")</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon btn-danger"><i class="halflings-icon white thumbs-down"></i></span>
              <span class="message">@(ArticleRatingConstants.FreeHourBadVotesPrice + " оценок \"Агентское\" = 1 день")</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon btn-info"><i class="halflings-icon white remove"></i></span>
              <span class="message">@(ArticleRatingConstants.FreeHourOutdateVotesPrice + " оценок \"Уже сдано\" = 1 день")</span>
            </a>
          </li>

        </ul>

      </li>

      <li class="dropdown">

        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" @MetricsHelper.MetricGoal("open-links-to-public-counter")>
          <i class="halflings-icon white question-sign"></i>
        </a>

        <ul class="dropdown-menu notifications">
          <li class="dropdown-menu-title">
          </li>

          <li class="menu-news-item">
            <span class="header">
              <span class="from">Лучшие объявления в новостях?</span>
            </span>
            <span class="message">Подпишитесь на наши паблики:</span>

            <ul>
              <li><span><span class="bold">К:</span> <a href="https://vk.com/club126860114" target="_blank" @MetricsHelper.MetricGoal("open-public-k")>https://vk.com/club126860114<i class="icon-external-link"></i></a></span></li>
              <li><span><span class="bold">C:</span> <a href="https://vk.com/club126859996" target="_blank" @MetricsHelper.MetricGoal("open-public-c")>https://vk.com/club126859996<i class="icon-external-link"></i></a></span></li>
              <li><span><span class="bold">1K:</span> <a href="https://vk.com/club126774581" target="_blank" @MetricsHelper.MetricGoal("open-public-1k")>https://vk.com/club126774581<i class="icon-external-link"></i></a></span></li>
              <li><span><span class="bold">2K:</span> <a href="https://vk.com/club126775436" target="_blank" @MetricsHelper.MetricGoal("open-public-2k")>https://vk.com/club126775436<i class="icon-external-link"></i></a></span></li>
              <li><span><span class="bold">3K+:</span> <a href="https://vk.com/club126776213" target="_blank" @MetricsHelper.MetricGoal("open-public-3k")>https://vk.com/club126776213<i class="icon-external-link"></i></a></span></li>
            </ul>
          </li>
        </ul>

      </li>


      <!-- start: User Dropdown -->
      <li class="dropdown">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="halflings-icon white user"></i>@(Model.UserName)
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li class="dropdown-menu-title">
          </li>
          <li><a href="@Url.Action("ChangePassword", "Account")"><i class="halflings-icon lock"></i>Изменить Пароль</a></li>
          <li><a href="@Url.Action("Logout", "Account")"><i class="halflings-icon off"></i>Выход</a></li>
        </ul>
      </li>
      <!-- end: User Dropdown -->
    </ul>
  </div>
  <!-- end: Header Menu -->

}

