﻿@using WebParser.Web.Utilities
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    <!-- start: CSS -->
    @Styles.Render("~/static/css/common")
    @Styles.Render("~/static/kendo/style/css")

    @Styles.RenderFormat(BundleFormats.BaseStyleLinkFormat, "~/static/css/style")
    <!-- end: CSS -->

    <!--[if IE 9]>
      @Styles.Render("~/static/css/ie")
    <![endif]-->

    @Scripts.Render("~/static/scripts/commonScripts")
    @Scripts.Render("~/static/scripts/kendo")

  </head>
  <body>
    <!-- start: Header -->
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <a class="brand" href="/" class="navbar-brand"><img src="/static/img/pull-me-out-logo.png" alt="pullmeout"/></a>

          @Html.Action("UserMenu", "Shared", new { area = "" })
        </div>
      </div>
    </div>
    <!-- end: Header -->

    <!-- start: Left Sidebar -->
    <div class="container-fluid-full">
      <div class="row-fluid">

        <!-- start: Content -->
        <div id="viewer-content" class="span10 js-main-container">
          @RenderBody()
        </div>
        <!-- end: Content -->

      </div>
    </div>
    <!-- end: Left Sidebar -->

    <div class="clearfix"></div>
    <footer>
      <p>
        <span style="text-align: left; float: left">&copy; @DateTime.Now.Year - Pullmeout</span>
      </p>
    </footer>

    @RenderSection("templates", required: false)
    @Scripts.Render("~/static/scripts/siteScripts")
    @Html.Action("ClientSettings", "Shared")
    @RenderSection("scripts", required: false)
  </body>
</html>
