﻿@model WebParser.Controllers.ViewModels.Shared.YandexMetrikaUserInfoViewModel

@if (Model != null)
{
  <script type='text/javascript'>

    window.onload = function () {
      @(Model.CounterName).setUserID('@Model.UserId');

      @(Model.CounterName).userParams({
        purchasedAccount: '@Model.PurchasedAccount',
        accessDateTime: '@Model.AccessDateTime',
        createdDate: '@Model.CreatedDate',

        waitingForPayment: '@Model.WaitingForPayment',
        freeDays: @Model.FreeHours,
        email: '@Model.Email',

        @Html.Raw(Model.VkId.HasValue ? "vkId: " + Model.VkId + "," : string.Empty)
      });

      @(Model.CounterName).params({
        purchasedAccount: '@Model.PurchasedAccount',
        accessDateTime: '@Model.AccessDateTime',
        createdDate: '@Model.CreatedDate',

        waitingForPayment: '@Model.WaitingForPayment',
        freeHours: @Model.FreeHours,
        email: '@Model.Email',

        @Html.Raw(Model.VkId.HasValue ? "vkId: " + Model.VkId + "," : string.Empty)
      });
    }

  </script>

  <script>gtag('set', {'user_id': '@Model.UserId'});</script>
}
