body {
  padding-bottom: 20px;
  padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */

.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt { white-space: normal; }

/* Set width on the form input elements since they're 100% wide by default */

input,
select,
textarea { max-width: 280px; }

/* Set padding to display errors that occur during databinding */

.padding-error { padding-top: 20px; }

@media only screen and (max-width: 767px) {
  .nofloat {
    float: none;
    padding: 10px 15px;
  }
}

.navbar-inverse {
  background: whitesmoke;
  color: rgba(0, 0, 0, 0.87);
  z-index: 10;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  min-height: 53px;
}

.vk-login-button {
  background-color: #5e81a8;
  border: 0;
  border-radius: 2px;
  color: white;
}

.vk-login-button:hover {
  background-color: #6888AD;
  border: 0;
  border-radius: 2px;
  color: white;
}

.tariff-choice-link {
  margin-top: 16px;
}

@media (max-width:768px) {
  .brand {
    margin-left: 13px;
  }
}

.brand img {
  margin-top: 2px;
}