ul.gallery {
    list-style: none;
}

ul.gallery>li {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

ul.gallery .image {
   width: 200px;
   height: 200px;
   background-size: cover;
}