/* Higher than 1200 (desktop devices)
====================================================================== */

#content .box-content {
  overflow-y: auto;
}

@media (min-width: 1200px) {
  .container-fluid-full {
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  #content {
    margin: 0px 0px;
    margin-left: 14.422% !important;
    padding: 28px;
    width: 85.578%;
  }

  #viewer-content {
    margin: 0px 0px;
    padding: 28px;
    width: 100%;
  }

  .navbar .brand { margin-left: 88px !important; }

  #sidebar-left {
    background: #3A3A3A;
    height: 100%;
    margin-left: 0px !important;
    position: absolute;
  }

  .sidebar-nav > ul { margin: 0px; }

  footer {
    margin: 0px 0px 0px 0px;
    padding: 5px 20px;
  }
}

/* Higher than 960 (desktop devices)
====================================================================== */

@media only screen and (min-width: 980px) and (max-width: 1199px) {
  .container-fluid-full {
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  #content {
    margin: 0px;
    margin-left: 14.422% !important;
    padding: 20px;
    width: 85.578%;
  }

  #viewer-content {
    margin: 0px 0px;
    padding: 28px;
    width: 100%;
  }

  .dark {
    margin-bottom: -56px;
    margin-right: -30px;
    padding: 20px;
    right: -12px;
    top: -20px;
  }
	
	
  #sidebar-left {
    background: #3A3A3A;
    height: 100%;
    margin-left: 0px !important;
    position: absolute;
  }

  .sidebar-nav > ul { margin: 0px; }

  .sparkLineStats {
    padding-bottom: 4px;
    position: relative;
  }

  .sparkLineStats li {
    font-size: 10px;
    line-height: 42px;
  }

  .sparkLineStats li .number {
    font-size: 16px;
    font-weight: 700;
    padding: 0 0px;
  }

  .breadcrumb { margin: -20px -20px 20px -20px; }

  .statbox,
  .widget,
  .box,
  .circleStatsItemBox { margin-bottom: 20px; }

  /* Page: Tasks
	=================================================================== */

  .task .desc {
    display: inline-block;
    font-size: 12px;
    padding: 10px 10px;
    width: 70%;
  }

  .task .desc .title {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .task .time {
    display: inline-block;
    float: right;
    font-size: 12px;
    padding: 10px 10px;
    text-align: right;
    width: 20%;
  }

  .task .time .date {
    font-size: 16px;
    margin-bottom: 5px;
  }

  footer {
    margin: 0px;
    padding: 10px 20px;
  }
}

/* Tablet Portrait (devices and browsers)
====================================================================== */

@media only screen and (min-width: 768px) and (max-width: 979px) {
  .container-fluid-full {
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  #content {
    margin: 0px 0px;
    margin-left: 8.334% !important;
    padding: 22px;
    width: 91.666%;
  }

  #viewer-content {
    margin: 0px 0px;
    padding: 22px;
    width: 100%;
    /*margin-left: 8.334% !important;*/
  }

  .dark {
    margin-bottom: -56px;
    margin-right: -30px;
    padding: 20px;
    right: -15px;
    top: -22px;
  }

  .breadcrumb { margin: -22px -22px 22px -22px; }

  .statbox,
  .widget,
  .box,
  .circleStatsItemBox { margin-bottom: 22px; }

  #sidebar-left {
    background: #3A3A3A;
    height: 100%;
    margin-left: 0px !important;
    position: absolute;
    width: 8.334% !important;
  }

  .sidebar-nav > ul { margin: 0px; }

  .nav-tabs.nav-stacked > li > a,
  .nav-tabs.nav-stacked > li > ul > li > a {
    margin-top: -2px;
    text-align: center;
  }

  .noMargin { margin-left: 0px !important; }

  .btn-navbar { display: none !important; }

  .nav-collapse,
  .nav-collapse.collapse {
    height: auto !important;
    margin-left: 0px !important;
    overflow: visible !important;
  }
	
	
  .stats-date .range {
    font-size: 16px;
    font-weight: 300;
  }


  .stat .left .number {
    font-size: 16px;
    font-weight: 300;
  }

  .stat .left .title { font-size: 9px; }

  .stat .right .percent {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }

  .box-small-link { font-size: 20px; }

  .sparkLineStats { padding-bottom: 10px; }

  .sparkLineStats li {
    font-size: 10px;
    line-height: 43px;
  }

  .sparkLineStats li .number {
    font-size: 12px;
    font-weight: 700;
    padding: 0 0px;
  }

  /* Page: Tasks
	=================================================================== */

  .task {
    border-bottom: 1px solid #f9f9f9;
    margin-bottom: 1px;
  }

  .task.high { border-left: 2px solid rgba(250, 96, 61, 1); }

  .task.medium { border-left: 2px solid rgba(250, 187, 61, 1); }

  .task.low { border-left: 2px solid rgba(120, 205, 81, 1); }

  .task .desc {
    display: inline-block;
    font-size: 10px;
    margin-right: -20px;
    padding: 10px 10px;
    width: 96%;
  }

  .task .desc .title {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .task .time {
    display: inline-block;
    float: right;
    font-size: 10px;
    padding: 10px 10px;
    text-align: right;
    width: 25%;
  }

  .task .time .date {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .timeslot .task span {
    background: rgba(103, 194, 239, .1);
    border: 2px solid rgba(103, 194, 239, 1);
    display: block;
    font-size: 10px;
    padding: 5px;
  }

  .timeslot .task span span {
    background: transparent;
    border: 0px;
    padding: 0px;
  }

  .timeslot .task span span.details {
    font-size: 14px;
    margin-bottom: 0px;
  }

  .timeslot .task span span.remaining { font-size: 12px; }

  footer {
    margin: 0px;
    padding: 10px 20px;
  }
}

/* All Mobile Sizes (devices and browser)
====================================================================== */

@media only screen and (max-width: 767px) {
  #content {
    margin: -10px 0px 0px 0px;
    overflow: hidden;
  }

  #viewer-content {
    margin: -10px 0px 0px 0px;
    overflow: hidden;
  }

  .breadcrumb { margin: -5px -5px 5px -5px; }

  .nav-tabs.nav-stacked > li > a,
  .nav-tabs.nav-stacked > li > ul > li > a { margin-top: -2px; }

  .dark {
    border: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    padding: 5px;
    position: relative;
    right: 0px;
    top: 5px;
  }

  .statbox,
  .widget,
  .box,
  .circleStatsItemBox { margin-bottom: 20px !important; }

  /* Page: Tasks
	=================================================================== */

  .task {
    border-bottom: 1px solid #f9f9f9;
    margin-bottom: 1px;
  }

  .task.high { border-left: 2px solid rgba(250, 96, 61, 1); }

  .task.medium { border-left: 2px solid rgba(250, 187, 61, 1); }

  .task.low { border-left: 2px solid rgba(120, 205, 81, 1); }

  .task .desc {
    display: inline-block;
    font-size: 10px;
    margin-right: -20px;
    padding: 10px 10px;
    width: 96%;
  }

  .task .desc .title {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .task .time {
    display: inline-block;
    float: right;
    font-size: 10px;
    padding: 10px 10px;
    text-align: right;
    width: 25%;
  }

  .task .time .date {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .timeslot .task span {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: rgba(103, 194, 239, .1);
    border: 2px solid rgba(103, 194, 239, 1);
    border-radius: 4px;
    display: block;
    font-size: 10px;
    padding: 5px;
  }

  .timeslot .task span span {
    background: transparent;
    border: 0px;
    padding: 0px;
  }

  .timeslot .task span span.details {
    font-size: 14px;
    margin-bottom: 0px;
  }

  .timeslot .task span span.remaining { font-size: 12px; }

  .form-horizontal .control-label {
    float: none;
    margin-left: 10px;
    padding-top: 5px;
    text-align: left;
    width: 160px;
  }

  .form-horizontal .controls { margin-left: 10px; }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers)
====================================================================== */

@media only screen and (min-width: 480px) and (max-width: 767px) {
  body { padding: 0px; }

  #content { padding: 5px; }

  #viewer-content { padding: 5px; }

  .stat {
    float: left;
    margin: 10px 0% 0% 0%;
    width: 50%;
  }

  .quick-button,
  .quick-button-small { margin-bottom: 20px; }

  .pull-right {
    margin: 10px auto;
    text-align: center;
    width: 100%;
  }

  .fc-button-today,
  .fc-button-month,
  .fc-button-agendaWeek,
  .fc-button-agendaDay { display: none; }

  footer { padding: 10px 20px; }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers)
=================================================================== */

@media only screen and (max-width: 479px) {
  body { padding: 0px; }

  #content { padding: 5px; }

  #viewer-content { padding: 5px; }

  .stat {
    float: left;
    margin: 1% 0% 0% 0%;
    width: 100%;
  }

  .quick-button,
  .quick-button-small { margin-bottom: 20px; }

  .pull-right {
    margin: 10px auto;
    text-align: center;
    width: 100%;
  }

  .fc-button-today,
  .fc-button-month,
  .fc-button-agendaWeek,
  .fc-button-agendaDay { display: none; }

  table,
  .pagination { font-size: 10px; }

  .pagination { padding: 5px; }

  .ui-slider-handle { margin-top: 1px !important; }

  .sliderVertical .ui-slider-handle { margin: 0px 0px -10px 1px !important; }
	
	
  footer { padding: 10px 20px; }

  .navbar .nav > li { float: none; }
}