﻿
<script type="text/x-kendo-template" id="js-clicker-caution-template">
  <div class="row-fluid">
    <div class="box span12">
      <div class="box-header" data-original-title>
        <h2>
          <i class="halflings-icon edit"></i><span class="break"></span>
        </h2>
      </div>
      <div class="box-content">
                         
        <div class="page-header">
          <h1>Предупреждение.</h1>
        </div>
         
        <div class="row-fluid">
          <div class="span12">
            <p>Уже несколько пользвателей отозвались по-поводу этого объявления.</p>
            <p>И ваша оценка противоречит их мнению. Если Вы считаете, что правы по-поводу этого объявления, напишите нам на email: <a href="mailto:{{= email }}">{{= email }}</a> и укажите номер объявления: {{= id }}</p>
          </div>
        </div>

        <fieldset>
          <div class="form-actions">
            <button type="reset" class="btn js-cancel-button">Закрыть</button>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</script>