﻿@using WebParser.Web.Utilities

<script type="text/x-kendo-template" id="js-preview-parsing-result-template">
  <div class="row-fluid">
    <div class="box span12" id="js-parsed-article-preview">
      <div class="box-header" data-original-title="">
        <h2></h2>
      </div>

      <div class="box-content">
        
        <div class="priority low"><span>Id</span></div>
        <div class="task low">
          <div class="desc">{{= Id }}</div>
        </div>
        
        <div class="priority low"><span>Address Info</span></div>
        <div class="task low">
          <div class="desc">
            <div>
              {{ if(AddressInfo) { }}
              <ul>
                Address
                <li>FormattedAddress : {{= AddressInfo.FormattedAddress }}</li>
                <li>Latitude : {{= AddressInfo.Latitude }}</li>
                <li>Longitude : {{= AddressInfo.Longitude }}</li>
              </ul>
              {{ if(AddressInfo.NearestMetroStation) { }}
              <ul>
                Metro Station
                <li>Name : {{= AddressInfo.NearestMetroStation.Name }}</li>
                <li>DistanceText : {{= AddressInfo.NearestMetroStation.DistanceText }}</li>
                <li>DistanceValue : {{= AddressInfo.NearestMetroStation.DistanceValue }}</li>
                <li>DurationText : {{= AddressInfo.NearestMetroStation.DurationText }}</li>
                <li>DurationValue : {{= AddressInfo.NearestMetroStation.DurationValue }}</li>
              </ul>
              {{ } else { }}
              <ul>Metro Station Empty</ul>
              {{ } }}
              {{ } else { }}
              <ul>Empty</ul>
              {{ } }}
            </div>
          </div>
        </div>

        {{ for(var i = 0; i < ArticleFields.length; i++) { }}
        {{ var field = ArticleFields[i]; }}

        <div class="priority low"><span>{{= field.Name }}</span></div>

        <div class="task low">
          <div class="desc">
            <div>
              {{ for(var j = 0; j < field.RecognizedPhones.length; j++) { }}
              {{ var phone = field.RecognizedPhones[j]; }}
                  <pre>
RecognizedText: {{=phone.RecognizedText}}
FixedText: {{=phone.FixedText}}
MeanConfidencePercentage: {{=phone.MeanConfidencePercentage}}
                  </pre>
              {{ } }}

              {{ if(InBlackList && field.IsPhone) { }}
              <pre class='black-list'>В черном списке</pre>
              {{ } }} 
              
              {{ if(InWhiteList && field.IsPhone) { }}
              <pre class='white-list'>В белом списке</pre>
              {{ } }}

              {{ if(HidePhone && field.IsPhone) { }}
              <a class="btn btn-small btn-primary" @MetricsHelper.MetricGoal("open-phone-anonymous")
                href="@(Url.Action(
                      "Login",
                      "Account",
                            new {returnUrl = Url.Action("ViewerIndex", "ParsedContent")}) + "%3FArticleId%3D{{= Id}}")">Связаться</a>
              {{ } else if(CanBeVoted && field.IsPhone) { }}
              <button class="btn btn-small btn-primary js-call-button" @MetricsHelper.MetricGoal("open-phone")>Связаться</button>
              {{ } }}

              {{ if(field.IsImage && field.IsPhone) { }}
              <div {{= field.BackgroundColor ? 'style="background-color: ' + field.BackgroundColor + ';"' : '' }}>{{= field.Value }}</div>
              {{ } else if(field.IsImage) { }}
              <div class="gallery-wrapper"></div>
              {{ } else { }}
              <pre>{{= field.Value }}</pre>
              {{ } }}
            </div>
          </div>
        </div>

        {{ } }}
        
        <div class="priority low"><span>Image processing result</span></div>
        <div class="task low">
          <div class="desc">
            <div>
              <div class="full-size-images-gallery-wrapper"></div>
            </div>
          </div>
        </div>
          
        <div class="priority low"><span>Images Preview processing result</span></div>
        <div class="task low">
          <div class="desc">
            <div>
              <div class="images-preview-images-gallery-wrapper"></div>
            </div>
          </div>
        </div>

        <div class="clearfix">
        </div>

      </div>
    </div>
  </div>

</script>