﻿<i class="halflings-icon thumbs-up"></i><span>#: GoodRating #</span>
<i class="halflings-icon thumbs-down"></i><span>#: BadRating #</span>
<i class="halflings-icon remove"></i><span>#: OutdateRating #</span>
