﻿@using WebParser.Common
@using WebParser.Web.Utilities
<script type="text/x-kendo-template" id="js-vote-for-article-template">
  <div class="row-fluid">
    <div class="box span12">
      <div class="box-header" data-original-title>
        <h2>
          <i class="halflings-icon edit"></i><span class="break"></span>Позвонить
        </h2>
      </div>
      <div class="box-content">
                         
        <div class="page-header">
          <h1>Оставьте отзыв об объявлении</h1>
        </div>
         
        <div class="row-fluid">
          <div class="span12">
            <h2>За оставленные отзывы Вы получаете бесплатные дни</h2>
            <br/>
            <p>Тем самым Вы помогаете всем пользователям находить настоящие объявления, а мы делаем наш сервис лучше.</p>
          </div>
        </div>

        <form class="form-horizontal" action="" method="post">
          <fieldset>

            <div class="form-actions">
              <button type="button" class="btn btn-primary btn-success vote-button js-vote-button" @MetricsHelper.MetricGoal("vote-click-good") data-rating-type="@((int) ArticleRatingType.Good)">
                <i class="halflings-icon white thumbs-up"></i>
                От собственника
              </button>
              <button type="button" class="btn btn-primary btn-danger vote-button js-vote-button" @MetricsHelper.MetricGoal("vote-click-bad") data-rating-type="@((int) ArticleRatingType.Bad)">
                <i class="halflings-icon white thumbs-down"></i>
                Агентское
              </button>
              <button type="button" class="btn btn-primary btn-info vote-button js-vote-button" @MetricsHelper.MetricGoal("vote-click-outdate") data-rating-type="@((int) ArticleRatingType.Outdate)">
                <i class="halflings-icon white remove"></i>
                Уже сдано
              </button>

              <button type="reset" class="btn vote-button js-cancel-button" @MetricsHelper.MetricGoal("close-vote")>Закрыть</button>
            </div>

            {{ var filteredArticleFields = _.filter(ArticleFields, function(item){ return item.ShowOnVoteForm; }   ); }}
            {{ for(var i = 0; i < filteredArticleFields.length; i++) { }}
            {{ var field = filteredArticleFields[i]; }}

            <div class="priority low"><span>{{= field.Name }}</span></div>

            <div class="task low">
              <div class="desc">
                <div>
                  <pre {{= field.BackgroundColor ? 'style="background-color: ' + field.BackgroundColor + ';"' : '' }}>{{= field.Value }}</pre>
                </div>
              </div>
            </div>

            {{ } }}


          </fieldset>
        </form>
      </div>
    </div>
  </div>
</script>