﻿@using WebParser.Common
@using WebParser.Web.Utilities
@model WebParser.Controllers.ViewModels.ParsedContent.VoteForArticleModel

<script type="text/x-kendo-template" id="js-vote-confirmation-template">
  <div class="row-fluid">
    <div class="box span12">
      <div class="box-header" data-original-title>
        <h2>
          <i class="halflings-icon edit"></i><span class="break"></span>
        </h2>
      </div>
      <div class="box-content">
                         
        <div class="page-header">
          <h1>Да, я действительно позвонил.</h1>
        </div>
         
        <div class="row-fluid">
          <div class="span12">
            <p>С помощью системы опроса мы делаем наш сервис лучше. И с каждой Вашей оценкой качество объявлений растет!</p>
            <p>Если Вы действительно позвонили, то нажмите "Да". Огромное Вам спасибо!</p>
            <p>Если нет, то ПОЖАЛУЙСТА!!! нажмите "Дайте баллов" и вы действительно получите ровно столько же баллов на бесплатные дни, но при этом хотя бы не навредите сервису и всем остальным пользователям.</p>
          </div>
        </div>

        <form class="form-horizontal js-vote-confirmation-form js-validateble-form" action="@Url.Action("VoteForArticle", "ParsedContent")" method="post">
          @Html.ValidationSummary()
          @Html.HiddenFor(x => x.ArticleId, new { @Value = "{{=id}}" })
          @Html.HiddenFor(x => x.RatingTypeId, new { @Value = "{{=ratingTypeId}}" })
          
          <fieldset>

            <div class="form-actions">
              <button type="button" class="btn btn-primary btn-success js-submit-button js-confirm-vote" @MetricsHelper.MetricGoal("confirm-call-vote")>Да</button>
              <button type="button" class="btn btn-primary btn-danger js-submit-button js-do-not-cosider-vote" @MetricsHelper.MetricGoal("confirm-bonus-vote")>Дайте баллов</button>

              <button type="reset" class="btn js-cancel-button" @MetricsHelper.MetricGoal("close-confirm-vote")>Закрыть</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</script>