﻿@using Kendo.Mvc.UI
@using WebParser.Controllers.Mappers
@using WebParser.Controllers.ViewModels.ParsedContent
@using WebParser.Controllers.ViewModels.Shared
@using WebParser.Web.Utilities
@model ViewerIndexViewModel

@{
    ViewBag.Title = "Объявления";
    Layout = "~/Views/Shared/_ViewerLayout.cshtml";
}

<ul class="breadcrumb">
  <li>
    <i class="icon-home"></i>
    <a href="/">Главная</a>
    <i class="icon-angle-right"></i>
  </li>
  <li>@Html.ActionLink("Объявления", "ViewerIndex", "ParsedContent")</li>
</ul>

<div class="js-viwer-parsed-content-view">

  @Html.HiddenFor(x => x.ArticleId)

  <div class="js-content-container">

    <div class="row-fluid">
      <div class="box span12">
        <div class="box-header">
          <h2>Фильтры</h2>
        </div>

        <div class="box-content form-horizontal js-article-filters">
          <div class="control-group">
            @Html.Label("Категория", new
            {
              @class = "control-label"
            })
            <div class="controls">
              @(Html.Kendo().DropDownList()
                  .Name("source-users-dropdown")
                  .BindTo(Model.SourceUsers)
                  .DataTextField("Name")
                  .DataValueField("Id")
                  .Value(Model.SelectedSourceUserId)
                  .HtmlAttributes(new { style = "width:250px" })
              )
            </div>
          </div>

          <div class="control-group">
            @Html.Label("Метро", new
            {
              @class = "control-label"
            })
            <div class="controls">
              @(Html.Kendo().MultiSelect()
                  .Name("metro-stations")
                  .DataTextField("Name")
                  .DataValueField("Id")
                  .AutoBind(false)
                  .Placeholder("Введите название станции")
                  .TagMode(TagMode.Multiple)
                  .IgnoreCase(true)
                  .Filter(FilterType.Contains)
                  .HtmlAttributes(new {style = "width:300px"})
                  .DataSource(ds => ds
                    .ServerFiltering(false)
                    .Read(read => read
                      .Action("GetMetroStations", "Data")
                      .Type(HttpVerbs.Post)
                    ))
                  )
            </div>
          </div>

          <div class="control-group">
            @Html.Label("Тип недвижимости", new
            {
              @class = "control-label"
            })

            <div class="controls" data-bind="source: articleGroups" data-template="js-article-group-item-template">
            </div>
            <script type="text/x-kendo-template" id="js-article-group-item-template">
              <label class="checkbox inline">
                <div class="checker"><span class="checker"><input type="checkbox" data-bind="value: id, checked: checked" name="ArticleGroupItem" @MetricsHelper.MetricGoal("#: name #")></span></div>
                <div data-bind="text: name"></div>
              </label>
            </script>
          </div>
        </div>

      </div>

    </div>

    <div class="row-fluid ">
      <div class="box span12">
        <div class="box-header">
          <h2>Результаты</h2>

          <div class="box-icon">
            <a href="#" class="btn-setting js-refresh"><i class="halflings-icon refresh"></i>Обновить</a>
          </div>
        </div>

        <div class="box-content">
          @Html.Partial("_ErrorNotification")

          @(Html.Kendo()
              .SimpleGrid<ViewerParsedArticleItemViewModel>()
              .Name("viewer-parsed-articles")
              .AutoBind(false)
              .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
              .Columns(c =>
              {
                c.Bound(x => x.Link).ClientTemplate("<a href='#:Link#' target='_blank'>Link</a>").Filterable(false).Sortable(false);
                c.Bound(x => x.ArticlesGroup).Filterable(false).Sortable(false);
                c.Bound(x => x.Price)
                  .Filterable(x => x.Cell(y => y.InputWidth(90)))
                  .Sortable(false)
                  .Width(150);

                c.Bound(x => x.Metro).Filterable(false).Sortable(false);
                c.Bound(x => x.Rating).Filterable(false).Sortable(false).Width(110).ClientTemplate(Html.Partial("~/Views/ParsedContent/_RatingTemplate.cshtml").ToString());

                c.ForeignKey(x => x.SiteId, Model.Sites, "Id", "Name").Filterable(x => x.BindTo(Model.Sites).Cell(y => y.InputWidth(150))).Sortable(false).Width(250);

                c.Bound(x => x.CreatedDate).ClientTemplate("#: CreatedDateStr #").Filterable(x => x.Cell(y => y.InputWidth(115))).Width(200);
                c.Bound(x => x.InBlackList);
                c.Bound(x => x.InWhiteList);
                c.Bound(x => x.IsDuplicate);
                c.Bound(x => x.DuplicateGroupId);
                c.Bound(x => x.ParsingFailedCount);
                c.Bound(x => x.ParsingFailedReason);
                c.Bound(x => x.Id)
                .Sortable(false)
                .Filterable(
                  x =>
                  x.Cell(
                      y =>
                      y.Template(
                      @"
                          function (args) {
                            args.element.kendoNumericTextBox({
                              min: 0,
                              max: 99999999,
                              spinners: false,
                              decimals: 0,
                              format: '0'
                            });
                          }")
                    .ShowOperators(false).InputWidth(70)))
                    .Width(120);

              })
              .DataSource(read => read
                .Ajax()
                .Read(y => y
                  .Action("ReadViewerArticles", "ParsedContent")
                  .Type(HttpVerbs.Post)
                  .Data("application.additionalDataHandlers.getHandler('onViewerFilter')"))
                .Sort(x => x.Add("CreatedDate").Descending())
                .Filter(x => x.Add(y => y.IsDuplicate).IsEqualTo(false))
                .PageSize(5))
          )
        </div>
      </div>

      <div id="js-parsed-article-placeholder"></div>

    </div>

  </div>

  <div id="js-vote-form-placeholder"></div>
  <div id="js-vote-confirmation-placeholder"></div>
  <div id="js-clicker-caution-placeholder"></div>

</div>

@section templates
{
  @Html.Partial("~/Views/ParsedContent/_PreviewViewerParsedArticleTemplate.cshtml")
  @Html.Partial("~/Views/ParsedContent/_VoteForArticleTemplate.cshtml")
  @Html.Partial("~/Views/ParsedContent/_VoteConfirmationTemplate.cshtml", new VoteForArticleModel())
  @Html.Partial("~/Views/ParsedContent/_ClickerCautionTemplate.cshtml")
  @Html.Partial("~/Views/ParsedContent/_Gallery.cshtml")
}