@import '~@angular/material/_theming.scss';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$candy-app-primary: mat-palette($mat-deep-orange, A400);
$candy-app-accent: mat-palette($mat-deep-orange, A400);
$candy-app-high-accent: mat-palette($mat-deep-orange, A700);
$candy-app-warn: mat-palette($mat-red, A400);

$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

@include angular-material-theme($candy-app-theme);

$grey-primary: mat-palette($mat-grey, 100);
$grey-component-theme: mat-light-theme($grey-primary, $candy-app-accent, $candy-app-warn);

@include mat-toolbar-theme($grey-component-theme);

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('/static/font/MaterialIcons-Regular.eot');
  
  /* For IE6-8 */
  src: url('/static/font/MaterialIcons-Regular.woff2') format('woff2'), 
       url('/static/font/MaterialIcons-Regular.woff') format('woff'), 
       url('/static/font/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

:link { color: rgba(0, 0, 0, 0.54); }
:visited { color: rgba(0, 0, 0, 0.54); }

@import './app/app.component.scss';